<section enter-contest-ctrl>

  <div class="enter-contest-wrapper">

    <contest-header contestData="ctrl.contest" mode="'ENTER_CONTEST'"></contest-header>

    <!-- Nav tabs -->
    <ul class="enter-contest-tabs" role="tablist">
      <li class="active"><a role="tab" data-toggle="tab" ng-click="ctrl.tabChange('lineup-tab-content')">Tu alineación</a></li>
      <li><a role="tab" data-toggle="tab" ng-click="ctrl.tabChange('contest-info-tab-content')">Info torneo</a></li>
    </ul>

    <div id="matchTeamsFilterContainer" class="match-teams-filter" ng-class="{'contest-info-tab-active': ctrl.isActiveContestInfoTab()}">
      <button class="btn btn-default button-filtro-team" id="match-all" ng-click="ctrl.setMatchFilter(ctrl.ALL_MATCHES)">Todos los<br>partidos</button>
      <button class="btn btn-default button-filtro-team" ng-repeat="match in ctrl.availableMatchEvents" ng-bind-html="match.texto" id="match-{{match.id}}" ng-click="ctrl.setMatchFilter(match.id)"></button>
    </div>

    <div id="enterContest">
      <!-- Version Desktop-->
      <div ng-if="ctrl.scrDet.isDesktop">

        <div class="enter-contest-soccer-players-wrapper">
          <div class="enter-contest-soccer-players">
           <soccer-players-filter on-name-filter-change="ctrl.onNameFilterChange(nameFilter)" 
                                  field-pos-filter="ctrl.fieldPosFilter"></soccer-players-filter>
                                  
           <soccer-players-list contest="ctrl.contest" on-row-click="ctrl.onRowClick(soccerPlayerId)"></soccer-players-list>
          </div>
        </div>

        <div class="enter-contest-lineup-wrapper">
          <div class="enter-contest-lineup">
            <div class="enter-contest-total-salary">
                TU ALINEACIÓN
                <span class="total-salary"><span class="total-salary-text">DINERO RESTANTE:</span><span ng-class="ctrl.getMyTotalSalaryClasses()">{{ctrl.availableSalary}}€</span></span>
            </div>
            <lineup-selector></lineup-selector>
            <div class="enter-contest-actions-wrapper">
              <div class="button-wrapper">
                <button type="button" class="btn-clean-lineup-list" ng-click="ctrl.deleteFantasyTeam()" ng-disabled="ctrl.isPlayerSelected()">BORRAR TODO</button>
              </div>
              <div class="button-wrapper">
                <button type="button" class="btn-confirm-lineup-list" ng-click="ctrl.createFantasyTeam()" ng-disabled="!ctrl.isFantasyTeamValid()">CONFIRMAR</button>
              </div>
              <p>Recuerda que puedes editar tu equipo cuantas veces quieras hasta que comience la competición</p>
            </div>
          </div>
        </div>

      </div> <!-- Fin ng-if="ctrl.scrDet.isDesktop" -->

      <!-- Resto de Versiones-->
      <div id="enterContestNotDesktop" ng-if="!ctrl.scrDet.isDesktop">
        <div class="tabs">
          <!-- Tab panes -->
          <div class="tab-content">

            <div class="tab-pane active" id="lineup-tab-content">

                <div class="enter-contest-actions-wrapper">
                  <div class="total-salary"><span ng-class="ctrl.getMyTotalSalaryClasses()">{{ctrl.availableSalary}}€</span></div>
                  <button id="cancelSoccerPlayerSelection" type="button" class="btn-cancel-player-selection" ng-click="ctrl.cancelPlayerSelection()" ng-show="ctrl.isSelectingSoccerPlayer">CANCELAR</button>
                </div>
                <div class="enter-contest-lineup-wrapper">
                  <div class="enter-contest-lineup">
                    <div class="enter-contest-total-salary">
                        <span class="total-salary-text">TU ALINEACIÓN</span>
                        <span class="total-salary"><span class="total-salary-text">DINERO RESTANTE:</span><span ng-class="ctrl.getMyTotalSalaryClasses()">{{ctrl.availableSalary}}€</span></span>
                    </div>
                    <lineup-selector ng-show="!ctrl.isSelectingSoccerPlayer || ctrl.scrDet.isSmScreen"></lineup-selector>
                  </div>
                </div>
                <div class="enter-contest-soccer-players-wrapper">
                  <div class="enter-contest-soccer-players">
                    <soccer-players-list contest="ctrl.contest" ng-show="ctrl.isSelectingSoccerPlayer || ctrl.scrDet.isSmScreen" on-row-click="ctrl.onRowClick(soccerPlayerId)"></soccer-players-list>
                  </div>
                </div>

                <div class="enter-contest-actions-wrapper">
                  <button type="button" class="btn-cancel-player-selection" ng-click="ctrl.cancelPlayerSelection()" ng-show="ctrl.isSelectingSoccerPlayer">CANCELAR</button>
                  <div class="button-wrapper">
                    <button type="button" class="btn-clean-lineup-list" ng-click="ctrl.deleteFantasyTeam()" ng-if="!ctrl.isSelectingSoccerPlayer || ctrl.scrDet.isSmScreen" ng-disabled="ctrl.isPlayerSelected()" >BORRAR TODO</button>
                  </div>
                  <div class="button-wrapper">
                    <button type="button" class="btn-confirm-lineup-list" ng-click="ctrl.createFantasyTeam()" ng-if="!ctrl.isSelectingSoccerPlayer || ctrl.scrDet.isSmScreen" ng-disabled="!ctrl.isFantasyTeamValid()">CONFIRMAR</button>
                  </div>
                  <p ng-if="!ctrl.isSelectingSoccerPlayer || ctrl.scrDet.isSmScreen">
                    Recuerda que puedes editar tu equipo cuantas veces quieras hasta que comience la competición
                  </p>
                </div>

            </div>

            <div class="tab-pane" id="contest-info-tab-content">
              <contest-info contest-data="ctrl.contest"></contest-info>
            </div>
            
          </div>
        </div>
      </div> <!-- Fin ng-if="!ctrl.scrDet.isDesktop" -->
      
      <div class="contest-id-bar">
        <div class="contest-id">ID: {{ctrl.contest.contestId.toUpperCase()}}</div>
      </div>
    </div>

  </div>

  <div class="soccer-player-info-wrapper" ng-if="ctrl.scrDet.isXsScreen">
    <soccer-player-info instance-soccer-player="ctrl.selectedInstanceSoccerPlayer"></soccer-player-info>
  </div>

  <!-- Modal Window que envuelve la informacion de concurso, mostrada cuando clickamos en cualquiera de los campos de la fila -->
  <div  id="infoContestModal" class="modal fade" tabindex="-1" role="dialog" ng-if="!ctrl.scrDet.isXsScreen">
    <div class="modal-dialog modal-lg">
      <div class="modal-content-soccer-player-info">
        <soccer-player-info instance-soccer-player="ctrl.selectedInstanceSoccerPlayer"></soccer-player-info>
      </div>
    </div>
  </div>

</section>