<section enter-contest-ctrl>

<div ng-if="ctrl.scrDet.isXsScreen" ng-cloack>
  
  
  <div class="enter-contest-actions">
    <div id="enter-contest-total-salary">
        <span id="total-salary">{{ctrl.availableSalary}}€</span>
    </div>
    <button type="button" class="btn-cancel-player-selection" ng-click="ctrl.cancelPlayerSelection()" ng-show="ctrl.isSelectingSoccerPlayer">Cancelar</button>
  </div>

  <lineup-selector ng-show="!ctrl.isSelectingSoccerPlayer">
  </lineup-selector>
  
  <soccer-players-list ng-show="ctrl.isSelectingSoccerPlayer">
  </soccer-players-list>
  
  <div class="enter-contest-actions">
    <button type="button" class="btn-cancel-player-selection" ng-click="ctrl.cancelPlayerSelection()" ng-show="ctrl.isSelectingSoccerPlayer">Cancelar</button>
    <button type="button" class="btn-clean-lienup-list" ng-click="ctrl.deleteFantasyTeam()" ng-disabled="ctrl.isPlayerSelected()" ng-show="!ctrl.isSelectingSoccerPlayer">Borrar todo</button>
    <button type="button" class="btn-confirm-lienup-list" ng-click="ctrl.createFantasyTeam()" ng-disabled="!ctrl.isFantasyTeamValid()" ng-show="!ctrl.isSelectingSoccerPlayer">Confirmar</button>
    <p ng-show="!ctrl.isSelectingSoccerPlayer">Recuerda que puedes editar tu equipo cuantas veces quiereas hasta que comience la competición</p>
  </div>
</div>

<div ng-if="!ctrl.scrDet.isXsScreen" ng-cloack>
  <soccer-players-list>
  </soccer-players-list>
  
  <lineup-selector>
  </lineup-selector>
  
  <div class="enter-contest-actions">
    <button type="button" class="btn" ng-click="ctrl.createFantasyTeam()" ng-disabled="!ctrl.isFantasyTeamValid()">CONFIRMAR</button>
  </div>
</div>

</section>