<section signup-ctrl>

<form class="form-join form-horizontal" ng-submit="ctrl.submitSignup()" data-toggle="validator" role="form">
<fieldset>

<!-- Form Name -->
<legend>Start Playing</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="Your first name">Your first name</label>
  <div class="controls">
    <input id="firstName" name="Your first name" ng-model="ctrl.firstName" type="text" placeholder="your first name" class="input-xlarge form-control" data-toggle="validator" required="">
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="Your last name">Your last name</label>
  <div class="controls">
    <input id="lastName" name="Your last name" ng-model="ctrl.lastName" type="text" placeholder="your last name" class="input-xlarge form-control" data-toggle="validator" required="">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="Email">Email</label>
  <div class="controls">
    <input id="email"name="Email" ng-model="ctrl.email"  type="email" placeholder="email" class="input-xlarge form-control" data-toggle="validator" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="NickName">Pick a screen name</label>
  <div class="controls">
    <input id="nickName" name="NickName" ng-model="ctrl.nickName" type="text" placeholder="nickname" class="input-xlarge form-control" data-toggle="validator" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="Password">Choose password</label>
  <div class="controls">
    <input id="password" name="Password" ng-model="ctrl.password" type="password" placeholder="password" class="input-xlarge form-control" data-toggle="validator" required="" data-minlength="8" ng-minlength="8">
    <p class="help-block">min 8 characters</p>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="joinNow"></label>
  <div class="controls">
    <button id="joinNow" name="joinNow" class="btn btn-primary">Join Now</button>
  </div>
</div>

</fieldset>
</form>

</section>



