<section live-contest-ctrl ng-show="ctrl.initialized">

<contest-header contestData="ctrl.getContest()"></contest-header>
<div id="liveContestRoot" ng-switch="ctrl.scrDet.isXsScreen" ng-cloak>
  <div ng-switch-when="true">
    <ul class="nav nav-tabs" id="liveContestTab" >
      <li class="active"><a href="#/live_contest/#userFantasyTeam" data-toggle="tab">Tu alineación</a></li>
      <li><a href="#/live_contest/#usersList" data-toggle="tab">Usuarios</a></li>
      <li><a href="#/live_contest/#opponentFantasyTeam" data-toggle="tab">Adversario</a></li>
    </ul>
    
    <div class="tab-content" id="liveContestTabContent">
      <fantasy-team class="tab-pane active" id="userFantasyTeam"></fantasy-team>
      <users-list class="tab-pane" id="usersList"></users-list>
      <fantasy-team class="tab-pane" isOpponent="true" id="opponentFantasyTeam"></fantasy-team>
    </div>
  </div>

  <div ng-switch-when="false">
    <fantasy-team id="userFantasyTeam" user="ctrl.mainPlayer"></fantasy-team> 
    <users-list id="usersList" ng-show="ctrl.selectedOpponent == null" selectedUser="ctrl.selectedOpponent"></users-list>    
    <fantasy-team id="opponentFantasyTeam" user="ctrl.selectedOpponent" isOpponent="true" ng-show="ctrl.selectedOpponent != null"
                  showCloseButton="true" onClose="ctrl.selectedOpponent=null"></fantasy-team>
  </div>
</div>

</section>