<section lobby-ctrl>

<h2>Lista de Partidos</h2>

<div ng-repeat="contest in ctrl.contestService.activeContestsPack.contests">
    <span>{{contest.name}}</span> |
    <span>{{contest.currentEntries}}</span> |
    <span>{{contest.maxEntries}}</span> |
    <span>{{contest.salaryCap}}</span> |
    <span>{{contest.entryFee}}</span> |
    <span>{{contest.prizeType}}</span>
    <button type="button" class="btn btn-xs btn-success" ng-click="ctrl.enterContest(contest)">Entrar</button>
</div>

</section>