<section view-contest-ctrl ng-show="ctrl.updatedDate != null">

  <contest-header contestData="ctrl.contest" mode="'VIEW_CONTEST'"></contest-header>

  <div class="info-and-social-bar">
    <!--<div class="social"><img src="images/socialBig.png"></div>-->
    <div class="teams-info-wrapper" ng-repeat="match in ctrl.matchesInvolved">
      <div class="teams-info" ng-bind-html="match"></div>
    </div>
  </div>

  <div id="liveContestRoot" ng-switch="ctrl.scrDet.isXsScreen" ng-cloak>
    <div ng-switch-when="true">
     <!-- Tabs de la versión XS -->
      <ul class="live-contest-tabs" id="liveContestTab" >
        <li class="active"><a ng-click="ctrl.tabChange('userFantasyTeam')" data-toggle="tab">Tu alineación</a></li>
        <li><a ng-click="ctrl.tabChange('usersList')" data-toggle="tab">Usuarios</a></li>
        <li><a id="opponentTab" ng-click="ctrl.tabChange('opponentFantasyTeam')" data-toggle="tab">{{ctrl.lastOpponentSelected}}</a></li>
      </ul>

      <div class="tab-content" id="liveContestTabContent">
        <fantasy-team class="tab-pane active" id="userFantasyTeam" contest-entry="ctrl.mainPlayer" watch="ctrl.updatedDate" is-opponent="false"></fantasy-team>
        <users-list class="tab-pane" id="usersList" contest-entries="ctrl.contestEntries" selected-contest-entry="ctrl.selectedOpponent" watch="ctrl.updatedDate"></users-list>
        <fantasy-team class="tab-pane" is-opponent="true" id="opponentFantasyTeam" contest-entry="ctrl.selectedOpponent" watch="ctrl.updatedDate"></fantasy-team>
      </div>
    </div>

    <div ng-switch-when="false">
      <fantasy-team id="userFantasyTeam" contest-entry="ctrl.mainPlayer" watch="ctrl.updatedDate" is-opponent="false"></fantasy-team>
      <users-list id="usersList" ng-show="ctrl.selectedOpponent == null" contest-entries="ctrl.contestEntries" selected-contest-entry="ctrl.selectedOpponent"
                  watch="ctrl.updatedDate"></users-list>
      <fantasy-team id="opponentFantasyTeam" contest-entry="ctrl.selectedOpponent" is-opponent="true" ng-show="ctrl.selectedOpponent != null"
                    show-close-button="true" on-close="ctrl.selectedOpponent=null" watch="ctrl.updatedDate"></fantasy-team>
    </div>
    <div class="contest-id-bar">
      <div class="contest-id">ID: {{ctrl.contest.contestId.toUpperCase()}}</div>
    </div>
    <div class="clear-fix-bottom"></div>
  </div>

</section>
