achievement-list {
	.flex-container-row();
	padding: 15px;
	background-color: @soft-black;	
	justify-content: space-around;
	flex-wrap: wrap;
	.achievement-count {
		flex: 1 100%;
		.mainfont_light(14pt, @white, center, uppercase);
	}

	achievement {
		.flex-elem-fixed();
		width: 180px;
	}

}