#achivements-wrapper {
		@colors: '@{blueDark}',  '@{orange}',  '@{darkRed}',	   '@{greyUltraDark}',  '@{lightGreen}';
		@names:  'Training', 	   'Oficial',    'ManagerLevel',   'Player', 					  'SkillLevel';
	
		padding: 10px;
		.achivement {
			.make-xs-column(3);
			text-align: center;
			padding: 20px 5px;
			//border: 1px solid red;
			opacity: 0.5;
			
			&.earned {
				opacity: 1;
			}
			
			.achivement-icon img {
				top: 32px;
				position: relative;
				display: block;
				left: 32px;
			}
			
			.achivement-config(@iconImage, @nameColor) {
				.achivement-icon {
					.addIcon(@iconImage, 128px, 128px);
				}
				.achivement-name {
					.exo_bold(16pt, @nameColor);
				}
			}
			
			.achivement-config('basic', @greyUltraDark);
			
			.achivement-description {
				.opensans_normal(10pt, @greyDark);
			}
			
			.loop(@index) when (@index  > 0) {
				.loop((@index  - 1));    // next iteration
    		@color: e(extract(@colors, @index));
    		@name: e(extract(@names, @index));
				@photo: "achivements/AchievementBase@{name}.png";
				&.@{name} {	
					.achivement-config(@photo, @color);
				}
			}
			
			@i: length(@colors);
			.loop(length(@colors)); // launch the loop
			
		}


}