// Utilidades para generar con comodidad todos los prefijos. 
.animateWithKeyFrames(@name, @time) {
	-webkit-animation: @name @time; 
  	-moz-animation: @name @time;
  	-ms-animation: @name @time;
	-o-animation: @name @time;
	animation: @name @time;
}

.transition(@property, @time, @curve) {
	-webkit-transition: @property @time @curve; 
  	-moz-transition: @property @time @curve;
  	-ms-transition: @property @time @curve;
	-o-transition: @property @time @curve;
	transition: @property @time @curve;
}

// Translacion en X acelerada por HW y compatible con browsers que no tienen el translate 3d
.translateX(@amount) {
    -moz-transform: translateX(@amount);
    -ms-transform: translateX(@amount);
    -o-transform: translateX(@amount);
    -webkit-transform: translateX(@amount);
    transform: translateX(@amount);

    -moz-transform: translateZ(@amount) translateX(@amount);
    -ms-transform: translateZ(@amount) translateX(@amount);
    -o-transform: translateZ(@amount) translateX(@amount);
    -webkit-transform: translateZ(@amount) translateX(@amount);
    transform: translateZ(@amount) translateX(@amount);

    -moz-transform: translate3d(@amount, 0, 0);
    -ms-transform: translate3d(@amount, 0, 0);
    -o-transform: translate3d(@amount, 0, 0);
    -webkit-transform: translate3d(@amount, 0, 0);
    transform: translate3d(@amount, 0, 0);
}

#doKeyFrames(@name; @frames) {
    @-webkit-keyframes @name { @frames(); }
    @-moz-keyframes @name { @frames(); }
    @-o-keyframes @name { @frames(); } 
    @keyframes @name { @frames();  }
}

// Viene desde unos pixeles mas a la derecha haciendo fadein
.appear-from-right-animation {
	position: relative;

	#doKeyFrames(appear-from-right-keyframes, {
			0%   { left: 100px; opacity: 0; }
    		100% { left: 0px;   opacity: 1; }
		});
	.animateWithKeyFrames(appear-from-right-keyframes, 0.5s);
}

// Viene de unos pixeles mas abajo haciendo fadein. Por ejemplo para los formularios.
.slide-in-from-bottom-animation {
	//position: relative;

	#doKeyFrames(slide-in-from-bottom-keyframes, {
			0%  { 
					opacity: 0;
					transform: translate(-50%, 100%);
					-webkit-transform: translate(-50%, 100%);
					-moz-transform: translate(-50%, 100%);
				  	-ms-transform: translate(-50%, 100%);
				}
    		100%{ 
    				opacity: 1; 
    				transform: translateY(-50%, 0%);
					-webkit-transform: translateY(-50%, 0%);
					-moz-transform: translateY(-50%, 0%);
				  	-ms-transform: translateY(-50%, 0%);
    			}
		});
	.animateWithKeyFrames(slide-in-from-bottom-keyframes, 0.4s);
}

// Fadein clasico
.fadein-animation(@time) {
	#doKeyFrames(fadein-keyframes, {
			from { opacity: 0; }
			to { opacity: 1; }
		});
	.animateWithKeyFrames(fadein-keyframes, @time);
}

// Animacion de altura basada en el max-height. Tienes que asegurarte de que siempre es mas
// que el maximo que puede llegar a ser el div.
/* 
	No funciona probablemente por la generacion del nombre "height-keyframes". 
	Requiere leer mas.

.height-animation(@fromHeight, @toHeight, @time) {
	#doKeyFrames(height-keyframes, { 
				from { max-height: @fromHeight; }
				to { max-height: @toHeight; }
				});
	.animateWithKeyFrames(height-keyframes, @time);
}
*/
