#betaComp {
	background-color: @white;
	.block-blue-header {
		background-color: @blueLight;
	}
	.title {
		.exo_light(20pt, @blueDark);
		padding: 16px 10px 12px;
		text-align: center;
	}
	.title_white {
		.title();
		color: @white;
		@media (max-width: @screen-xs-max) {
			.exo_light(16pt, @white);
		}
	}
	.beta-info-wrapper {
		//.make-xs-column(12);
		background-color: @white;
		padding: 20px 8% 80px 8%;
		.texto {
			.opensans_normal(12px, @greyDark);
			text-align: center;
		}
	}
}