@white: #FFFFFF;
@black: #000000;

@blueDark: #214A5F;
@blueMed: #0D75A6;
@blueLight: #59ADD5;
@blueMenu: #AFD3E4;

@orange: #FA9C19;
@orange50: #F4C788;

@green: #A1C931;

@greyUltraDark: #434343;
@greyDark: #777777;
@greyMed: #AfAfAf;
@greyLight: #DCDCDC;
@greyUltralight: #F8F8F8;

@tramaBlue: #ECF0F1;
@tramaPor: #FFF6E5;
@tramaDef: #E5F3E7;
@tramaMed: #E8EFF6;
@tramaDel: #FCEAEA;

// Color Definitions 
@color11: @black;
@color12: @white;
@color21: @blueDark;
@color22: @blueMed;
@color23: @blueLight;
@color24: @blueMenu;
@color31: @orange;
@color32: @orange50;
@color33: @green;
@color41: @greyUltraDark;
@color42: @greyDark;
@color43: @greyMed;
@color44: @greyLight;
@color45: @greyUltralight;
@color51: @tramaBlue;
@color61: @tramaPor;
@color62: @tramaDef;
@color63: @tramaMed;
@color64: @tramaDel;