@white: #FFFFFF;
@black: #000000;

@yellow: #ffff00;
@yellowLight: #fdfbe6;

@blueHyperDark: #08161b;
@blueUltraDark: #0a2938;
@blueDark: #214A5F;
@blueMed: #0D75A6;
@blueLight: #59ADD5;
@blueUltraLight:#f3f3f3;
@blueMenu: #AFD3E4;
@blueFB: #4a65a0;
@blueTwitter: #55acee;
@blueGradientLight: #1a3949;
@blueGradientDark: #0f2630;
@blueVirtual: #3d5c6c;

@orange: #FA9C19;
@orange50: #F4C788;
@orangeHeaderLight: #fba61a;
@orangeHeaderDark: #ec990e;
@orangeGold: #f7ad03;

@greyUltraDark: #434343;
@greyDark: #777777;
@greyMed: #AfAfAf;
@greyLight: #DCDCDC;
@greyLighter: #e7e7e7;
@greyUltraLight: #F8F8F8;
@greyHeaderLight: #606060;
@greyHeaderDark: #555555;

@greyBlue: #6a8597;
@blueManager: #55c0ff;

@green: #A1C931;
@greenLight: #8eb819;

@red: #FF0000;
@redDark: #d90006;

@tramaBlue: #ECF0F1;
@tramaRed: #f8f0f0;

@tramaPor: #FFF6E5;
@tramaDef: #E5F3E7;
@tramaMed: #E8EFF6;
@tramaDel: #FCEAEA;