#headerContestWidget{
	.make-row(0); 
	padding: 10px 0px;
	background-color: @tramaBlue;

	@media (min-width: @screen-md-min) {
		.container();
		.contestName{
			.make-sm-column(12);
			.make-md-column(12);
			.make-lg-column(12);
			border: 1px solid red;

		}
		.featured-text{
			.exo_bold(18pt, @blueDark);
		}
		.contestExplanation {
			.make-sm-column(8);
			.make-md-column(8);
			.make-lg-column(8);
			border: 1px solid red;
			.date-text{
				.opensans_bold(12pt, @greyUltraDark);
			}
			.explanation-text{
				.opensans_bold(12pt, @greyDark);
			}
		}
		.contestPrice {
			.make-sm-column(2);
			.make-md-column(2);
			.make-lg-column(2);
			border: 1px solid red;
		}
		.header-name{
			.opensans_bold(12pt, @greyDark);
		}
		.featured-money-text{
			.featured-text();

		}
		.contestPrize { 
			.make-sm-column(2);
			.make-md-column(2);
			.make-lg-column(2);
			border: 1px solid red;
		}
		
		.inner-icon {
			float: left; 
			padding: 0px 5px 0px 0px; 
			margin-top: 30px; 
		}
	}
	@media (max-width: @screen-sm-max) {
		.container-fluid();
	}

	@media (min-width: @screen-sm-min){
		
	}

	@media (max-width: @screen-xs-max){

		.contestName{
			.make-xs-column(12);
			padding: 0 5px;

			.featured-text{
				.opensans_bold(10pt, @blueDark);
			}
			.date-text{
				.opensans_bold(10pt, @greyUltraDark);
			}
		}
		.contestPrice{
			.make-xs-column(4);
			padding: 0 5px;
			margin: 5px auto;
			vertical-align: middle;
		}
		.contestPrize{
			.make-xs-column(8);
			padding: 0 5px;
			margin: 5px auto;
		}
		.contestTimes { 
			.date-text {
				.make-xs-column(8);
				.opensans_bold(9pt, @blueMed);
				padding: 0 5px;
				margin: 5px auto 0;
			}
			.countdown-text {
				.make-xs-column(4);
				.opensans_bold(9pt, @blueDark);
				padding: 0 5px;
				text-align: right;
				margin: 5px auto 0;
			}
		}
		.money-text{
			.opensans_bold(10pt, @greyUltraDark);
			background-color: @greyLight;
			border-radius: 20px;
			padding: 2px 8px;
			margin-right: 2px;
			float: left;
		}

		.explanation-text{
			.opensans_normal(10pt, @greyDark);
			padding: 2px 0;
		}

		.close_contest {
			float: left;
			position: absolute;
			right: 5px;
			.btn {
				.btn-default();
			}
			.btn::after {
				font-family: 'Glyphicons Halflings';
				font-size: 9pt;
				content: "\e014";
				margin-left: 10px;
			}
		}
	}
	
	
}
