.contest-info-section {
	overflow: hidden;
}
contest-info {
	background-color: @soft-black;
	overflow-y: scroll;
	.header-section {
		.flex-container-row();
		.flex-container-content-centered();
		.mainfont_light( 14pt, @orange, center, uppercase);		
		height: 60px;
		align-items: center;
	}
	.info-header {
		.header-section();
		border-bottom: 1px solid @grey-gradient-dark;
		.prize-section,.price-section {
			.flex-elem-fixed(150px);
			.flex-container-row();
			align-items: center;
			height: 60px;
			text-align: center;
		}
		.prize-description, .price-description {
			margin-right: auto;
		}
		.prize-count, .price-count {
			.mainfont_light( 14pt, @white, center, uppercase);
			margin-left: auto;
		}
	}
	.matches-involved {
		background-color: @grey-dark;
		.match {
			.flex-container-row();
    		border-bottom: solid 1px @black;
		    height: 50px;
		    align-items: center;
		    justify-content: space-between;
		}
		.team {
			
			.flex-elem-fluid();
			.mainfont_light(10pt, @grey-translucid, center, uppercase);
			margin: 0 15px;	
		}
		.date {
			.flex-elem-fixed(auto);
			.mainfont_light(10pt, @grey-bluish, center, uppercase);
		}
	}
	.contestant-list {
		.contestant-element {
			.flex-container-row();
    		.mainfont_light(10pt, @grey-bluish, center);
    		border-bottom: solid 1px @grey-bluish;
		    height: 40px;
		    align-items: center;
		    justify-content: space-between;
	        margin: 0 15px;	
		}
		.level {
			.flex-elem-fixed(50px);
			text-align: center;
		}
	}
}