#infoContent {
	
	background-color: @greyLight;

	.modal-info-head {
		.modal-header();
  		.border-top-radius(5px);
  		position: relative;
    	border-bottom: 1px solid @greyUltraLight; 

   		.contest-info-header-row {
   			.make-row();

			.column-name {
				.make-sm-column(6);
				.inner-icon { .hidden-xs();	}
			}
			.column-entry-fee {
				.make-sm-column(3);
				.title-text { .hidden-xs(); }

				@media (max-width: @screen-xs-max) { 
					.inner-icon { display: inline; }
					.inner-content { display: inline-block; }
					display: inline-block; 
					padding: 0px; 
					margin: 0px 20px 0px 0px;
				}
			}
			.column-prize {
				.make-sm-column(3);
				.title-text { .hidden-xs(); }

				@media (max-width: @screen-xs-max) { 
					.inner-icon { display: inline; }
					.inner-content { display: inline-block; }
					display: inline-block; 
					padding: 0px; 
					margin: 0px; 	
				}
			}
   			.title-text {
				.opensans_normal(8pt, @greyDark);
				display: block;
			}

			.content-text {
				@media (min-width: @screen-md-min) { .opensans_bold(16pt, @blueDark); }
				@media (max-width: @screen-sm-max) { .opensans_bold(14pt, @blueDark); }
			}

			// En desktop & tablet
			@media (min-width: @screen-sm-min) {
				margin-left: 0px; margin-right: 0px;
				.inner-icon { float:left; padding: 0px 5px 0px 0px; margin-top: 17px; }
			}

			// En mobile
			@media (max-width: @screen-xs-max) {
				padding: 10px 0px 10px 0px;
				.inner-icon { float:left; padding: 0px 5px 0px 0px; }
			}
   		}
   		button.close {
   			.close();
   			position: absolute;
			top: 10px;
			right: 15px;
   		}
	}

	.modal-info-content {
		position: relative;
		.tabs-background {
			width: 100%;
			height: 51px;
			#gradient.vertical(@blueGradientLight, @blueGradientDark, 49%, 51%);
		}

		// Tabs menu
		.contest-info-tabs {
			@tabheight: 46px;
			height: @tabheight;
			list-style: none;
			padding: 0;
			.make-row(0);
			.tab {
				.make-xs-column(2);
				background-color: @blueLight;
				.make-border(4px, none none solid none, @blueDark);
				a {
					cursor: pointer;
					line-height: @tabheight;
					text-align: center;
					color: @white;
					display: block;
					text-decoration: none;
				}
			}
			.active {
				background-color: @blueDark;
			}
			.buton-place {
				.make-xs-column(6);
				> button {
					.pull-right();
					margin-top: 7px;
				}
			}
		}

		.info-options {
		  	.nav();
		  	.nav-tabs();
			.opensans_bold(8pt, @greyMed);
			padding: 0 15px;
			position: absolute;
			top: 15px;
			width: 100%;
		}
		.enter-contest-button {
			position: absolute;
			top: 8px;
			right: 15px;		
		}
		.contest-info-content {
			.modal-body();
			padding: 10px;
			background-color: @white;
			min-height: 500px;

			.instructions {
				.make-sm-column(8);
				.opensans_normal(12pt, @greyDark);
				padding: 10px 0;
			}
			.start-date {
				.make-sm-column(4);
				.opensans_bold(8pt, @greyDark);
				.well();
  				.well-sm();
  				text-align: center;
			}
			.bases-title {
				.opensans_bold(12pt, @greyDark);
				margin-top: 20px;
			}
		}
		.contestant-list-wrapper {
			.make-sm-column(12);
			max-height: 450px;
			overflow: auto;//overflow-y: scroll;
		}
	}
}

.matches-involved {
	margin: 10px auto 0;
	.match{
		display: inline-block;
		min-width: 16.6667%;
		border-left: @blueLight 0.1em dotted;
		margin: 10px 0;
		@media (max-width: @screen-xs-max) { 
			min-width: 25%;
			float: left;
			border-left: @blueLight 0.1em dotted;
			margin: 10px 0;
		}	
		@media (min-width: @screen-sm-min) { 	
			min-width: 20%;
		}
		> p {
			text-align: center;
			margin: 0px; 
		}		
		.teams {
			.exo_light(16pt, @blueMed);
			@media (max-width: @screen-xs-max) { 
				.opensans_bold(8pt, @blueMed);
			}
		}
		.date {
			.opensans_bold(8pt, @greyDark);
		}
	}
}

.rules-description {
	.opensans_normal(8pt, @greyDark);
	margin: 10px auto 0;
	background-color: @tramaBlue;

	@media(min-width: @screen-md-min) {
		overflow-x: hidden;
		//max-height: 350px;
	}
}

.prizes-wrapper {
	.no-prizes {
		.exo_light(20pt, @blueMed);
		text-align: center;
		padding: 15px 0;
		@media (max-width: @screen-sm-max) {
			.opensans_bold(10pt, @greyDark);
		}
	}
	.prize-element-wrapper {
		.make-xs-column(3);
		padding: 5px
	}
	.prize-element {
		.exo_bold(12pt, @blueMed);
		background-color: @tramaBlue;
		padding: 5px 10px;
		margin: 10px auto;
		border-radius: 20px;
		text-align: center;
	}
}

.section-wrapper {
	.make-xs-column(12);
}

#contestInfoTabbed {
	.container-fluid();
	text-align: center;
	
	.info-section {
		height: 1px;
		border-top: 1px dashed @blueMed;
		margin: 20px 0;
	}
	.title {
		.opensans_bold(10pt, @blueDark);
		margin: 10px auto 0;	
	}
		

}

.contestant-list {
	padding: 10px 0;
	@row-height: 39px;
	
	.contestant-position {
		.make-xs-column(1);
		.clean-paddings();
		.opensans_bold(10pt, @greyDark);
		text-align: center;
	}
	.contestant-name {
		.make-xs-column(6);
		.clean-paddings();
		.opensans_bold(10pt, @greyDark);
		text-align: left;
	}
	.contestant-points {
		.make-xs-column(5);
		.clean-paddings();
		padding-right: 10px;
		.exo_light(14pt, @greyDark);
		text-align: right;
	}
	.prize-currency {
		.opensans_bold(10pt, @greyDark);
		line-height: @row-height;
	}
	.contestant-element {
		.make-row();
		line-height: @row-height;
		//padding: 10px 0;
		background-color: @greyUltraLight;
		border: 1px solid @white;
	}
	> div:nth-child(odd) {
		background-color: @greyLight;							
	}
}	
