// Reserva de sitio
contest-header {
	background-color: @white;
	display: block;
	min-height: 125px;
	@media (min-width: @screen-sm-min) {
		min-height: 115px;
	}
}
.rounded-borders {
	border-radius: 5px 5px 0 0;
}
#contestHeaderWrapper {
	.container-fluid();
	position: relative;
	padding: 0;
	.contest-relevant-data {
		.make-row(0);		
		padding: 20px 0 12px 0;
		.contest-name-description {
			.make-xs-column(12, 0);
			.make-sm-column(8, 0);
			.contest-big-bold-text();
			padding: 0 15px 0px 15px;
			
		}
		.contest-price, .contest-prize {
			.make-xs-column(6);
			.make-sm-column(2);
			.contest-big-light-text();
		}
		.contest-explanation {
			.contest-small-bold-text();
			@media (max-width: @screen-xs-max) {
				padding-top: 5px;
				padding-bottom: 10px;
			}
		}
		.contest-coins-header, .contest-coins-header-title   {
			.contest-small-light-text();
		}
		
		.contest-coins-content {
			// Inversion para header y content
			.pull-left();
			.make-sm-column(12, 0);
			> span {
				@media (max-width: @screen-xs-max) {
					display: inline-block;
					margin-right: 10px;
					.badge();
					background-color: @greyLight;
				}
				.contest-big-light-text();
			}			
		}
		
	}
	.date-time-text{
		span {
			.opensans_bold(8pt, @blueLight);
			@media (min-width: @screen-sm-min) {
				.opensans_bold(11pt, @blueLight);
			}
		}
	}
	.date-time-data {
		.make-row(0);
		//background-color: @greyUltraDark;
		line-height: 2;
		// Fecha comienzo contest
		.contest-start-date {
			.make-xs-column(6);
			.date-time-text();
			text-align: left;			
		}

		// Contador para comienzo de contest
		.contest-countdown-text {
			.make-xs-column(6);
			.date-time-text();
			text-align: right;
		}
		&:after {
			height: 1px;
			width: 100%;
			background-color: @greyMed;
			content: "";
		}
	}
	// Botón de cerrar
	.close-contest {		
		position: absolute;
		right: 10px;
		top: 10px;
		// Posición para versión xs
		@media (max-width: @screen-xs-max) {
			right: 5px;
			top: 8px;
		}
		.btn::after {
			.create-glyph("\E014", 9pt);
		}
	}
}