.contests-list-root {
	.container-fluid();
	background-color: @white;
	position: relative;

	
	// Fila de contest
	.contest-row {
		cursor: pointer;
		.make-row();
		padding: 10px;
		.make-border(1px, solid none none  none, @greyLight);
		&:nth-last-child(2) {
			.make-border(1px, solid none solid  none, @greyLight);
		}

		.big-text {
			.exo_bold(18pt, @blueDark);
			@media (max-width: @screen-xs-max) {
				.opensans_bold(10pt, @blueDark);
			}
		}
		.small-text {
			.opensans_bold(10pt, @greyDark);
			@media (max-width: @screen-xs-max) {
				.opensans_normal(10pt, @greyDark);
			}
		}

		.column-contest-name {
			.make-xs-column(12);
			.make-sm-column(6, 0);
			
			.column-name {
				.make-xs-column(8.5);
				.make-sm-column(12);	
				.clean-paddings();
				.big-text(); 
			}
			.column-start-date-time-xs {
				.visible-xs();
				.make-xs-column(3.5);
				.clean-paddings();
				.big-text();
				text-align: right;
			}
			.column-description {
				.make-xs-column(12);
				.clean-paddings();
				.small-text();
				@media (max-width: @screen-xs-max) {
					padding-top: 5px;
					padding-bottom: 10px;
				}
			}
		}

		.column-contest-price, .column-contest-prize, .column-contest-position, .column-contest-points  {
			.make-xs-column(5.5);
			.make-sm-column(1.8, 0);

			.column-contest-price-header, .column-contest-prize-header, .column-contest-position-header, .column-contest-points-header {
				//.make-xs-column(6);
				@media (max-width: @screen-xs-max) {
					display: inline-block;
				}
				.make-sm-column(12);
				.clean-paddings();
				.small-text();	
			}
			.column-contest-price-content, .column-contest-prize-content, .column-contest-position-content, .column-contest-points-content {
				//.make-xs-column(3);
				@media (max-width: @screen-xs-max) {
					display: inline-block;
					margin-right: 10px;
					.badge();
					background-color: @greyLight;
					
				}
				.make-sm-column(12);
				.clean-paddings();
				.big-text();
			}

			.column-contest-prize-content {
				&::before {
					.hidden-xs();
					.addAbsoluteIcon("iconPrize.png", 32px, 26px, -34px, 2px);
				}
			}
			
		}

		// Fecha comienzo de contest
		.column-contest-start-date {
			.make-sm-column(1.2, 0);
			.hidden-xs();			
			.column-start-date-day {
				.make-sm-column(12);
				.clean-paddings();
				.big-text();
			}
			.column-start-date-hour {
				.make-sm-column(12);
				.clean-paddings();
				.small-text();
			}
		}

		.column-contest-action {
			.make-xs-column(1,0);
			.make-sm-column(1.2,0);
			margin-top: 10px;
			@media (max-width: @screen-xs-max) {
				text-align: right;
				margin-top: 0px;
			}
			.action-button { 
				.make-sm-column(12);
				.clean-paddings();
				.btn-primary(); 
				@media (max-width: @screen-xs-max) {
					background-color: transparent;
					padding: 0;
					overflow: hidden;
					width: 12px;
					box-shadow: none;
					&::before {
						color: @blueDark;
						.create-glyph("\E080", 10pt);
						padding: 0;
					}
					&:focus, &:active, &:hover {
						background-color: transparent;	
					}
				}
			}
			
		}

		.column-contest-empty {
			.make-sm-column(1, 0);
			.hidden-xs();
		}
		
		/*
		.column-contest-prize, .column-contest-points {
			// 7 columnas xs y 2 para el resto
			.make-xs-column(7, 0);
			.make-sm-column(2, 0);
			@media (min-width: @screen-sm-min) {
				margin-top: 24px;
			}
		}

		.column-contest-price-header, .column-contest-prize-header, .column-contest-points-header, .column-contest-position-header {
			.opensans_normal(9pt, @greyDark);
			padding-top: 2px;
			// Tamaño para todas las versiones excepto xs
			@media (min-width: @screen-sm-min) {
				.opensans_bold(9pt, @greyDark);
				padding-left: 28px;
			}
		}

		.column-contest-prize-header-title {
			// La cabecera de premios la ocultamos para la versión xs
			//.hidden-xs();
			padding-left: 10px;
		}

		.column-contest-prize-header-prize-type {
			// A partir de 480px desaparece el tipo de premio	
			 @media (min-width: @screen-sm-min) {
				.hidden();
			}
		}

		.column-contest-price-content, .column-contest-prize-content, .column-contest-points-content, .column-contest-position-content {
			// Inversion para header y content
			.pull-left();
			.make-sm-column(12, 5px);
			@media (min-width: @screen-sm-min) {
				padding: 0 0 0 28px;
			}
			.prize {
				padding-left: 10px;
			}
			> span {
				.opensans_bold(16pt, @blueDark);
				// Formato de los precios para versión xs
				@media (max-width: @screen-xs-max) {
					background-color: @greyLight;
					border-radius: 20px;
					.opensans_bold(10pt, @greyUltraDark);
					padding: 0px 10px;
					margin-right: 5px;
				}
			}
		}

		// Iconos de precio y premio
		@media (min-width: @screen-sm-min) {
			.column-contest-price span::before {
				.addAbsoluteIcon("iconPrice.png", 32px, 26px, 5px, 3px);
			}
			.column-contest-prize-content span {
				padding-left: 10px;
			}
			.column-contest-prize span {
				padding-left: 10px;
				
			}
		}
		

		// Botón de entrar al concurso
		.column-contest-action {
			.make-sm-column(1, 0);
			.action-button { 
				.btn-primary(); 
			}
			margin-top: 25px;
			padding-left: 5px;
			// Posición para versión xs
			@media (max-width: @screen-xs-max) {
				position: absolute;
				right: 10px;
				margin-top: 65px;
				.action-button{
					background-color: transparent;
					padding: 0;
					overflow: hidden;
					width: 12px;
					box-shadow: none;
					&::before {
						color: @blueDark;
						.create-glyph("\E080", 10pt);
						padding: 0;
					}
					&:focus, &:active, &:hover {
						background-color: transparent;	
					}
				}
			}
		}
		*/
	}
}


