.contests-list-root {
	.container-fluid();
	background-color: @white;
	position: relative;
	
	// Fila de contest
	.contest-row {
		cursor: pointer;
		.make-row();
		padding: 10px;
		.make-border(1px, solid none none  none, @greyLight);
		&:nth-last-child(2) {
			.make-border(1px, solid none solid  none, @greyLight);
		}

		.column-contest-name {
			.make-xs-column(12);
			.make-sm-column(6, 0);
			
			.column-name {
				.make-xs-column(8.5);
				.make-sm-column(12);	
				.clean-paddings();
				.contest-big-bold-text();
			}
			.column-start-date-time-xs {
				.visible-xs();
				.make-xs-column(3.5);
				.clean-paddings();
				.contest-big-bold-text();
				text-align: right;
			}
			.column-description {
				.make-xs-column(12);
				.clean-paddings();
				.contest-small-bold-text();
				@media (max-width: @screen-xs-max) {
					padding-top: 5px;
					padding-bottom: 10px;
				}
			}
		}

		.column-contest-price, .column-contest-prize, .column-contest-position, .column-contest-points  {
			.make-xs-column(5.5);
			.make-sm-column(1.8, 10);

			.column-contest-price-header, .column-contest-prize-header, .column-contest-position-header, .column-contest-points-header {
				@media (max-width: @screen-xs-max) {
					display: inline-block;
				}
				.make-sm-column(12);
				.clean-paddings();
				.contest-small-light-text();
			}
			.column-contest-price-content, .column-contest-prize-content, .column-contest-position-content, .column-contest-points-content {
				.make-sm-column(12);
				.clean-paddings();
				@media (max-width: @screen-xs-max) {
					display: inline-block;
					margin-right: 10px;
					.badge();
					background-color: @greyLight;
				}
				.contest-big-light-text();
			}
		}

		// Fecha comienzo de contest
		.column-contest-start-date {
			.make-sm-column(1.2, 0);
			.hidden-xs();			
			.column-start-date-day {
				.make-sm-column(12);
				.clean-paddings();
				.contest-big-light-text();
			}
			.column-start-date-hour {
				.make-sm-column(12);
				.clean-paddings();
				.contest-small-light-text();
			}
		}

		.column-contest-action {
			.make-xs-column(1,0);
			.make-sm-column(1.2,0);
			margin-top: 10px;
			@media (max-width: @screen-xs-max) {
				text-align: right;
				margin-top: 0px;
			}
			.action-button { 
				.make-sm-column(12);
				.clean-paddings();
				.btn-primary(); 
				@media (max-width: @screen-xs-max) {
					background-color: transparent;
					padding: 0;
					overflow: hidden;
					width: 12px;
					box-shadow: none;
					&::before {
						color: @blueDark;
						.create-glyph("\E080", 10pt);
						padding: 0;
					}
					&:focus, &:active, &:hover {
						background-color: transparent;	
					}
				}
			}
			
		}

		.column-contest-empty {
			.make-sm-column(1, 0);
			.hidden-xs();
		}
	}
}


