.contests-list-root {
	@media (max-width: @screen-sm-max) {
		.container-fluid();
	}
	@media (min-width: @screen-md-min) {
		.container();
		// Bordes redondeados para la version Desktop
		//border-bottom-right-radius: 10px;
		//border-bottom-left-radius: 10px;
	}
	background-color: @white;
	position: relative;

	
	// Fila de contest
	.contest-row {
		.make-row();
		.make-border(1px, solid none none none, @greyLight);
		padding-bottom: 10px;

		// El cursor cambia, porque la linea entera lika al modal en formato Desktop
		cursor: pointer;

		.column-contest-name {
			.make-xs-column(12, 10px);
			.make-sm-column(6, 10px);
			.column-name {
				.exo_bold(18pt, @blueDark);
				margin-top: 15px;
				padding-left: 20px;
				// Tamaño para la versión móvil
				@media (max-width: @screen-xs-max) {
					.opensans_bold(10pt, @blueDark);
					padding-left: 0;
					// Para que no se solape con la fecha
					padding-right: 90px;
				}
			}
			.column-description {
				.opensans_bold(10pt, @greyDark);
				margin-bottom: 15px;
				padding-left: 20px;
				// Tamaño para la versión móvil
				@media (max-width: @screen-xs-max) {
					.opensans_normal(9pt, @greyDark);
					margin: 5px 0 10px;
					padding-left: 0;
				}
			}
		}

		.column-contest-empty {
			.make-sm-column(1, 0);
			.hidden-xs();
		}

		.column-contest-price, .column-contest-position {
			// 5 columnas xs y 2 para el resto
			.make-xs-column(5, 0);
			.make-sm-column(2, 0);
			@media (min-width: @screen-sm-min) {
				margin-top: 24px;
			}
		}

		.column-contest-prize, .column-contest-points {
			// 7 columnas xs y 2 para el resto
			.make-xs-column(7, 0);
			.make-sm-column(2, 0);
			@media (min-width: @screen-sm-min) {
				margin-top: 24px;
			}
		}

		.column-contest-price-header, .column-contest-prize-header, .column-contest-points-header, .column-contest-position-header {
			.opensans_normal(9pt, @greyDark);
			padding-top: 2px;
			// Tamaño para todas las versiones excepto xs
			@media (min-width: @screen-sm-min) {
				.opensans_bold(9pt, @greyDark);
				padding-left: 28px;
			}
		}

		.column-contest-prize-header-title {
			// La cabecera de premios la ocultamos para la versión xs
			.hidden-xs();
			padding-left: 10px;
		}
		.column-contest-prize-header-prize-type {
			// A partir de 480px desaparece el tipo de premio	
			 @media (min-width: @screen-sm-min) {
				.hidden();
			}
		}

		.column-contest-price-content, .column-contest-prize-content, .column-contest-points-content, .column-contest-position-content {
			// Inversion para header y content
			.pull-left();
			.make-sm-column(12, 5px);
			@media (min-width: @screen-sm-min) {
				padding: 0 0 0 28px;
			}
			.prize {
				padding-left: 10px;
			}
			> span {
				.opensans_bold(16pt, @blueDark);
				// Formato de los precios para versión xs
				@media (max-width: @screen-xs-max) {
					background-color: @greyLight;
					border-radius: 20px;
					.opensans_bold(10pt, @greyUltraDark);
					padding: 0px 10px;
					margin-right: 5px;
				}
			}
		}

		// Iconos de precio y premio
		@media (min-width: @screen-sm-min) {
			/*.column-contest-price span::before {
				.addAbsoluteIcon("iconPrice.png", 32px, 26px, 5px, 3px);
			}*/
			.column-contest-prize span::before {
				.addAbsoluteIcon("iconPrize.png", 32px, 26px, 0, 3px);
			}
		}
		
		// Fecha comienzo de contest
		.column-contest-start-date {
			.make-sm-column(1, 0);
			.opensans_bold(9pt, @greyDark);
			margin-top: 17px;
			@media (min-width: @screen-sm-min) {
				.column-start-date-day {
					.exo_light(18pt, @blueDark);
				}
			}
			@media (max-width: @screen-xs-max) {
				position: absolute;
				right: 10px;
				.opensans_bold(9pt, @blueDark);
				.column-start-date-day {
					.pull-left();
				}
				.column-start-date-hour {
					.pull-right();
					margin-left: 5px;
				}
			}
		}

		// Botón de entrar al concurso
		.column-contest-action {
			.make-sm-column(1, 0);
			.btn { .btn-primary(); }
			margin-top: 25px;
			padding-left: 5px;
			// Posición para versión xs
			@media (max-width: @screen-xs-max) {
				position: absolute;
				right: 10px;
				margin-top: 65px;
				.btn{
					background-color: transparent;
					padding: 0;
					overflow: hidden;
					width: 12px;
					box-shadow: none;
				}
				.btn::before {
					color: @blueDark;
					.create-glyph("\E080", 10pt);
					padding: 0;
				}
				.btn:focus, .btn:active, .btn:hover {
					background-color: transparent;
				}
			}
		}
	}
}


