contests-list {
	.flex-container-col();
	background-color: @soft-black;
  
  .contest-list-item-wrapper {
    .flex-elem-fixed();
	  .flex-container-col();
  }
  .contestDateSeparator {
    .mainfont_light(12pt, @orange, center, uppercase);
    border-bottom: 3px solid @orange;
    padding: 8px;
  }
  
  .contestSlot {
    .flex-elem-fixed(auto);
    .flex-container-row();
    background-color: @grey-dark;
    border-bottom: 2px solid @black;
    margin-bottom: 5px;
    padding: 10px 5px 10px 15px;
  }
  .contest-action {
    .flex-elem-fixed(28px);
    .flex-container-col();
    .flex-container-content-centered();
    color: @white;
    border-left: 1px solid @grey-translucid;
    .material-icons {
      font-size: 32px;
    }
  }
  
  .contest-content {
    .flex-elem-fluid();
    .flex-container-col();
  }

  .name-section {
    .flex-elem-fixed(30px);
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    
    .column-name {
      .mainfont_light(13pt, @white, left, uppercase);
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 5px;
      vertical-align: middle;
    }
    .column-start-hour, .column-substitutions {
      .mainfont_light(10pt, @orange, left, uppercase);
      display: inline-block;
      vertical-align: middle;
      .material-icons { vertical-align: middle; }
    }
  }
  .contest-data-section {
    .flex-container-row();
    .flex-elem-fixed(38px);
  }
  .contest-data-item {
    .flex-elem-fluid();
    .flex-container-col();
    justify-content: flex-end;
  }
  .contest-data-item-value {
    .flex-elem-fixed(auto);
    .mainfont_light(10pt, @white, left);
  }
  .contest-data-item-key {
    .flex-elem-fixed(18px);
    .mainfont_light(8pt, @grey-bluish, left);
  }
  .entries-section .contest-data-item-value .material-icons {
    font-size: 20px;
    color: @grey-bluish;
    vertical-align: bottom;
    padding-left: 2px;
  }
  .contest-data-item.prize-pool-section, 
  .contest-data-item.user-prize-section, 
  .contest-data-item.price-section {
    .material-icons {
      color: @coin-color;
      vertical-align: text-bottom;
      font-size: 18px;
      padding-left: 2px;
    }
  }
  .contest-data-item.price-section {
    .flex-elem-fluid(0.8);
  }
  .position-value {
    font-size: 12pt;
    span {
      font-size: 10pt;
      color: @grey-bluish;
    }
  }
/*
  .time-section {
    .flex-elem-fluid();
    .mainfont_light(10pt, @grey-bluish, center);
    .column-start-hour {
      padding-bottom: 3px;
    }
  }
  .entries-section {
    .flex-elem-fluid();
    .mainfont_light(10pt, @grey-bluish, center);
  }
  .prize-section {
    .flex-elem-fluid();
    .flex-container-col();
    .prize-count {
      .mainfont_light(13pt, @white, none, uppercase);
    }
    .prize-description{
      .mainfont_light(10pt, @grey-bluish);
    }
  }
  .price-section {
    .flex-elem-fluid();
    .flex-container-col();
    .price-count {
      .mainfont_light(13pt, @white, none, uppercase);
    }
    .price-description{
      .mainfont_light(10pt, @grey-bluish);
    }
  }
*/
  .contestSlot.special {
    .flex-elem-fixed(135px);
    position: relative;
    background-size: cover;
    background-position: center;
    
    .name-section {
      .column-name {
        display: none;
      }
      .column-start-hour { 
        position: absolute;
        color: white;
        top: 15px;
        left: 15px;
      }
      .column-substitutions {
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
    
    .contest-data-section {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 8px 15px;
      background-color: @black-translucid-40;
    }
    .contest-action {
      display: none;
    }
    .contest-data-item-value {
    }
    .contest-data-item-key {
    }
    
    .entries-section {
      order: 5;
      text-align: right;
      .contest-data-item-key,
      .contest-data-item-value {
        text-align: right;
      }
    }
    .position-section {
      order: 6;
      text-align: right;
      .contest-data-item-key,
      .contest-data-item-value {
        text-align: right;
      }
    }
    .prize-distribution-section {
      order: 0;
    }
    .points-section {
      order: 1;
    }
    .prize-pool-section {
      order: 2;
    }
    .user-prize-section {
      order: 3;
    }
    .price-section {
      order: 4;
    }
    .points-section,
    .prize-pool-section,
    .user-prize-section,
    .price-section {
      .contest-data-item-key {
        .mainfont_light(10pt, @white, center);
      }
      .contest-data-item-value {
        .mainfont_light(12pt, @white, center);
      }
    }
    /*
    .bottom-data() {
      position: absolute;
      bottom: 5px;
      width: 100px;
      left: 50%;
      background-image: url('../images/special_contest_inner_box.png');
    }
    
    .prize-pool-section {
      .bottom-data();
      margin-left: -108px;
    }
    .user-prize-section {
      .bottom-data();
      margin-left: 8px;
    }
    .price-section {
      .bottom-data();
      margin-left: 8px;
    }
    .points-section {
      .bottom-data();
      margin-left: -108px;
    }
    .contest-action {
      display: none;
    }
    */
    
    /*
    .action-section,
    .name-section .contest-name {
      display: none !important;
    }
    .name-section {
      text-align: right;
      position: absolute;
      right: 15px;
      top: 24px;
      color: @white;
      .contest-description {
        color: @white;
      }
    }
    .prize-section, .price-section {
      .flex-container-row();
      position: absolute;
      left: 50%;
      top: 90px;
      background-image: url('../images/special_contest_inner_box.png');
      width: 120px;
      text-align: center;

      .prize-count, .price-count {
        order: 2;
        color: @orange;
        padding: 5px 10px;
      }
      .prize-description, .price-description {
        order: 1;
        color: @white;
        top: 3px;
          position: relative;
          padding: 5px 10px;
      }
    }
    .prize-section {
      margin-left: -120px;
    }
    .price-section {
      margin-left: 14px;
    }
    */
  }
  
}