.deprecated-version-screen {	
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @blueUltraDark;
	z-index: 100000;
	padding: 100px 20px 0 20px;
	padding-top: 20vh;
	text-align: center;

	h1 {
		.exo_bold(18pt, @blueLight);
		margin: 40px 0 20px 0;
		margin: 10vh 0 5vh 0;
	}
	p {
		.opensans_normal(12pt, @white);
	}
	button {
		margin: 10px 0 10px 0;
		margin: 3vh 0 3vh 0;
		.btn-primary();
	}
}

