.edit-form {
	.flex-container-col();
}
.content {
	padding: 15px;
	background-color: @soft-black;
	align-items: center;
}
.content-field {
	.flex-container-col();
	.flex-elem-fluid();
	.mainfont_light(10pt, @white, left, uppercase);
	padding: 0 15px 20px 15px;
}
.text-input {
	margin: 5px 0;
	color: @black;
} 
.name {
	text-transform: none;
}
.save-changes-content {
	.flex-container-col();
	.flex-elem-fluid();
	padding: 15px;
	
}
.action-button-save {
	.default-button();
}
.err-text {
	.mainfont_light(10pt, @red, left, uppercase);
}