#enterContest{
	.make-row();
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}
	background-color: @white;
}

// Tabs menu
.enter-contest-tabs {
	@tabheight: 50px;
	.hidden-md();
	.hidden-lg();
	.reset-list();
	height: @tabheight;
	> li {
		.make-xs-column(6);
		background-color: @blueLight;
		.make-border(4px, none none solid none, @blueDark);
		a {
			cursor: pointer;
			line-height: @tabheight;
			text-align: center;
			color: @white;
			display: block;
			text-decoration: none;
		}
	}
	.active {
		background-color: @blueDark;
	}
}

.enter-contest-actions-wrapper {
	.make-row(15);
	padding: 10px;
	padding-top: 0;
	.total-salary {
		.make-xs-column(12);
		.exo_light(24px, @white);
		background-color: @orange;
		text-align: center;
		border-radius: 3px;
	}
	.btn-cancel-player-selection {
		.btn-cancel();
		.make-xs-column(12);
		margin-top: 10px;
	}

	.button-wrapper {
		padding: 10px;
		.make-xs-column(6);
	}

	.btn-clean-lineup-list {
		.btn-cancel();
		.btn-block();
	}
	.btn-confirm-lineup-list {
		.btn();
		.btn-primary();
		.btn-block();
	}
	.btn-clean-lineup-list::before {
		.create-glyph("\E014", 9pt);
		margin-right: 15px;
	}

	p {
		.make-xs-column(12);
		.opensans_bold(9pt, @greyDark);
		text-align: center;
	}
}

.match-teams-filter{
	background-color: @white;
	.make-row(0);
	padding-bottom: 10px;
	.button-filtro-team {
		.make-sm-column(1.2);
		.hidden-xs();
		padding: 5px 20px;
		margin: 10px 0 4px 10px;
		.opensans_bold(8pt, @white);
		white-space: normal;
		overflow: hidden;
	}
}

@recomended-control-heihgt: 645px;
.enter-contest-soccer-players-wrapper {
	.make-md-column(7, 0);
	padding: 0 5px 60px 10px;
	.enter-contest-soccer-players {
		.make-border(1px, solid, @greyLight, @globalBoxesRadius);
		height: @recomended-control-heihgt;
		overflow: hidden;
	}
}

.enter-contest-lineup-wrapper {
	.make-md-column(5, 0);
	padding: 0 10px 60px 5px;
	.enter-contest-lineup {
		.make-border(1px, solid, @orange, @globalBoxesRadius);
		height: @recomended-control-heihgt;
		overflow: hidden;
	}
	.enter-contest-total-salary {
		.exo_bold(20px, @white);
		padding-left: 10px;
		padding-right: 2px;
		#gradient.vertical(@orangeHeaderLight, @orangeHeaderDark, 49%, 51%);
		line-height: 76px;
		.total-salary {
			.exo_light(24px, @white);
			text-align: center;
			float: right;
			background-color: @white;
			line-height: 43px;
			display: block;
			width: 208px;
			.make-border(1px, solid, @white, @globalBoxesRadius);
			.exo_bold(30px, @greyDark);
			margin-top: 3px;
			overflow: hidden;
			span {
				background-color: @greyLight;
				font-size: 12px;
				display: block;
				line-height: 25px;
			}
		}
	}
}
