enter-contest {
  .flex-container-col();
  background-color: @black;
  overflow: hidden;
}
.lineup-selector-section,
.soccer-player-list-section,
.contest-info-section {
  .flex-container-col();
  .flex-elem-fluid();
}
.soccer-player-list-section {
  overflow: hidden;
}
.lineup-selector-section {
  contest-header {
    .flex-elem-fixed(55px);
  }
  lineup-field-selector {
    .flex-elem-fluid();
  }

  .contest-id {
    .mainfont_light(10pt, @white);
    background-color: transparent;
    position: relative;    
    margin: 0 10px;
    top: -15px;
    text-align: right;
    height: 0;
    .flex-elem-fixed(0px);
  }

  .confirm-btn {
    .default-button();
    .flex-elem-fixed(40px);
  }
  .lineup-config-error {
    .flex-elem-fixed(40px);
    .bodyfont_light(10pt, @white, center);
    background-color: @red-dark;
    padding: 4px;
    line-height: 1.1;
  }
  .lineup-config-error-title {
    .bodyfont_bold(10pt, @white, center);
    display: block;
  }

  .salary-info-wrapper {
    .dark-green-bluish-gradient();
    .mainfont_light(10pt, @white);
    .flex-container-row();
    .flex-elem-fixed(36px);
    padding: 9px;

    text-align: center;

    .current-salary {
      .flex-elem-fluid();
    }
    .limit-salary {
      .flex-elem-fluid();
    }
    .current-salary-label,
    .limit-salary-label {
      color: @grey-bluish;
    }
    .current-salary-amount,
    .limit-salary-amount {
      color: @orange;
    }
  }
}

.lineup-actions-wrapper {
  .flex-container-row();
  .flex-elem-fixed(55px);
  border-bottom: 1px solid @grey-translucid;
  
  div {
    .flex-elem-fluid();
    padding: 8px;
    button {
      .default-button();
      height: 38px;
    }
  }
}

.lineup-finished-modal {
  .modal-window-content {
    .flex-container-col();
    .flex-elem-fixed(auto);
    padding: 25px 15px 10px 15px;
  }
}
.lineup-finished-title {
  .mainfont_bold(14pt, @orange, center, uppercase);
  .flex-elem-fluid(1);
  margin-bottom: 15px;
}
.lineup-finished-text {
  .bodyfont_light(10pt, @white, center);
  .flex-elem-fluid(1);
  padding: 0px 20px;
  margin-bottom: 40px;
}
.lineup-finished-actions-wrapper {
  .flex-elem-fixed(30px);
  .flex-container-row();
  justify-content: space-between;
  button {
    .flat-button();
  }
}

// Tabs menu
/*.enter-contest-tabs {
	.tabs-navigation(2);
}


#enterContest {
	.make-row();
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}
	background-color: @white;
}

.enter-contest-actions-wrapper {
	clear: both;
	position: relative;
	.make-row(15);
	padding: 10px;
	
	@media (min-width: @screen-sm-min) {
		padding: 0 10px;
	}
	.total-salary {
		.make-xs-column(12);
		.hidden-sm();
		.exo_light(24px, @white);
		background-color: @orange;
		text-align: center;
		border-radius: 3px;
		margin-top: 10px;
		margin-bottom: 10px;
		min-height: 34px;

	}
	.red-numbers {
		background-color: @red;
	}

	.btn-cancel-player-selection {
		.btn-cancel();
		.make-xs-column(12);
		//margin-top: 10px;
	}

	.button-wrapper {
		.make-xs-column(6);
		padding: 0 10px;
		height: 32px;
		margin-top: 10px;		
	}
	.button-wrapper-block {
		height: 52px;
		.make-xs-column(12);	
	}
	.bottom-content {
		.make-row(0);
	}
	.btn-clean-lineup-list {
		.btn-block();
		.btn-cancel();
		
	}
	.btn-confirm-lineup-list {
		.btn-block();
		.btn-primary();
		position: relative;
		
		.confirm-cost.coins:after {
			.addIcon("icon-coin-xs.png", 17px, 17px);
			margin-left: 3px;
			vertical-align: middle;
		}
		.confirm-cost.energy:after {
			.addIcon("icon-lightningWhite-xs.png", 17px, 17px);
			margin-left: 3px;
			vertical-align: middle;
		}
	}

	p {
		.make-xs-column(12);
		.opensans_bold(9pt, @greyDark);
		text-align: center;
		margin-top: 20px;
	}
}

// Lineup y Soccer player list en Desktop
// Variable para el alto de los contenedores de lineup y soccer list. Solo para version desktop
@recomended-control-height: 580px;
.enter-contest-soccer-players-wrapper {
	background-color: @white;
	@media (min-width: @screen-sm-min) {
		.make-sm-column(7, 0);
		.pull-left();
		padding: 10px 5px 0px 10px;
		.enter-contest-soccer-players {
			.make-border(1px, solid, @greyLight, @globalBoxesRadius);
			height: @recomended-control-height;
			overflow: hidden;
		}
	}
	@media (min-width: @screen-md-min) {
		.make-md-column(7, 0);
		padding: 10px 5px 10px 10px;
	}
}

.enter-contest-lineup-wrapper {
	position: relative;
	@media (min-width: @screen-sm-min) {
		.make-sm-column(5, 0);
		.pull-right();
		padding: 10px 10px 0px 5px;
		.enter-contest-lineup {
			position: relative;
			.make-border(1px, solid, @orange, @globalBoxesRadius);
			min-height: @recomended-control-height;
			overflow: hidden;
		}
	}
	@media (min-width: @screen-md-min) {
		.make-md-column(5, 0);
		padding: 10px 10px 10px 5px;
	}
	.enter-contest-total-salary {
		.hidden-xs();
		.exo_bold(15pt, @white);
		@media (max-width: @screen-sm-max) { 
			.exo_bold(12pt, @white);
		}

		padding-left: 10px;
		padding-right: 2px;
		#gradient.vertical(@orangeHeaderLight, @orangeHeaderDark, 49%, 51%);
		line-height: 76px;
		.total-salary {			
			text-align: center;
			float: right;
			background-color: @white;
			line-height: 43px;
			width: 198px;
			@media (max-width: @screen-sm-max) { 
				width: 160px;
			}
			
			min-height: 70px;
			.make-border(1px, solid, @white, @globalBoxesRadius);
			.exo_bold(22pt, @greyDark);
			margin-top: 3px;
			overflow: hidden;
			.total-salary-text {
				background-color: @greyLight;
				font-size: 9pt;
				display: block;
				line-height: 25px;
			}
			.total-salary-money {
				.fadein-animation(400ms);
			}
			.red-numbers {
				color: red;
			}
		}
	}
}*/