#enterContest {
	.make-row();
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}
	background-color: @white;
	// Bordes redondeados
	//border-bottom-right-radius: 10px;
	//border-bottom-left-radius: 10px;
}

// Tabs menu
.enter-contest-tabs {
	@tabheight: 50px;
	.hidden-md();
	.hidden-lg();
	.reset-list();
	height: @tabheight;
	> li {
		.make-xs-column(6);
		background-color: @blueLight;
		.make-border(4px, none none solid none, @blueDark);
		a {
			cursor: pointer;
			line-height: @tabheight;
			text-align: center;
			color: @white;
			display: block;
			text-decoration: none;
		}
	}
	.active {
		background-color: @blueDark;
	}
}

// Botones de cancelar seleccion, borrar seleccion y confirmar equipo
.enter-contest-actions-wrapper {
	clear: both;
	.make-row(15);
	padding: 10px;
	@media (min-width: @screen-sm-min) {
		padding: 0 10px;
	}
	padding-top: 0;
	.total-salary {
		.make-xs-column(12);
		.hidden-sm();
		.exo_light(24px, @white);
		background-color: @orange;
		text-align: center;
		border-radius: 3px;
		margin-top: 10px;
		.red-numbers {
			color: @white;
		}
	}
	.btn-cancel-player-selection {
		.btn-cancel();
		.make-xs-column(12);
		.hidden-sm();
		margin-top: 10px;
	}

	.button-wrapper {
		padding: 10px;
		.make-xs-column(6);
	}

	.btn-clean-lineup-list {
		.btn-cancel();
		.btn-block();
	}
	.btn-confirm-lineup-list {
		.btn();
		.btn-primary();
		.btn-block();
	}

	p {
		.make-xs-column(12);
		.opensans_bold(9pt, @greyDark);
		text-align: center;
	}
}

// Filtro de equipos
.match-teams-filter {
	background-color: @tramaBlue;
	.make-row(0);
	padding: -1px 5px 5px 5px;
	
	.button-filtro-team {
		.hidden-xs();
		.make-sm-column(1);
		.opensans_bold(9pt, @white);
		min-width: 120px;		
		padding: 5px 0;
		margin: 10px 4px;
		text-align: center;
		line-height: 15px;
	}
	.button-filtro-team:active, .button-filtro-team:focus, .button-filtro-team:hover, .button-filtro-team:visited {
		outline: none;
	}
	.active {
		background-color: @white;
		color: @greyDark;
		box-shadow: none !important;
		outline: none !important;
	}
	.active:active, .active:hover, .active:focus, .active:visited {
		color: @greyDark;
	}
}
.contest-info-tab-active {
	display: none !important;
}

// Lineup y Soccer player list en Desktop
// Variable para el alto de los contenedores de lineup y soccer list. Solo para version desktop
@recomended-control-heihgt: 645px;
.enter-contest-soccer-players-wrapper {
	@media (min-width: @screen-sm-min) {
		.make-sm-column(6, 0);
		.pull-left();
		padding: 10px 5px 0 10px;
		.enter-contest-soccer-players {
			.make-border(1px, solid, @greyLight, @globalBoxesRadius);
			height: @recomended-control-heihgt - 90px;
			overflow: hidden;
		}
	}
	@media (min-width: @screen-md-min) {
		.make-md-column(7, 0);
		padding: 10px 5px 40px 10px;
		.enter-contest-soccer-players {
			.make-border(1px, solid, @greyLight, @globalBoxesRadius);
			height: @recomended-control-heihgt;
			overflow: hidden;
		}
	}
}

.enter-contest-lineup-wrapper {
	@media (min-width: @screen-sm-min) {
		.make-sm-column(6, 0);
		.pull-right();
		padding: 10px 10px 0 5px;
		.enter-contest-lineup {
			.make-border(1px, solid, @orange, @globalBoxesRadius);
			min-height: @recomended-control-heihgt - 90px;
			overflow: hidden;
		}
	}
	@media (min-width: @screen-md-min) {
		.make-md-column(5, 0);
		padding: 10px 10px 40px 5px;
		.enter-contest-lineup {
			.make-border(1px, solid, @orange, @globalBoxesRadius);
			min-height: @recomended-control-heihgt;
			overflow: hidden;
		}
	}
	.enter-contest-total-salary {
		@media (max-width: @screen-xs-max) {
			.hidden-xs();
		}
		.exo_bold(20px, @white);
		padding-left: 10px;
		padding-right: 2px;
		#gradient.vertical(@orangeHeaderLight, @orangeHeaderDark, 49%, 51%);
		line-height: 76px;
		.total-salary {
			.exo_light(24px, @white);
			text-align: center;
			float: right;
			background-color: @white;
			line-height: 43px;
			display: block;
			width: 208px;
			@media (min-width: @screen-sm-min) {
				width: 198px;
			}
			.make-border(1px, solid, @white, @globalBoxesRadius);
			.exo_bold(30px, @greyDark);
			margin-top: 3px;
			overflow: hidden;
			.total-salary-text {
				background-color: @greyLight;
				font-size: 12px;
				display: block;
				line-height: 25px;
			}
			.red-numbers {
				color: red;
			}
		}
	}
}
@media (min-width: @screen-sm-min) {
	.enter-contest-wrapper {
		display: block !important; 
	}
}	
.soccer-player-info-wrapper {
	display: none;
	@media (min-width: @screen-sm-min) {
		background-color: #fff;
		display: none !important;
	}
}
