// Tabs menu
.enter-contest-tabs {
	.tabs-navigation(2);
}


#enterContest {
	.make-row();
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}
	background-color: @white;
}

.enter-contest-actions-wrapper {
	clear: both;
	.make-row(15);
	padding: 10px;
	
	@media (min-width: @screen-sm-min) {
		padding: 0 10px;
	}
	.total-salary {
		.make-xs-column(12);
		.hidden-sm();
		.exo_light(24px, @white);
		background-color: @orange;
		text-align: center;
		border-radius: 3px;
		margin-top: 10px;
		margin-bottom: 10px;
		min-height: 34px;

	}
	.red-numbers {
		background-color: @red;
	}

	.btn-cancel-player-selection {
		.btn-cancel();
		.make-xs-column(12);
		//margin-top: 10px;
	}

	.button-wrapper {
		.make-xs-column(6);
		padding: 0 10px;
		height: 32px;
		margin-top: 10px;		
	}
	.button-wrapper-block {
		height: 52px;
		.make-xs-column(12);	
	}
	.bottom-content {
		.make-row(0);
	}
	.btn-clean-lineup-list {
		.btn-block();
		.btn-cancel();
		
	}
	.btn-confirm-lineup-list {
		.btn-block();
		.btn-primary();
	}

	p {
		.make-xs-column(12);
		.opensans_bold(9pt, @greyDark);
		text-align: center;
		margin-top: 20px;
	}
}

// Lineup y Soccer player list en Desktop
// Variable para el alto de los contenedores de lineup y soccer list. Solo para version desktop
@recomended-control-height: 540px;
.enter-contest-soccer-players-wrapper {
	@media (min-width: @screen-sm-min) {
		.make-sm-column(6, 0);
		.pull-left();
		padding: 10px 5px 0px 10px;
		.enter-contest-soccer-players {
			.make-border(1px, solid, @greyLight, @globalBoxesRadius);
			height: @recomended-control-height;
			overflow: hidden;
		}
	}
	@media (min-width: @screen-md-min) {
		.make-md-column(7, 0);
		padding: 10px 5px 10px 10px;
	}
}

.enter-contest-lineup-wrapper {
	@media (min-width: @screen-sm-min) {
		.make-sm-column(6, 0);
		.pull-right();
		padding: 10px 10px 0px 5px;
		.enter-contest-lineup {
			.make-border(1px, solid, @orange, @globalBoxesRadius);
			min-height: @recomended-control-height;
			overflow: hidden;
		}
	}
	@media (min-width: @screen-md-min) {
		.make-md-column(5, 0);
		padding: 10px 10px 10px 5px;
	}
	.enter-contest-total-salary {
		.hidden-xs();

		.exo_bold(20px, @white);
		padding-left: 10px;
		padding-right: 2px;
		#gradient.vertical(@orangeHeaderLight, @orangeHeaderDark, 49%, 51%);
		line-height: 76px;
		.total-salary {
			.exo_light(24px, @white);
			text-align: center;
			float: right;
			background-color: @white;
			line-height: 43px;
			width: 198px;
			min-height: 70px;
			.make-border(1px, solid, @white, @globalBoxesRadius);
			.exo_bold(30px, @greyDark);
			margin-top: 3px;
			overflow: hidden;
			.total-salary-text {
				background-color: @greyLight;
				font-size: 12px;
				display: block;
				line-height: 25px;
			}
			.total-salary-money {
				.fadein-animation(400ms);
			}
			.red-numbers {
				color: red;
			}
		}
	}
}