.facebook-share-wrapper {
	height: 20px;
	display: inline-block;
	
	.facebook-share-button {
		.opensans_normal(8pt, @white);
		border-radius: 2px;
		background-color: @blueFB;
		display: inline-block;
		padding: 4px 7px 4px 4px;
		.user-select(none);
		cursor: pointer;
		line-height: 8pt;
		margin-left: 10px;
		vertical-align: middle;
		height: 20px;
		img {
			width: 12px;
			height: 12px;
		}
	}
	.facebook-like {
		display: inline-block;
		vertical-align: middle;
		min-width: 90px;
		max-width: 120px;
		height: 20px;
	}
}