.header-view-contest-entry-mode {
	@media (max-width: @screen-xs-max) {
		margin-top: 70px;
		text-align: center;
	}
}
#fantasyTeamRoot {
	background-color: @white;
}

.fantasy-team-header {
	height:76px;
	position: relative;

	#gradient.vertical(@orangeHeaderLight, @orangeHeaderDark, 50%, 50%);
	
	.ranking-box {
		.header-box();
		float: left;
		.title { color: @greyUltraDark; }
		.content {
			.exo_light(24pt);
			line-height: 1.1;
		}
		margin-right: 10px;
	}
	.score-box {
		.header-box();
		float:right;
		.title { color: @greyUltraDark; }
		.content {
			.exo_light(20pt);
			line-height: 1.3;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.user-nickname {
		.exo_light(14pt, @white);
		height: 45px; 
		padding-top: 5px;
	}
	.nickname-view-contest-entry-mode {
		.exo_light(20pt, @white);
		padding: 20px 0 0 10px;
	}
	.total-remaining-matches-time {
		.opensans_normal(8pt, @white);
		height: 45px; 
		padding-top: 5px;
	}

	.close-team {
		.hidden-xs();
		cursor: pointer;
		position: absolute;
		right: 100px;
		top: 7px;
		color: @white;
		.title { 
			.opensans_normal(8pt, @white); 
			.hidden-sm(); 
			position: relative;
			top: 3px;
		}
		.glyphicon { 
			font-size: 18pt;
			vertical-align: middle;
		}

		&:hover { color: @greyLight; }
	}

	/*@media (min-width: @screen-sm-min) {
		.border-top-radius(@globalBoxesRadius);
	}*/

	.edit-team {
		.pull-right();
		margin: 20px 5px 0 0;
		.btn-edit-team {
			.btn-default();
			line-height: 25px;
		}
		@media (max-width: @screen-xs-max) {
			position: absolute;
			.make-xs-column(12);
			.clean-paddings();
			.btn-edit-team {
				.btn-block();
			}
			margin: -70px 0;
			padding: 15px 10px;
		}
	}
}
/*
.close-team {
	.hidden-xs();
	cursor: pointer;
	.make-sm-column(12);
	padding: 8px 10px 20px 10px;

	.btn-close-cancel{
		.btn();
		.btn-block();
		.btn-cancel();
	}
	.btn-close-cancel::after {
		.create-glyph("\E014", 10pt);
		margin-left: 10px;
	}
}
*/
.top-separator {
	.hidden-xs();
	.make-xs-column(12);
	height: 20px;
	background-color: @white;
}

.fantasy-team-list {
	min-height: 440px;
	@fantasy-team-gutter: 0px; 		// Tiene que ser el mismo que soccer_players_list
	
	.soccer-player-row {
		.make-row(0px);				// Para quitar los margenes negativos
		background-color: @white;
	}
	.fantasy-team-slot {
		.user-select(none);
		cursor: pointer;
		margin-top: 2px;
		padding-bottom: 2px;
		.make-border(1px, none none dotted none, @red);
		
		
		.column-fieldpos {
			.make-xs-column(1.5, @fantasy-team-gutter);
			.opensans_bold(10pt, @greyDark);
			text-align: center;
			padding-top: 10px;
		}
		.column-primary-info {
			.make-xs-column(8, @fantasy-team-gutter);

			.soccer-player-name {
				.opensans_bold(10pt, @greyDark);
				display: block;
			}
			.match-event-name {
				.opensans_normal(9pt, @blueLight);
			}
			.remaining-match-time {
				.opensans_normal(8pt, @greyMed);
				padding-left: 5px;				
				&:before { content: "("; }
				&:after { content: ")"; }
			}
		}
		.column-score {
			.make-xs-column(2.5, @fantasy-team-gutter);
			.exo_light(19pt, @blueLight);
			text-align: right;
			padding-right: 10px;
			//margin-top: 5px;
			background-color: @white;

			// Metemos el texto en una caja para tener mejor control sobre
			// el tamaño y que quede mejor la animacion de cambio
			span {
				border-radius: 6px;
				transition: background-color linear 150ms;
				//padding: 3px 10px 0px 10px;
			}

			.changed {
				background-color: @yellow;
			}
		}
		.column-salary {
			.make-xs-column(2, @fantasy-team-gutter);
			.opensans_bold(10pt, @greyDark);
			text-align: center;
			padding-top: 10px;
		}
	}
	.fantasy-team-slot:first-child { margin-top: 10px; }
 	.fantasy-team-slot:last-child {
 		@media (min-width: @screen-sm-min) {
 			border: none;
 		} 
 		margin-bottom: 3px;
 	}
}

.header-box {
	min-width:70px;
	height:70px;
	border-radius:5px;
	margin: 3px 3px 0px 3px;
	
	#gradient.vertical(@white, @blueUltraLight, 49%, 51%);
	color: @greyUltraDark;

	.title { 
		display: block; text-align: center;
		.exo_bold(11pt, @white);
		padding-top: 5px;
	}
	.content {
		display: block; 
		text-align: center;
		.exo_light(16pt);
	}
}

#userFantasyTeam {
	.make-xs-column(12);
	.make-sm-column(6);
	.clean-paddings();
	@media (min-width: @screen-sm-min) {
		padding-left: 0px;
		padding-right: 5px;
	}
}
.fantasy-team-wrapper {

	@media (min-width: @screen-sm-min) {
		min-height: 532px;		// Quitamos 1 pixel para comernos el borde final del slot
		overflow: hidden;		// Asi nos lo comemos
		//.make-percent-box(50%, 2%);
		//.clean-paddings();
		.make-border(1px, solid, @orange, @globalBoxesRadius);
	}
}

.opponent-team-gradient {
	#gradient.vertical(@greyHeaderLight, @greyHeaderDark, 49%, 51%);
}

// Estilos de las estadísticas (compartido para todas sus versiones)
.statistic {
	.make-row(0);
	line-height: 30px;
	background-color: @greyUltraLight;
	.make-border(1px, none none solid none, @white, 0px);
	.stat-times {
		.make-xs-column(1);
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		span {
			.opensans_normal(8pt, @greyUltraDark);
			margin: 0 auto;
			background-color: @greyLight;
			padding: 2px 5px;
		}
	}
	.stat-name {
		.make-border(1px, none solid none solid, @white, 0px);
		.make-xs-column(9);
		.opensans_normal(10pt, @greyDark);
	}
	.stat-points{
		.make-xs-column(2);
		.exo_bold(12pt, @greyDark);
		text-align: right;
	}
}
