.fantasy-team-header {
	height:76px;
	position: relative;

	#gradient.vertical(@orangeHeaderLight, @orangeHeaderDark, 49%, 51%);
	
	.ranking-box {
		.header-box();
		float:left;

		.content {
			.exo_light(30pt);
			line-height: 1.1;
		}
		margin-right: 10px;
	}
	.score-box {
		.header-box();
		float:right;
	}
	.user-nickname {
		.exo_light(14pt, @white);
		height: 45px; 
		padding-top: 5px;
	}
	.total-remaining-matches-time {
		.opensans_normal(8pt, @white);
		height: 45px; 
		padding-top: 5px
	}

	.close-team {
		.hidden-xs();
		cursor: pointer;
		position: absolute;
		right: 80px;
		top: 7px;
		color: @white; 
		.title { .opensans_normal(8pt); .hidden-sm(); }
		.glyphicon { font-size: 18pt; vertical-align: middle;}

		&:hover { color: @greyLight; }
	}

	@media (min-width: @screen-sm-min) {
		.border-top-radius(@globalBoxesRadius);
	}
}

.fantasy-team-list {
	@fantasy-team-gutter: 0px; 		// Tiene que ser el mismo que soccer_players_list

	.fantasy-team-slot {
		// Heredamos los estilos de nuestro padre la lista soccer_players_list
		&:extend(.soccer-players-list .soccer-players-list-slot);

		.column-fieldpos {
			&:extend(.soccer-players-list .soccer-players-list-slot .column-fieldpos);
			.visible-xs();
		}
		.column-primary-info {
			.make-xs-column(8, @fantasy-team-gutter);

			.soccer-player-name {
				&:extend(.soccer-players-list .soccer-players-list-slot .column-primary-info .soccer-player-name);
			}
			.match-event-name {
				&:extend(.soccer-players-list .soccer-players-list-slot .column-primary-info .match-event-name);
			}
			.remaining-match-time {
				.opensans_normal(8pt, @greyMed);
				padding-left: 5px;				
				&:before { content: "("; }
				&:after { content: ")"; }
			}
		}
		.column-score {
			.make-xs-column(2, @fantasy-team-gutter);
			.exo_light(18pt, @blueLight);
			text-align: right;
			padding-right: 10px;
			margin-top: 5px;
		}
	}
}

.header-box {
	width:70px;
	height:70px;
	border-radius:5px;
	margin: 3px 3px 0px 3px;
	
	#gradient.vertical(@white, @blueUltraLight, 49%, 51%);
	color: @greyUltraDark;

	.title { 
		display: block; text-align: center;
		.exo_bold(11pt);
		padding-top: 5px;
	}
	.content {
		display: block; 
		text-align: center;
		.exo_light(16pt);
	}
}

.fantasy-team-wrapper {
	@media (min-width: @screen-sm-min) {
		height: 549px;		// Quitamos 1 pixel para comernos el borde final del slot
		overflow: hidden;	// Asi nos lo comemos
		.make-percent-box(50%, 2%);
		.make-border(1px, solid, @orange, @globalBoxesRadius);
	}
}

.opponent-team-gradient {
	#gradient.vertical(@greyHeaderLight, @greyHeaderDark, 49%, 51%);
}