.fantasy-team-wrapper {
	@media (min-width: @screen-sm-min) {
		width: 50%;
		float:left;
		background-color: @white;
	}
}

.fantasy-team-header {
	height:75px;
	.border-top-radius(@globalBoxesRadius);

	#gradient.vertical(@orangeHeaderLight, @orangeHeaderDark, 49%, 51%);

	.ranking-box {
		.header-box();
		float:left;

		.content {
			.exo_light(30pt);
			line-height: 1.1;
		}
	}

	.score-box {
		.header-box();
		float:right;
	}

	.user-nickname {
		.exo_light(16pt, @white);
		height: 45px; 
		padding-top: 5px;
	}

	.total-remaining-matches-time {
		.exo_light(10pt, @white);
		height: 45px; 
		padding-top: 5px
	}
}

.fantasy-team-list {
	@fantasy-team-gutter: 0px;

	.fantasy-team-slot {
		.make-row(0px);		// Para quitar los margenes negativos
		margin-top: 10px;
		padding-bottom: 8px;
		border-width: 0px 0px 1px 0px;
		border-style: none none dotted none;
		border-color: #FF0000;

		.column-fieldpos {
			.make-xs-column(2, @fantasy-team-gutter);
			.opensans_bold(10pt, @greyDark);
			text-align: center;
			//margin-top: 10px;
		}
		.column-primary-info {
			.make-xs-column(8, @fantasy-team-gutter);

			.soccer-player-name {
				.opensans_bold(10pt, @greyDark);
				display: block;
			}
			.match-event-name {
				.opensans_normal(10pt, @blueLight);
			}
			.remaining-match-time {
				.opensans_normal(8pt, @greyMed);
				padding-left: 5px;				
				&:before { content: "("; }
				&:after { content: ")"; }
			}
		}
		.column-score {
			.make-xs-column(2, @fantasy-team-gutter);
			.exo_light(18pt, @blueLight);
			text-align: right;
			padding-right: 10px;
			margin-top: 5px;
		}
	}
}

.header-box {
	width:70px;
	height:70px;
	border-radius:5px;
	margin: 2px 10px 0px 10px;
	
	#gradient.vertical(@white, @blueUltraLight, 49%, 51%);
	color: @greyUltraDark;

	.title { 
		display: block; text-align: center;
		.exo_bold(11pt);
		padding-top: 5px;
	}
	.content {
		display: block; 
		text-align: center;
		.exo_light(16pt);
	}
}