@fontOpenSans: 'open_sansregular', sans-serif;
@fontExo: 'Exo', sans-serif;

@font-family-base: @fontOpenSans;

.exo_big_bold {
	font-family: @fontExo;
	font-size: 16pt;
	font-weight: 600;
}

.exo_big_light {
	font-family: @fontExo;
	font-size: 16pt;
	font-weight: 300;
}

.exo_normal_bold {
	font-family: @fontExo;
	font-size: 14pt;
	font-weight: 600;
}

.exo_normal_light {
	font-family: @fontExo;
	font-size: 14pt;
	font-weight: 300;
}

.opensans_small {
	font-family: @fontOpenSans;
	font-size: 8pt;
	font-weight: 400;
}

.opensans_normal_bold {
	font-family: @fontOpenSans;
	font-size: 10pt;
	font-weight: 700;
}