@fontOpenSans: 'Open Sans', sans-serif;
@fontExo: 'Exo', sans-serif;

@font-family-base: @fontOpenSans;

.exo_bold(@theFontSize, @theFontColor:default) {
	font-family: @fontExo;
	font-weight: 600;
	font-size: @theFontSize;
	color: @theFontColor;
}
.exo_light(@theFontSize, @theFontColor:default) {
	font-family: @fontExo;
	font-weight: 300;	
	font-size: @theFontSize;
	color: @theFontColor;
}

.opensans_normal(@theFontSize, @theFontColor:default) {
	font-family: @fontOpenSans;
	font-weight: 400;
	font-size: @theFontSize;
	color: @theFontColor;
}
.opensans_bold(@theFontSize, @theFontColor:default) {
	font-family: @fontOpenSans;
	font-weight: 700;
	font-size: @theFontSize;
	color: @theFontColor;
}

// TODO: Borrar en cuanto usemos las de arriba
.exo_extra_big_bold {
	font-family: @fontExo;
	font-size: 24pt;
	font-weight: 600;
}
.exo_extra_big_light {
	font-family: @fontExo;
	font-size: 24pt;
}

.exo_big_bold {
	font-family: @fontExo;
	font-size: 16pt;
	font-weight: 600;
}

.exo_big_light {
	font-family: @fontExo;
	font-size: 16pt;
	font-weight: 300;
}

.exo_normal_bold {
	font-family: @fontExo;
	font-size: 14pt;
	font-weight: 600;
}

.exo_small_bold {
	font-family: @fontExo;
	font-size: 8pt;
	font-weight: 600;
}

.exo_normal_light {
	font-family: @fontExo;
	font-size: 14pt;
	font-weight: 300;
}
.opensans_semiSmall {
	font-family: @fontOpenSans;
	font-size: 9pt;
}
.opensans_semiSmall_bold {
	font-family: @fontOpenSans;
	font-size: 9pt;
	font-weight: 700;
}
.opensans_small {
	font-family: @fontOpenSans;
	font-size: 8pt;
	font-weight: 400;
}

.opensans_normal_bold {
	font-family: @fontOpenSans;
	font-size: 10pt;
	font-weight: 700;
}