#mainFooter{
		
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	@media (min-width: @screen-md-min) {
		//.container();
		.clean-paddings();
		width:100%;
	}

	.make-row(0);
	background: @black;
	.footer-link {
		.opensans_bold(8pt, @white);
		padding: 0 20px;
		border-right: 2px solid @white;
		text-decoration: none;
	}
	@own-gutter: 18px;
	.profile-link {
		.footer-link();
		line-height: 35px;
	}
	.profile-link-desktop-first{
		.profile-link-desktop();
		padding-left: 0;
	}
	.profile-link-desktop{
		.profile-link();
		.hidden-xs();
		padding: 0 20px;
	}

	.logout-link {
		.footer-link();
		border-right-width: 0;
		line-height: @own-gutter * 2px;
	}
	.sup-footer-wrapper {
		.container();
	}
	.user-info-sup-footer {
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
		.make-xs-column(12);
		padding: @own-gutter 20px;

		.add-funds-button {
			.btn();
			.btn-primary();
			float: right;
			.opensans_bold(8pt, @white);
			padding: 10px 20px;
		}
	}

	.sub-footer-wrapper{
		width: 100%;
		height: 150px;
		@media (min-width: @screen-sm-min) {
			background: @black;
		}
		background: @greyMed;
	}
	.sub-footer {
		.container();		
		float: none;
		.data-wrapper{
			.make-xs-column(12);
			.make-sm-column(9);
			margin: 0 auto;
			padding: 30px 20px;
			@media (max-width: @screen-xs-max) {
				text-align: center;	
			}
		}
		.credit-cards {
			.hidden-xs();
			.make-sm-column(3);
			margin: 0 auto;
			padding: 36px 0 36px 20px;
			text-align: right;

		}
		.copyright {			
			.make-xs-column(12);
			.make-sm-column(2.5);
			@media (max-width: @screen-xs-max) {
				text-align: center;	
			}
			.opensans_bold(8pt, @white);
			line-height: 21px;
		}
		.social {
			.hidden-xs();
			.make-sm-column(7);
			padding-left: 0;
			padding-right: 0;
		}
		.url-link{
			text-decoration: none;
			.hidden-xs();
			.make-sm-column(2.5);
			.opensans_bold(8pt, @white);
			text-align: right;
			padding: 0;
			line-height: 21px;
		}

	}
}