#mainFooter{
		
	@media (max-width: @screen-sm-max) {
		//.container-fluid();
		.clean-paddings();
		width:100%;

	}
	@media (min-width: @screen-md-min) {
		.clean-paddings();
		width:100%;
	}

	.make-row(0);
	background: @black;
	.footer-link {
		.opensans_bold(8pt, @white);
		padding: 0 20px;
		border-right: 2px solid @white;
	}

	@own-gutter: 10px;
	//link de nombre de usuario
	.profile-link {
		.footer-link();
		line-height: 35px;
		@media (max-width: @screen-sm-max) {
			.opensans_normal(8pt, @greyMed);
			border-right: 2px solid @greyMed;
		}
	}
	.goto-link{
		text-decoration: none;
	}
	.policy-link {
		.profile-link();
		@media (max-width: @screen-sm-max) {
			border-right: none;
		}
	}

	.username-link {
		.footer-link();
		line-height: 35px;
		padding-left: 0;
	}
	.profile-link-desktop-first{
		.profile-link-desktop();
		padding-left: 0;
	}
	.profile-link-desktop{
		.profile-link();
		.hidden-xs();
		padding: 0 20px;
	}

	.logout-link {
		.footer-link();
		color: @greyDark;
		border-right-width: 0;
		line-height: @own-gutter * 2px;
		text-decoration: none;

	}
	.sup-footer-wrapper {
		.container-fluid();
	}
	.user-info-sup-footer {
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
		.make-xs-column(12);
		padding: @own-gutter 0;

		.add-funds-button {
			.btn();
			.btn-primary();
			float: right;
			.opensans_bold(8pt, @white);
			padding: 10px 20px;
			.pull-right();
    		@media (max-width: @screen-sm-max) {
			 // .button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius)
				.button-size(4px, 4px, 8pt, 1.5em, 4px); 
				margin-top: 5px;
			}
		}
	}

	.sub-footer-wrapper{
		width: 100%;
		//height: 150px;

		@media (max-width: @screen-xs-max) {
			background: @greyUltraDark;
			padding: 10px 15px;
			.make-border(1px, solid none none none, @greyMed);
		}
		background: @black;
	}
	.sub-footer {
		.container();
		@media (min-width: @screen-sm-min) {
			width: 100%; //aunque sea un cotainer, queremos que se ajuste al ancho
			padding-bottom: 15px;
		}
		float: none;

		.data-wrapper{
			.make-xs-column(12);
			.make-sm-column(9);
			margin: 0 auto;
			padding: 20px 20px;
			@media (max-width: @screen-xs-max) {
				text-align: center;	
				padding: 0px 0px;
			}
		}
		.credit-cards {
			.hidden-xs();
			.make-sm-column(3);
			margin: 0 auto;
			padding: 25px 0px 26px 20px;
			text-align: right;
			.pull-right();

		}
		.copyright {			
			.make-xs-column(12);
			.make-sm-column(2.5);
			@media (max-width: @screen-xs-max) {
				text-align: center;
				.opensans_normal(8pt, @greyMed);
			}
			.opensans_bold(8pt, @white);
			line-height: 21px;
		}
		.social {
			.hidden-xs();
			.make-sm-column(7);
			padding-left: 0;
			padding-right: 0;
		}
		.url-link{
			text-decoration: none;
			.hidden-xs();
			.make-sm-column(2.5);
			.opensans_bold(8pt, @white);
			text-align: right;
			padding: 0;
			line-height: 21px;
		}

	}
}