footer {
	
	@media (min-width: @screen-sm-min) {
		.container-fluid();
		.clean-paddings();
	}
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}

	// Reserva de sitio. En ambas resoluciones con el contenido actual es algo menos que esto,
	// 129px en movil y 122px en desktop, pero mejor lo fijamos a algo mas y asi en el hack del
	// bleach usamos este height siempre.
	//min-height: 130px;
	//display: block;
}

#rootFooter {
	.make-row(0);
	.clean-paddings();
	background-color: @black;
	min-height: 130px;
		
	.goto-link{
		text-decoration: none;
	}
	@own-gutter: 10px;
	//Base para los link del footer
	.footer-link {
		.opensans_bold(10pt, @white);
		line-height: 35px;
		padding: 0;
	}

	.username-link {
		.footer-link();		
		padding-right: 5px;
	}

	.logout-link {
		.footer-link();
		color: @greyDark;
		//line-height: @own-gutter * 2px;
		text-decoration: none;
		border-left: 2px solid @white;
		padding-left: 10px;

	}
	.sub-footer-link{
		.footer-link();
		border-left: 2px solid @white;
		padding-right: 5px;
		@media (max-width: @screen-xs-max) {
			.opensans_normal(10pt, @greyMed);
			border-color: @greyMed;
			padding-right: 5px;
		}
	}

	.sub-footer-help-link {
		.sub-footer-link();
		border: none;
		padding-left: 0px;
		padding-right: 10px;
		.hidden-xs();
	}
	.sub-footer-legal-link {
		.sub-footer-link();
		padding-right: 5px;
		padding-left: 10px;
		@media (max-width: @screen-xs-max) {
			border: none;
			padding-left: 0;
		}
	}
	.sub-footer-terms-link {
		.sub-footer-link();
		padding-right: 5px;
		padding-left: 10px;
		span {
			.hidden-xs();
		}
	}
	.sub-footer-policy-link {
		.sub-footer-link();
		padding-right: 0px;
		padding-left: 10px;
		span {
			.hidden-xs();
		}
	}

	.sup-footer-wrapper {
		.container-fluid();
	}

	.user-info-sup-footer {
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
		.make-xs-column(12);
		padding: @own-gutter 0;
		min-height: 55px;

		.add-funds-button {
			.btn();
			.btn-primary();
			float: right;
			.opensans_bold(8pt, @white);
			padding: 10px 20px;
			.pull-right();
    		@media (max-width: @screen-sm-max) {
				.button-size(4px, 12px, 8pt, 1.5em, 4px); 
				margin-top: 5px;
			}
		}
	}

	.sub-footer-wrapper{
		width: 100%;

		@media (max-width: @screen-xs-max) {
			background: @greyUltraDark;
			padding: 10px 0px;
			.make-border(1px, solid none none none, @greyMed);
		}
		background: @black;
	}
	.sub-footer {
		.container();
		@media (min-width: @screen-sm-min) {
			width: 100%; //aunque sea un cotainer, queremos que se ajuste al ancho
			padding-bottom: 15px;
		}
		float: none;

		.logo-wrapper {
			height: 45px;
			margin-top: 5px;
			.make-border(1px, none none solid none, @greyHeaderLight);
			@media (max-width: @screen-xs-max) {
				text-align: center;
			}
		}

		.data-wrapper{
			.make-xs-column(12);
			.make-sm-column(8);
			.clean-paddings();
			@media (max-width: @screen-xs-max) {
				text-align: center;	
			}
			a {
				cursor: pointer;
			}
		}
		.credit-cards {
			.hidden-xs();
			.make-sm-column(4);
			margin: 0 auto;
			padding: 25px 0px 26px 20px;
			text-align: right;
			.pull-right();

		}
		.opta {
			.hidden-xs();
			.make-sm-column(4);
			.clean-paddings();
			.pull-right();
			.opensans_normal(10pt, @greyUltraLight);
			line-height: 20px;
			div {
				text-align: right;
				padding-right: 58px;
				span {
					text-indent: -9999px;
					overflow: hidden;
					display: inline-block;
					&::after {
						content: url("@{images}/logoOpta.png");
						display: inline-block;
						width: 48px;
						height: 21px;
						position: absolute;
						top: 5px;
						right: 0;
					}
				}
			}
			div + div {
				.opensans_normal(11pt, @greyUltraLight);
				padding-right: 0;
				padding-top: 10px;
				strong {
					background-image: url("@{images}/performBg.png");
					background-repeat: no-repeat;
					background-position: 31px -4px;
				}
			}
		}
		.copyright {			
			.make-xs-column(12);
			.make-sm-column(3);
			.clean-paddings();
			.opensans_bold(9pt, @greyUltraLight);
			padding-top: 5px;
			@media (max-width: @screen-xs-max) {
				text-align: center;
				.opensans_normal(10pt, @greyMed);
			}
		}
		.social {
			.hidden-xs();
		}
		.url-link{
			text-decoration: none;
			.hidden-xs();
			.make-sm-column(3.5);
			.opensans_bold(10pt, @white);
			text-align: right;
			padding: 0;
			line-height: 21px;
		}
	}
}