.global-help-info #mainWrapper {
	background-color: @white;
	max-width: 970px;
}

#helpInfo {
	how-it-works {
		display: block;
	}

	.block-dark {
		background-color: @tramaBlue;
		padding-bottom: 40px;
	}

	.block-light {
		background-color: @white;
		padding-bottom: 40px;
	}

	.title {
		.exo_light(30pt, @blueLight);
		padding: 16px 10px 12px;
		text-align: center;

		.help-point { 
			border: 1px solid @blueLight;
			border-radius: 1000px;
			margin-right: 5px;
			width: 60px;
			display: inline-block;
		}
	}

	.description {
		.opensans_normal(10pt, @greyUltraDark);
		text-align: center;
		padding: 0 20px 10px 20px;
		max-width: 475px;
		margin: 0 auto;
		
		.capital-icon {
			margin-top: 15px;
		}
		ul {
			display: inline-block;
			li {
				.opensans_normal(10pt, @greyUltraDark);
				list-style-type: none;
			}
		}
	}
	
	#help-info-1 .description {
		max-width: none;
	}

	.img-wrapper {
		max-width: 829px;
		margin: 0 auto;
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			@media (min-width: @screen-sm-min) {
				padding: 10px;
			}
		}
		.img-footer {
			.opensans_bold(10pt, @greyUltraDark);
			text-align: center;
		}
	}
	
	.block-last {
		max-width: 660px;
		margin: 0 auto;
		.img-wrapper-left {
			@media (min-width: @screen-sm-min) {
				.pull-left();
				width: 45%;		
				height: 222px;
			}
			max-width: 323px;
			padding: 10px;
			margin: 0 auto;
			img {
				display: block;
				width: 100%;
			}
		}
		.description-right {
			.opensans_normal(10pt, @greyDark);
			text-align: center;
			@media (min-width: @screen-sm-min) {
				height: 222px;
				text-align: left;
			}
			padding: 10px;
			.button-play {
				.btn-primary();
				margin-top: 5px;
				padding: 10px 40px;
			}
		}
	}

	.toogle-block { 
 		max-width: 808px;
 		margin: 5px auto;
 		label {
 			.exo_bold(10pt, @greyDark);
			display: block;
			height: 28px;
			padding: 5px 10px;
			margin-left: 10px;
			margin-right: 10px;
			.make-border(1px, solid, @greyDark, 5px);
			transition: .4s all linear;
			&:hover {
				cursor: pointer;
			}
		}
		label::after {
				.create-glyph("\E080", 9pt);
				float: right;
		}
		.toggle ~ div {
			.opensans_normal(10pt, @greyDark);
			padding: 0 10px;
	  		height: 0;

	  		-webkit-transform: scaleY(0);
			-o-transform: scaleY(0);
			-ms-transform: scaleY(0);
			transform: scaleY(0);

			-webkit-transform-origin: top;
			-o-transform-origin: top;
			-ms-transform-origin: top;
			transform-origin: top;

			-webkit-transition: -webkit-transform 0.08s ease-out;
			-o-transition: -o-transform 0.08s ease;
			-ms-transition: -ms-transform 0.08s ease;
			transition: transform 0.08s ease;
		}
		.toggle:checked ~ div {
			height: auto;
			-webkit-transform: scaleY(1);
			-o-transform: scaleY(1);
			-ms-transform: scaleY(1);
			transform: scaleY(1);
		}
		.toggle:checked + label::after {
		 	.create-glyph("\E114", 9pt);
		}
		.toggle { display: none; }
		a {
			cursor: pointer;
		}
	}

	.scores-wrapper {
		.make-row(0);
		max-width: 818px;
		margin: 0 auto 30px auto;
	}

	// Tabs menu
	.help-info-tabs {
		.tabs-navigation(3);
	}

	.tab-pane {
		display: none;
	}

	.tab-pane.active {
		display: block;
	}

	.button-back {
		.btn-primary();
		margin: 0 auto;
		display: block;
		margin-top: 15px;
		padding: 8px 25px;
	}
}
#tutorial-content .block-light {
	border-top: 40px solid @blueLight;
}
.tutorial-row {
	.make-row(0);

	.tutorial-tile {
		.make-xs-column(10);
		.make-sm-column(6);
		text-align: center;
		display: inline-block;
		position: relative;
		margin-top: 40px;
		
		
		@media (max-width: @screen-xs-max) {
			margin-left: 8.33333333%;
			margin-right: 8.33333333%;
			margin-top: 20px;
			padding-top: 20px;
		}
		
		.tutorial-title {
			.exo_light(20pt, @blueUltraDark);
			padding: 0 20px;
			height: 60px;
			margin-top: 5px;
			@media (max-width: @screen-sm-max) {
				.exo_light(16pt, @blueUltraDark);
			}
		}
		.tutorial-description {
			.opensans_normal(12pt, @greyDark);
			padding: 0 10px;
			height: 50px;
			@media (max-width: @screen-sm-max) {
				.opensans_normal(10pt, @greyDark);
			}
		}
		.button-go-tutorial {
			.btn-primary();
			.opensans_normal(10pt, @white);
			text-transform: uppercase;
			padding: 10px 20px;
			margin-bottom: 5px;
		}
		.incoming {
			.opensans_bold(10pt, @greyDark);
			text-transform: uppercase;
			display: block;
			padding: 10px 20px;
			margin-bottom: 5px;
		}
	}

	.tutorial-tile + .tutorial-tile {
		border-left: 1px solid @blueUltraDark;
		
		@media (max-width: @screen-xs-max) {
			border-left: none;
			border-top: 1px solid @blueUltraDark;
		}
	}
}