.global-home #mainWrapper {
	background: none;
}

#homeRoot {
	
	.home-tile-wrapper {
		.make-tile(4, 3);
		.user-select(none);
		
		.home-tile-content {
			padding: 1px;
			height: 100%;
			position: relative;
			
			background: rgba(255,255,255,0.2);
			background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0.2)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(-45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(135deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
		}
		
		.tile {
			
			background-color: @black;
			//background-image: url("@{images}/landingBackground.jpg");
			background-size: cover;
			background-position: center bottom;
			background-repeat: no-repeat;
			
			.tile-title {
				display: block;
				position: relative;
				.exo_bold(14pt, @white);
				
				&:after {
					content: "";
					display: block;
					position: relative;
					width: 70px;
					border-bottom: 1px solid fade(@white, 50%);
					margin-top: 5px;
				}
			}
				
			.tile-info {
				.opensans_normal(10pt, @white);
				max-width: 180px;
				margin: 10px 0 5px 0;
				display: inline-block;
			}
			
		}
		
		.tile-action { //enabled
			.addIcon("ht_IconoGo.png", 32px, 32px);
			float: right;
		}
		
		&.disabled .tile-action {
			.addIcon("ht_IconoLock.png", 32px, 32px);
			float: right;
		}
		&.disabled .tile {
			cursor: not-allowed;
		}
	}

	.vertical-layout-tilling {
		cursor: default;
		.make-tile(4, 3);
		padding: 0;
	}
	
	
	#myContestsTile .home-tile-wrapper {
		.make-tile(12, 1);
	}
	#manageTile .home-tile-wrapper {
		.make-tile(12, 1.5);
	}
	#helpTile {
		#blogTile.home-tile-wrapper {
			.make-tile(12, 2);
		}
		#howitworksTile.home-tile-wrapper {
			.make-tile(12, 1);
		}
	}

	#contestTile .tile {
		background-image: url("@{images}/ht_ModuloTorneoBGPlay.jpg");
	}

	
	#createContestTile .tile {
		background-image: url("@{images}/ht_ModuloRetaBG.jpg");
	}
	#scoutingTile .tile {
		background-image: url("@{images}/ht_ModuloOjeadorBG.jpg");
	}
	
	
	#upcomingTile .tile {
		background-image: url("@{images}/ht_ModuloProximosBG.jpg");
	}
	#liveTile .tile {
		background-image: url("@{images}/ht_ModuloEnVivoBG.jpg");
	}
	#historyTile .tile {
		background-image: url("@{images}/ht_ModuloHistoricoBG.jpg");
	}
	
	
	#blogTile .tile {
		background-image: url("@{images}/ht_ModuloMisterBG.jpg");
	}
	#howitworksTile .tile {
		background-image: url("@{images}/ht_ModuloOjeadorBG.jpg");
	}
	
	
	#contestTile.home-tile-wrapper {
		margin-top: 20px;
		.make-tile(12, 3);
		
		.tile {
			.tile-title {
				margin-top: 40px;
				&:after {
					width: 85px;
					margin-top: 5px;
					margin-bottom: 15px;
					border-bottom: 2px solid fade(@white, 75%);
				}
				.exo_light(30pt, @white);
				line-height: 45px;
				
				&.real:before {
					content: "";
					.addIcon("trophy_light.png", 42px, 42px);
					margin-top: -20px;
					display: block;
				}
				&.virtual:before {
					content: "";
					.addIcon("trophy_light.png", 42px, 42px);
					margin-top: -20px;
					display: block;
				}
			}

			.tile-info {
				.opensans_normal(14pt, @white);
				max-width: 700px;
				.promo-date,
				.promo-description {
					display: block;
					.opensans_normal(10pt, @white);
				}
				.end-of-season {
					display: block;
					.opensans_normal(12pt, @white);
				}
				.home-twitter-social, .home-facebook-social {
					img {
						width: 36px;
						height: 36px;
						margin-top: 15px;
					}
				}	
			  .home-facebook-social {
					img {
						margin-right: 30px;
					}
				}
			}
			.tile-action {	
				display: block;
				float: none;
				margin-top: 20px;
			}
		}
	}
	
	#myContestsTile .home-tile-wrapper {
		.tile {
			.tile-title {
				color: @blueLight;
			}
			.tile-info {
				.num-contest-info {
					background-color: @blueMed;
					border-radius: 5px;
					padding: 5px;
					min-width: 30px;
					display: inline-block;
					text-align: center;
					vertical-align: bottom;
					
					&.virtual {
						text-align: left;
						min-width: 90px;
						vertical-align: bottom;
						&:before {
							content: "";
							margin: 1px 5px -1px 5px;
							.addIcon("ht_IconoEntrenamiento.png", 17px, 20px);
						}
					}
					&.real {
						text-align: left;
						min-width: 90px;
						vertical-align: bottom;
						&:before {
							content: "";
							margin: 1px 5px -1px 5px;
							.addIcon("ht_IconoOficial.png", 20px, 20px);
						}
					}
				}
			}
		}
	}
	
	#blogTile .tile {
		.tile-title {
			color: @greyMed;
		}
		.tile-blog-author {
			color: @greyMed;
			.opensans_normal(10pt, @white);
			font-style: italic;
			position: absolute;
			display: block;
			bottom: 20px;
		}
		.tile-action {
			position: absolute;
			right: 20px;
			bottom: 20px;
		}
	}
	
	#howitworksTile .tile {
		.tile-title {
			color: @greyMed;
		}
	}
	
	
	
	.clearfix {
		padding-bottom: 20px;
	}
}