.global-home #mainWrapper {
	background: none;
}

#homeRoot {
	
	.home-tile-wrapper {
		.make-tile(3, 2);

		//background: #ff0000;
	}

	.vertical-layout-tilling {
		cursor: default;
		.make-tile(3, 2);
		padding: 0;
	}

	.vertical-layout-tilling .home-tile-wrapper {
		.make-tile(12, 1);
		display: block;

		//background: #ff00ff;
	}

	.main-tile-wrapper {
		margin-top: 20px;
		.make-tile(12, 3);

		.tile {
			background-color: #000000;
		}
		//background: #0000ff;
	}


	#myContestsTile {
		.tile {
			background-color: #214a5f;
		}
	}

	#manageTile {
		.tile {
			background-color: #fa9c19;
		}
	}

	#tutorialTile {
		.tile {
			background-color: #59add5;
		}
	}

	#blogTile {
		.tile {
			background: #59add5;
		}
	}
	
	.clearfix {
		padding-bottom: 20px;
	}
}