.fondo-negro{
	background-color: @black;
}
#desktopContent{
	.hidden-xs();
	.vertical-separator-big{
		widht: 100%;
		height: 58px;
	}
	.vertical-separator-small{
		widht: 100%;
		height: 58px;
	}
	.wrapping-link {
		text-decoration: none;
	}
	.more-info-section(@bgColor, @textColor, @imageName){
		display: block;
		background-color: @bgColor,;
		margin:0;
		padding: 15px;
		
		> span{
			.opensans_bold(9pt, @textColor);
			display: block;
			text-align: center;
		}
		.go-down-icon {
			background-image: url("@{images}/@{imageName}");
			.size(15px, 15px);
			margin: 0 auto;
		}

	}
	.more-info-section-dark{
		.more-info-section(@blueDark,  @white,    "goDownLight.png");
	}
	.more-info-section-light{
		.more-info-section(@greyLight, @blueDark, "goDownDark.png");
	}
	.screen-content{
		max-width: 410px;
		position:absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -320px;
	}
	.title-sup-text{
		.opensans_bold(12pt, @white);
		margin: 0;
	}
	.title-text{
		.exo_light(30pt, @orange);
		margin: 0;
	}
	.description-text{
		.opensans_bold(8pt, @blueDark);
		margin: 0;
	}
	.first-description-text{
		.description-text();
		color:@white;
	}
}
//Version mobil
#mobileContent{
	.hidden-sm();
	.hidden-md();
	.hidden-lg();
	.background{
		display: block;
	 	margin-left: -384px;
	 	position: relative;
		left: 50%;
	}	
	.screen{
		position: relative;
	}
	.content{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		position: absolute;
		bottom: 10%;
		> p{
			
		}
		.button-play-mobile {
			.btn();
			.btn-primary();
			width: 80%;
			max-width: 300px;
			
			margin: 0 auto;
			margin-top: 40px;

		}
		.title-sup-text-mobile{
			.opensans_bold(0.8em, @white);
			margin-bottom: 10px;
			//margin: 0;
		}
		.title-text-mobile{
			.exo_light(2.3em, @orange);
			margin-bottom: 30px;
			//margin: 0;
		}
	}
}
//wrapper que se añade por código dart a la web sólo para la landing
.landing-wrapper{
	.first-screen{
		position:relative;
		.screen-background{
		 	display: block;
		 	margin-left: -800px;
		 	position: relative;
			left: 50%;
		}
	}
	.screen{
		.screen-background{
		 	display: block;
		 	position: relative;
			.img-responsive();
		}
		.content-wrapper{
			background-color: white;
			width: 100%;
			.content-container{
				.container();
				.make-row();
				margin: 0 auto;
				padding-top: 40px;
				padding-bottom: 40px;
				.screen-image-block {
					.make-sm-column(6);
					> img {
						.img-responsive();
					}
				}
				.screen-text-block {
					.make-sm-column(6);
					.title-text-dark{
						.exo_light(30pt, @blueDark);
						margin: 0;
					}
					.description-text{
						.opensans_bold(9pt, @blueDark);
						margin: 0;
					}
					.description-text-alt{
						.opensans_bold(9pt, @orange);
						margin: 0;
					}
					> p {
						padding-bottom: 15px;
					} 
				}
			}
		}
	}
	.slider-wrapper {
		position: relative;
		overflow: hidden;
	}
	.button-play{
		.btn();
		.btn-primary();
		padding: 10px 60px;
	}
	.screen-pattern{
		position: absolute;
		background-image: url('@{images}/pattern.png');
		width:100%;
		height: 100%;
		top: 0;
	}
}	

	
	
