#desktopContent{
	background-color: @black;	
	.vertical-separator{
		widht: 100%;
		height: 58px;
	}
	.button-play{
		.btn();
		.btn-primary();
		padding: 10px 60px;
	}
	.more-info-section-grey{
		background-color: @greyLight;
		margin:0;
		padding: 15px;
		> span{
			.opensans_bold(9pt, @blueDark);
			display: block;
			text-align: center;
		}
		.go-down-dark-icon {
			background-image: url("@{images}/goDownDark.png");
			.size(15px, 15px);
			margin: 0 auto;
		}
	}
}
#mobileContent{

}
.landing-wrapper{
	#screen1{
			position:relative;
			.screen-background{
			 	display: block;
			 	margin-left: -800px;
			 	position: relative;
				left: 50%;
			}
			.screen-pattern{
				position: absolute;
				top: 0;
				left: 0;
				background-image: url('@{images}/pattern.png');
				width:100%;
				height: 100%;
			}
			.screen-content{
				max-width: 410px;
				position:absolute;
				bottom: 0px;
				left: 50%;
				margin-left: -320px;
				.title-sup-text{
					.opensans_bold(12pt, @white);
					margin: 0;
				}
				.title-text{
					.exo_light(30pt, @orange);
					margin: 0;
				}
				.description-text{
					.opensans_bold(8pt, @white);
					margin: 0;
				}

			}
		}
	}
	
