leaderboard {
	.flex-container-col();
	background-color: @soft-black;
	overflow: hidden;
	leaderboard-table {
		.flex-elem-fluid();
		.flex-container-col();
		overflow: hidden;
	}
	.leaderboard-table-header {
		.flex-container-row();
		.flex-elem-fixed(auto);
		.mainfont_light(14pt, @white, center, uppercase);
		background-color: @grey-dark;
		padding: 15px 0;
		border-top: 1px solid @grey-translucid;
		border-bottom: 2px solid @grey-translucid;
	}
	.leaderboard-data-wrapper {
  		overflow-y: scroll;
		.flex-elem-fluid();
		.flex-container-col();
	}
	.leaderboard-table-data {
		.flex-container-row();		
		.flex-elem-fixed(auto);
		.mainfont_light(14pt, @grey-bluish, center, uppercase);
		padding: 15px 0;
		border-bottom: 1px solid @grey-translucid;
	}
	.leaderboard-table-data.player-position {
		color: @blueLight;
	}
	.leaderboard-column-position {
		.flex-elem-fixed(100px);
	}
	.leaderboard-column-name {
		.flex-elem-fluid();
		text-align: left;
	}
	.leaderboard-column-score {
		.flex-elem-fixed(100px);
	}

	// stylos de la versión minimizada que hay en el ranking
	leaderboard-table[minimized] {
		.leaderboard-data-wrapper {
			overflow-y: auto;	
		}
		.leaderboard-table-data {
			border: none;
			padding: 5px 0;
		}
	}
}
