#leaderboard-wrapper {

  padding-bottom: 40px;
  
	#leaderboard-header-wrapper {
		
		display: block;
		background-color: @tramaBlue;
		/*background-image: url('@{images}/leaderboardBackground.png');
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;*/
		padding: 10px 10px;
		
		h1 {
			.exo_light(25pt, @blueHyperDark);
			text-transform: initial;
			
			text-align: center;
			margin: 20px;
		}
		
		.rankings-wrapper {
			display: block;
			padding-top: 35px;
			
			.ranking {
				
				//display: inline-block;
				
				&.ranking-by-points {
					.make-xs-column(5);
					padding: 0px;
					
				}
				&.ranking-by-money {
					.make-xs-column-offset(2);
					.make-xs-column(5);
					float: right;
					text-align: right;
					
				}
				
				.ranking-position {
					.exo_light(25pt, @white);
					
					@media (min-width: @screen-sm-min) {
						padding-right: 10px;
					}
				}
				
				.ranking-info {
					
					@media (min-width: @screen-sm-min) {
						display: inline-block;
					}
					
					span {
						display: block;
					}
					
					.ranking-name {
						.exo_light(8pt, @white);
						.hidden-xs();
					}
					.ranking-value {
						.exo_light(8pt, @orange);
						
						@media (min-width: @screen-sm-min) {
							text-align: left;
						}
					}
				
				
				}
			}
		}
		
	}
	
	.leaderboard-tabs {
		.tabs-navigation(3);
		
		.leaderboard-tab:before {
			margin-right: 10px;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.top-money-tab:before {
			.addIcon('icon-Ranking-Monedas.png', 32px, 50px);
		}
		.top-points-tab:before {
			.addIcon('icon-Ranking-Skill.png', 32px, 50px);
		}
		.achievements-tab:before {
			.addIcon('achivements-icon.png', 33px, 50px);
		}
		
		.leaderboard-tab {
			@media (max-width: @screen-xs-max) {
				.text-hide();
			}
		}
		
	}
	
	.tabs .tab-content .tab-pane .leaderboard-table {
		.container-fluid();
		.clean-paddings();
		
		.leaderboard-table-header {
			.leaderboard-table-element {
				.exo_bold(10pt, @blueDark);
				background-color: @white;
			}
		}
		.leaderboard-table-data {
			.leaderboard-table-element {
				margin-bottom: 2px;
				
				.exo_bold(10pt, @greyDark);
				background-color: @greyUltraLight;
				
				&.player-position {
					.exo_bold(10pt, @white);
					background-color: @greyUltraDark;
				}
				
			}
		}
		
		.leaderboard-table-element {
			
			.make-row(0);
			
			
			@media (min-width: @screen-sm-min) {
				padding: 0px 50px;
			}
						
			.leaderboard-column {
				padding: 20px;
				social-share {
					height: 20px;
				}
			}
			
			.leaderboard-table-position {
					.make-xs-column(2);
					.make-sm-column(1);
			}
			.leaderboard-table-name {
					.make-xs-column(6);
					.make-sm-column(4);
			}
			.leaderboard-table-hint {
					.hidden-xs();
					.make-sm-column(5);
			}
			.leaderboard-table-skillpoints {
					.make-xs-column(4);
					.make-sm-column(2);
					text-align: right;
			}
			
		}
	}
	
}

