.lineup-selector {
	@lineup-selector-gutter: 0px;	// Tiene que ser el mismo que soccer_players_list

	.lineup-selector-slot {
		// Heredamos los estilos de nuestro padre la lista soccer_players_list
		&:extend(.soccer-players-list .soccer-players-list-slot);

		.column-fieldpos {
			&:extend(.soccer-players-list .soccer-players-list-slot .column-fieldpos);
		}
		.column-primary-info {
			.make-xs-column(8, @lineup-selector-gutter);
			.make-sm-column(5, @lineup-selector-gutter);

			.soccer-player-name {
				&:extend(.soccer-players-list .soccer-players-list-slot .column-primary-info .soccer-player-name);
			}
			.match-event-name {
				&:extend(.soccer-players-list .soccer-players-list-slot .column-primary-info .match-event-name);
			}
		}

		// Mostraremos o column-primary-info o column-empty-slot (desde dart)
		.column-empty-slot {
			.make-xs-column(10, @lineup-selector-gutter);
		}

		.column-salary {
			&:extend(.soccer-players-list .soccer-players-list-slot .column-salary);
		}
		.column-action {
			.make-xs-column(2, @lineup-selector-gutter);
			text-align: center;
			font-size: 20pt;
			padding-top: 5px;

			#iconButtonSelect { color: @blueDark; }
			#iconButtonRemove { color: @greyMed; }
		}
		
		// En mobile tenemos que dejar un poco de margin para que funcione a 320x480
		@media (max-width: @screen-xs-max) {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}