// Reserva de sitio
lineup-selector {
	display: block;
	background-color: @white;
	min-height: 463px;
}

.lineup-selector {
	.make-border(1px, solid none none none, @greyDark);
	@lineup-selector-gutter: 0px;	// Tiene que ser el mismo que soccer_players_list
	@lineup-pos-selector-gutter: 20px;   // Nuevo para la posicion del jugador

	.posPOR { background-color: @tramaPor; }
	.posDEF { background-color: @tramaDef; }
	.posMED { background-color: @tramaMed; }
	.posDEL { background-color: @tramaDel; }

	.lineup-selector-slot {
		// Heredamos los estilos de nuestro padre la lista soccer_players_list
		&:extend(.soccer-players-list .soccer-players-list-slot);
		cursor: pointer;
		
		.column-fieldpos {
			float: left;
			line-height: 42px;
			.make-xs-column(2, @lineup-pos-selector-gutter);
			.make-sm-column(2, @lineup-pos-selector-gutter);
			.make-md-column(2, @lineup-pos-selector-gutter);
			.opensans_bold(9pt, @greyDark);
		}
		.column-primary-info {
			.make-xs-column(7, @lineup-selector-gutter);
			.make-md-column(7, @lineup-selector-gutter);
			line-height: 10pt;
			
			.soccer-player-name {
				&:extend(.soccer-players-list .soccer-players-list-slot .column-primary-info .soccer-player-name);
			}
			.match-event-name {
				&:extend(.soccer-players-list .soccer-players-list-slot .column-primary-info .match-event-name);
			}
		}

		// Mostraremos o column-primary-info o column-empty-slot (desde dart)
		.column-empty-slot {
			.make-xs-column(9, @lineup-selector-gutter);
			.opensans_bold(9pt, @orange);
			padding-top: 11px;
		}

		.column-salary {
			&:extend(.soccer-players-list .soccer-players-list-slot .column-salary);
			.opensans_bold(9pt, @greyDark);
			text-align: right;
		}
		.column-action {
			.make-xs-column(1, @lineup-selector-gutter);
			.make-md-column(1, @lineup-selector-gutter);
			font-size: 20pt;
			line-height: 30px;
			.iconButtonSelect {
				color: @blueDark;
				font-size: 10pt;
			}
			.iconButtonRemove {
				color: @greyMed;
				font-size: 10pt;
			}
		}
	}

	@media (min-width: @screen-md-min) {
		.make-border(1px, solid none none none, @orange);
	}

	//Alerta números rojos
	.alert-red-numbers {
		width: 100%;
		text-align: center;
		font-size: 10pt;
		margin-bottom: 0;
		display: none;
		border-radius: 0;
		button {
			margin: -12px -10px 0 0;
		}
	}
	.alert-red-numbers.active {
		display: block;
	}
}