.lineup-451 {
  // GOALKEEPER
  .lineup-selector-slot:nth-child(1) {
    left: 50%;
    top: 82%;
  }

  // DEFENSE 1
  .lineup-selector-slot:nth-child(2) {
    left: 13%;
    top: 70%;
  }
  // DEFENSE 2
  .lineup-selector-slot:nth-child(3) {
    left: 35%;
    top: 57%;
  }
  // DEFENSE 3
  .lineup-selector-slot:nth-child(4) {
    left: 65%;
    top: 57%;
  }
  // DEFENSE 4
  .lineup-selector-slot:nth-child(5) {
    left: 87%;
    top: 70%;
  }
  
  // MIDDLE 1
  .lineup-selector-slot:nth-child(6) {
    left: 12%;
    top: 39%;
  }
  // MIDDLE 2
  .lineup-selector-slot:nth-child(7) {
    left: 29%;
    top: 17%;
  }
  // MIDDLE 3
  .lineup-selector-slot:nth-child(8) {
    left: 50%;
    top: 37%;
  }
  // MIDDLE 4
  .lineup-selector-slot:nth-child(9) {
    left: 71%;
    top: 17%;
  }
  // MIDDLE 5
  .lineup-selector-slot:nth-child(10) {
    left: 88%;
    top: 39%;
  }
  
  // FORWARD 1
  .lineup-selector-slot:nth-child(11) {
    left: 50%;
    top: 5%;
  }
}



