.lineup-343 {
  // GOALKEEPER
  .lineup-selector-slot:nth-child(1) {
    left: 50%;
    top: 82%;
  }

  // DEFENSE 1
  .lineup-selector-slot:nth-child(2) {
    left: 20%;
    top: 70%;
  }
  // DEFENSE 2
  .lineup-selector-slot:nth-child(3) {
    left: 50%;
    top: 65%;
  }
  // DEFENSE 3
  .lineup-selector-slot:nth-child(4) {
    left: 80%;
    top: 70%;
  }
  
  // MIDDLE 1
  .lineup-selector-slot:nth-child(5) {
    left: 15%;
    top: 31%;
  }
  // MIDDLE 2
  .lineup-selector-slot:nth-child(6) {
    left: 35%;
    top: 45%;
  }
  // MIDDLE 3
  .lineup-selector-slot:nth-child(7) {
    left: 65%;
    top: 45%;
  }
  // MIDDLE 4
  .lineup-selector-slot:nth-child(8) {
    left: 85%;
    top: 31%;
  }
  
  // FORWARD 1
  .lineup-selector-slot:nth-child(9) {
    left: 25%;
    top: 8%;
  }
  // FORWARD 2
  .lineup-selector-slot:nth-child(10) {
    left: 50%;
    top: 20%;
  }
  // FORWARD 3
  .lineup-selector-slot:nth-child(11) {
    left: 75%;
    top: 8%;
  }
}



