 // barra supeior que muestra el id del partido
.contest-id-bar{
	.make-row(0);
	background-color: @tramaBlue;
	.contest-id{
		.make-xs-column(12);
		.opensans_bold(10pt, @blueDark);
		text-align: right;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
//barra que muestra los partidos que intervienen en el concurso y los encales sociales
.info-and-social-bar{
	.make-row(0);
	background-color: @tramaBlue;
	.social{
		.make-xs-column(0);
		width: 150px;
		padding: 9px 20px;
	}
	.teams-info{
		.opensans_bold(9pt, @greyMed);
		.make-xs-column(0);
		width: 140px;
		background-color: @white;		
		border-radius: 10px;
		padding: 10px;
		margin: 8px 4px;
		text-align: center;
	}
}
#liveContestRoot {
	@media (min-width: @screen-sm-min) {
		padding-top: 20px;	// Quitar cuando haya mas componentes, usar un espaciador vertical
		min-height: 718px;
		background-color: @white;
		.border-bottom-radius(@globalBoxesRadius);

		.btn {
			.btn-default();
			margin:10px; 	// TODO: Posicionar cuando tengamos el diseño
		}
	}
	// Tabs menu
	.live-contest-tabs {
		.hidden-md();
		.hidden-lg();
		.tabs-navigation(3);
		a {
			overflow: hidden;
			white-space: nowrap;
		}
	}
}