 // barra supeior que muestra el id del partido
.contest-id-bar{
	.make-row(0);
	background-color: @tramaBlue;
	.contest-id{
		.make-xs-column(12);
		.opensans_bold(10pt, @blueDark);
		text-align: right;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
//barra que muestra los partidos que intervienen en el concurso y los encales sociales
.info-and-social-bar{
	.make-row(0);
	background-color: @tramaBlue;
	.social{
		.make-sm-column(2);
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.teams-info{
		//.make-sm-column(2);
		.opensans_bold(10pt, @greyMed);
		background-color: @white;		
		border-radius: 10px;
		padding: 5px 10px;
		width: 10%;
		white-space: normal;
		display: inline-block;
		margin: 15px 3px;
		text-align: center;
	}
}
#liveContestRoot {
	@media (min-width: @screen-sm-min) {
		padding-top: 20px;	// Quitar cuando haya mas componentes, usar un espaciador vertical
		min-height: 718px;
		background-color: @white;
		.border-bottom-radius(@globalBoxesRadius);

		.btn {
			.btn-default();
			margin:10px; 	// TODO: Posicionar cuando tengamos el diseño
		}
	}
	// Tabs menu
	.live-contest-tabs {
		.hidden-md();
		.hidden-lg();
		.tabs-navigation(3);
	}


	

}