#liveContestRoot {
	@media (min-width: @screen-sm-min) {
		padding-top: 20px;	// Quitar cuando haya mas componentes, usar un espaciador vertical
		min-height: 600px;
		background-color: @white;
		.border-bottom-radius(@globalBoxesRadius);
	}
}