#infoAndFilterHeader{
	@media (max-width: @screen-sm-max) {
		.container-fluid();
	}
	@media (min-width: @screen-sm-min) {
		background-color: @white;
	}
	@media (min-width: @screen-lg-min) {
		.container();
	}	
}
.lobby-top-infobar{
	
	.make-row();
	height: 50px;
    #gradient.vertical(@blueGradientLight, @blueGradientDark, 49%, 51%);
	p {
		.opensans_bold(8pt, @white);
		line-height: 50px;
		text-align: center;
	}
}
#contestSortsFilters{
	padding: 20px 0;
	.filterText{
		.opensans_bold(8pt, @greyUltraDark);
	}	
	.left-separator{
		padding-left: 20px;
		border-left: 1px solid @greyUltraDark;
	}
	.make-row(0);
	#contestFastSort{	
		.make-xs-column(6);
		padding: 3px 0;		
		.btn-group{
			.btn-group();
			padding-left: 13px;
		}
		.sorting-button{
			.btn-default();
			.filterText();
			box-shadow: none;
			background-color: transparent;
			border-width: 1px;
			border-color: @greyUltraDark;
			color: @greyDark;
			padding: 6px 23px;
			&:hover{
				background-color: transparent;
				border-width: 1px;
				color: @greyUltraDark;
				border-color: @greyUltraDark;
			} 
		}
		.asc::after{
			.create-glyph("\E113", 5pt, @greyUltraDark);
			margin-left: 5px;
		}	
		.desc::after{
			.create-glyph("\E114", 5pt, @greyUltraDark);
			margin-left: 5px;
		}
	}
	
	#contestFastSearch{
		.make-xs-column(5);
		
		.left-separator();

		.searcher{
			.form-control();
			
			margin: 10px 0 15px;
			padding-left: 30px;
			background: url('../images/search-icon.png') no-repeat 10px center;		
			margin: 2px 0 0 0;
			padding: 1px 0 0 30px;
			height: 30px;
			box-shadow: none;
			border-width: 0;
		}
	}

	#filterToggler{
		.make-xs-column(1);		
		.left-separator();
		padding-left: 0px;
		.filters-button{
			.btn-default();
			.filterText();
			line-height: 20px;
			box-shadow: none;
			background-color: transparent;
			border-color: @greyUltraDark;
			color: @greyDark;
			&:hover{
				background-color: transparent;
				color: @greyUltraDark;
				border-color: @greyUltraDark;
			} 
		}		
	}

	.toggleOff::after{
		.create-glyph("\E114", 10pt, @greyUltraDark);
		position: absolute;
		margin-left: 15px;
		top: 7px;		
	}
	.toggleOn::after{
		.create-glyph("\E113", 10pt, @greyUltraDark);
		position: absolute;
		margin-left: 15px;
		top: 7px;
	}
}
	#filtersPanel{
		.make-row(0);
		border-top: 1px dotted @greyUltraDark;
		.filter-column{
			.make-xs-column(3);
			.filter-head{
				.exo_light(16pt, @blueDark);
			}
			.filter-content{
				.opensans_normal(12pt, @blueDark);
				min-height: 300px;
			}
			border-right: 1px dotted @greyUltraDark;
			padding:10px;
		}
		.filter-column-last{
			.filter-column();
			border-width: 0px;
		}

	}