#infoAndFilterHeader{
	@media (min-width: @screen-md-min) {
		.container();
	}
	@media (max-width: @screen-sm-max) {
		.container-fluid();
	}

	@media (min-width: @screen-sm-min) {
		background-color: @white;
	}
}
.lobby-top-infobar{
	
	.make-row();
	height: 50px;
    #gradient.vertical(@blueGradientLight, @blueGradientDark, 49%, 51%);
	p {
		.opensans_bold(8pt, @white);
		line-height: 50px;
		text-align: center;
	}
}
#contestSortsFilters{
	padding: 20px 0;
	.filterText{
		.opensans_bold(8pt, @greyUltraDark);
	}
	
	.left-separator{
		padding-left: 20px;
		border-left: 1px solid @greyUltraDark;
	}

	.make-row(0);
	#contestFastSort{
		
		.make-xs-column(5);
		padding: 3px 0;
		
		.btn-group{
			.btn-group();
			padding-left: 13px;
		}
		.sorting-button{
			.btn-default();
			.filterText();
			box-shadow: none;
			background-color: transparent;
			border-width: 1px;
			border-color: @greyUltraDark;
			color: @greyDark;
			&:hover{
				background-color: transparent;
				border-width: 1px;
				color: @greyUltraDark;
				border-color: @greyUltraDark;
			} 
		}
		.asc::after{
			.create-glyph("\E113", 5pt, @greyUltraLight);
			margin-left: 5px;
		}	
		.desc::after{
			.create-glyph("\E114", 5pt, @greyUltraLight);
			margin-left: 5px;
		}
	}
	
	#contestFastSearch{
		.make-xs-column(3);
		
		.left-separator();

		.searcher{
			.form-control();
			
			margin: 10px 0 15px;
			padding-left: 30px;
			background: url('../images/search-icon.png') no-repeat 10px center;		
			margin: 2px 0 0 0;
			padding: 1px 0 0 30px;
			height: 30px;
		}
	}

	#filterToggler{
		.make-xs-column(2);		
		.left-separator();

		padding-left: 0px;

		.filters-button{
			.btn-default();
			.filterText();
			line-height: 20px;
			box-shadow: none;
			background-color: transparent;
			border-color: @greyUltraDark;
			color: @greyDark;
			&:hover{
				background-color: transparent;
				color: @greyUltraDark;
				border-color: @greyUltraDark;
			} 
		}
		
	}

	.toggleOff::after{
		.create-glyph("\E114", 10pt, @greyUltraLight);
		margin-left: 15px;
		top: 7px;
		position: absolute;
	}
	
	.toggleOn{
		background-color: @orange;
	}
	
	.toggleOn::after{
		.create-glyph("\E113", 10pt, @greyUltraLight);
		background-color: @greyDark;
		position: absolute;
		border-radius: 10px 10px 0 0;
		padding: 0px 5px 28px 5px;
		top: 7px;
		right: 70px;
	}
}