// Reserva de sitio
main-menu-slide {
	display: block;
	height: 70px;
	width: 100%;
	font-size: 10pt;
}

// Mixin para pintar el fondo de la cabecera  
.background-header() {
    background-image: url("@{images}/headerBackground.jpg");
    background-repeat: no-repeat;
    background-position: center 4px;
    background-color: @black;
    border-color: @orange;
    border-width: 0px 0px 2px 0px;
    border-radius: 0px;
    height: 70px;
}

// Mixin para el logo
.brand-style() {
	.size(99px, 52px);
  	.img-retina("@{images}/logoEpic11.png", "@{images}/logoEpic11-2x.png", 99px, 52px);
  	background-repeat: no-repeat;
  	margin-top: 10px;
  	cursor: pointer;
}

.navbar {
	margin-bottom: 0;
}
#mainMenu {

	&.logged-in {		
		.background-header();

		// Menu siempre arriba fijo cuando estamos logeados
		position: fixed;
		top: 0px;
		width: 100%;
	}

	background-color: fade(@black, 70%);
	z-index: 999;
	border-style: none;						// Esto quita el de la navbar de bootstrap
	border-bottom: 2px solid @orange;		// Y ahora le damos el que nos interesa
	padding-left: 8px;
  	padding-right: 8px;
  	.user-select(none);

  	#menuLoggedIn, #menuNotLoggedIn {
		@media (max-width: @screen-sm-max) {
			.container-fluid();
		}
		@media (min-width: @screen-md-min) {
			.container();
		}
	}

	.navbar-brand {
 	 	.brand-style();
	}

   	// Version no XS (SM y Desktop)
  	@media (min-width: @screen-sm-min) {
  		.navbar-header {
  			float: left;
  			position: absolute;
  		}
		.navbar-nav {
			width: 100%;
			padding-left: 110px;
			margin-left: 20px;
			& a:hover {color: white}

		}
	  	// elementos del menu
	  	.navbar-nav > .active > a {
  			background: none;
  			color: @white;
  			&:hover {
  				background: none;
  				color: @white;
  			}
  		}
  		.navbar-nav > .open > a {
  			background-color: transparent;
  			&:hover {
  				background-color: transparent;
  			}
  		}
	  	.navbar-nav > li > a {
	    	padding: 20px 0;
  			cursor: pointer;
  			margin-right: 20px;
  			color: @blueMenu;
	  	}
	  	.navbar-nav > .right-menu {
	  		.pull-right();
	  		//width: 120px;
	  		text-align: right;
	  		.current-balance {
	  			display: block;
	  			.opensans_bold(10pt, @white);
	  			margin: 5px 0;
	  		}
	  	}
	  	.navbar-nav .right-menu {
	  		> a:hover {color: white}
	  		> a::after {
		  		.create-glyph("\E114", 10pt, @blueMenu);
		  		margin-left: 5px;
		  		position: relative;
				top: 2px;
			}
	  	}
	  	.open {
	  		> a:hover {color: white !important;}
	  		> a::after {
		  		.create-glyph("\E113", 10pt, @blueMenu) !important;
		  		margin-left: 5px;
	  			color: white !important;
			    position: relative;
				top: 2px;
			}
  		}
		.navbar-nav .right-menu a:hover {
            &::after {
                color: @white;
            }
         }
	  	.navbar-nav .open a::after {
	  		color: @white;
	  	} 
	  	.navbar-nav .active a::after {
	  		color: @white;
	  	}
	  	.add-funds-button {
			.btn-primary();
			.opensans_bold(10pt, @white);
			//.button-size(4px, 12px, 10pt, 1.5em, 4px);
		}
		.dropdown-toggle {
			white-space: nowrap;
		}
    	// elementos del sub-menu
        .dropdown-menu {
        	position: relative;
        	top: 6px;
        	left: -10px;
			& {
				padding: 0px;
			}
	        & > li > a {
	        	text-align: left;
	            cursor:pointer;
	            padding: 10px 40px 10px 20px;
	            .make-border(1px, none solid solid solid, @greyUltraLight);
	            position: relative;

	            &:hover {
	            	background-color: @greyLight;
	            	//&::after {
	        			//color: #999 !important;
	        		//}
	            }
	            /*&::after {
	        		//.create-glyph("\E080", 9pt, @black) !important;
	        		position: absolute;
	        		top: 12px;
	        		right: 12px;
	        	}*/
	        }
	    }
  	}

	// Elementos del menu reducido:
    @media (max-width: @screen-xs-max) {

    	@offcanvas-width: 250px;	// Cuanto ancho necesitamos para que quepan incluso los submenus
    	@fixed-top: 70px;

		// Icono que abre el menu
		#toggleSlideMenu {
		  	.make-border(0px, none none none none, @black);
			.icon-bar {
				background-color: @white;
				height: 3px;
			}
		  	margin-top: 15px;
		  	margin-right: 0;
		    &:hover, &:focus {
	    		background-color: transparent;
		 	}
		}

		#backdrop {
			background-color: @black;
			opacity: 0;
			position: fixed;
			top: @fixed-top;
			left: 0px;
			right: 0px;
			height: 100%;
			
			.transition(.4s ease opacity);

			&.slide-in {
				opacity: 0.5;
			}
		}

        #menuSlide {
			background-color: @greyUltraDark;

			position: fixed;
			width: @offcanvas-width;
			top: @fixed-top;
			bottom: 0px;
			overflow-y: auto;

			// Estado inicial
			right: -@offcanvas-width;
			.translateX(6px);	// Para que llegue a irse la sombra
			box-shadow: -3px 0px 3px 0px @greyUltraDark;
			
			.transition(.4s ease all);

    		// Estado "dentro" (final)
    		&.slide-in {
    			.translateX(-@offcanvas-width);
			}
			
	    	// Caja menu ppal.
			.navbar-nav {
				background-color: @white;
				margin: 0px;
				a {}
				li {
					.make-border(1px, solid none none none, @greyLight);
					.opensans_normal(10pt, @greyDark);
					cursor: pointer;

					// Flechita cerrada/abierta del menu dropdown de usuario
					> .dropdown-toggle::after {
	        			.create-glyph("\E080", 10pt, @greyDark);
	        			position: absolute;
	        			top: 11px;
	        			right: 11px;
	        		}
	        		&.active {
						.opensans_bold(10pt, @black);
					}
					// Submenu de usuario
					&.right-menu.open {
						> a, > a:focus, > a:hover {
							color: @black;
							background-color: @greyLight;
						}
						// Cambiamos la flechita a abierto
						> a::after {
				  			.create-glyph("\E114", 10pt,  @greyDark) !important;
				  			position: absolute;
	        				top: 12px;
        					right: 11px;
				  		}
					}
	    		}
			}

	  		ul.dropdown-menu {
				padding: 0px;
		        > li {
		        	> a {
			            cursor:pointer;
			            padding: 10px 0px 10px 40px;
			        }
					> a:focus {
						color:@black;
						background-color: @greyLight;
					}
				}
		    }
        }
    }

	// Menu sin logear:
	#menuNotLoggedIn {   
		overflow: hidden;
		
		.navbar-brand {
	  		.brand-style();
	  		height: 60px;
	  		margin-top: 8px;
		}

	    // Botones de login y join: ;
	    .button-wrapper {
	      	line-height: 1.1;
			display: inline-block;
			position: relative;
			top: 15px;
	      	.pull-right();
	      	.button-base {
	        	&:active {
	        		margin-top: 10px !important; 
	        	}
	      	}
	      	.button-join {
	        	.button-base();
	        	.btn-default();
	      	}
	      	.button-login-flat {
	      		.opensans_normal(10pt, @white);
	        	background-color: transparent;
	        	border: 1px solid @white;
	        	border-radius: 10px;
	        	padding: 10px 20px;
	        	cursor: pointer;
	        	&:hover, &:active {
	        		border: 1px solid @green;
	        		//background-color: rgba(red(@green), green(@green), blue(@green), 0.5);
	        		.opensans_normal(10pt, @green);
	        	}
	      	}
	    }


		// ANTIGUOS Botones de login y join: ;
		/*.button-wrapper {
		  	line-height: 4.5;
		  	.pull-right();
		  	.button-base {
		    	&:active {
		    		margin-top: 10px !important; 
		    	}
		  	}
		  	.button-join {
		    	.button-base();
		    	.btn-default();
		  	}
		  	.button-login {
		    	.button-base();
		    	.btn-primary();
		  	}
		}*/
	}
}

.main-menu-slide-in {
}