#mainMenuRoot {
  // Partimos de la navbar-inverse y vamos cambiando
  .navbar-inverse();

  margin-bottom: 0px;

  // Version desktop (min-width: pequeña)
  @media (min-width: @screen-sm-min) {
    background-image: url("@{images}/HeaderBackground.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: @black;
    border-color: @orange;
    border-width: 0px 0px 2px 0px;

    // Nuestro menu en desktop son 70px, en mobile son 50px (defecto de bootstrap)
    height: 70px;

    // Todos los enlaces: centrados vertical
    .nav > li > a {
      padding: 23px 10px 25px 10px;
    }
  }

  // Logo
  .navbar-brand-container {      
    // Logo en pantallas minimo medianas
    @media (min-width: @screen-md-min) {
      .navbar-brand {      
        background-image: url("@{images}/LogoDailyFootball_md.png");
        .size(170px, 23px);
        padding: 0px;
        margin: 20px 30px 0px 0px;
      }
    }

    // Logo en mobile
    @media (max-width: @screen-xs-max) {
      .size(100%, 100%);
      position: absolute;

      .navbar-brand {
        background-image: url("@{images}/LogoDailyFootball_xs.png");
        .size(212px, 28px);
        padding: 0px;
        float: none;
        margin-top: 10px;
        .center-block();
      }
    }
  }

  // Boton de añadir fondos
  #addMoney {
    .btn-primary();
    .hidden-xs();                             // oculto en mobile
    .pull-right();
    .button-size(4px, 6px, 9pt, 1.5em, 4px);  // .button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius)
    margin: 25px 10px 0px 10px;
  }

  // Distancia de los botones de toggle a los lados (solo salen en mobile)
  .navbar-toggle {
    margin-left: 10px;
    margin-right: 10px;
  }

  // Links del menu de juego (Torneos, en espera, en directo...)
  #gameMenuCollapse {
    @media (min-width: @screen-sm-min) {
      .pull-left(); 
    }

    background-color: transparent;

    // Opcion del menu NO seleccionada
    .navbar-nav > li {
      > a { color: @blueMenu; }
      > a:hover { color: @white; }
    }

    // Opcion del menu seleccionada
    .navbar-nav > .active {
      > a, > a:focus, > a:hover { color: @white; }
    }    
  }

  // Dropdowns del menu de usuario
  #userMenuCollapse {
    @media (min-width: @screen-sm-min) {
      .pull-right();
    }

    .navbar-nav > li {
      > a { color: @white; }
      > a:hover { color: @blueMenu; }
    }
  }

  // No queremos dropdown de ayuda en mobile
  /*
  .help {
    .hidden-xs();
  }
  */
}

#menuRootUnlogged{
  .nav();
  .navbar-nav();
  .pull-right();
  @media (max-width: @screen-xs-max){
    width: 100%;
  }
  position: relative;

  .button-join{
    .btn();
    .btn-primary();
    padding: 10px 20px;
    margin: 15px 10px;
    float:right;
  }

  .button-login{
    .btn();
    .btn-default();
    padding: 10px 20px;
    margin: 15px 10px;   
    float: right;
  }
}