// Funcion para pintar el fondo de la cabecera
.background-header {
  background-image: url("@{images}/headerBackground.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: @black;
  border-color: @orange;
  border-width: 0px 0px 2px 0px;
}

#mainMenuRoot {
  // Partimos de la navbar-inverse y vamos cambiando
  .navbar-inverse();

  margin-bottom: 0px;

  @media (max-width: @screen-sm-max) {
    .container {
      width: 100%;
    }
  }
 
  // Version desktop (min-width: pequeña)
  @media (min-width: @screen-sm-min) {
    .background-header();
    
    // Nuestro menu en desktop son 70px, en mobile son 50px (defecto de bootstrap)
    height: 70px;

    // Todos los enlaces: centrados vertical
    .nav > li > a {
      padding: 23px 10px 25px 10px;
    }
  }

  @media (max-width: @screen-xs-max) {
    .container {
      // Limpiamos los paddings de 15px
      .clean-paddings();
    }
  } 

  .navbar-header-loggin {
    // Logo
    .navbar-brand-container { 
      cursor: pointer;
      // Logo en pantallas minimo medianas
      @media (min-width: @screen-sm-min) {
        .navbar-brand {
          // Retina display
          .img-retina("@{images}/logoEpic11.png", "@{images}/logoEpic11-2x.png", 120px, 37px);      
          .size(120px, 37px);
          margin: 20px 10px 0px 0px;
        }
      }

      // Logo en mobile
      @media (max-width: @screen-xs-max) {
        .size(100%, 100%);
        position: absolute;

        .navbar-brand {
          // Retina display
          .img-retina("@{images}/logoEpic11.png", "@{images}/logoEpic11-2x.png", 120px, 37px);      
          .size(120px, 37px);
          float: none;
          margin-top: 10px;
          .center-block();
        }
      }
    }
  }

  // Menu deslogado
  .navbar-header-unloggin {
    .background-header();
    height: 70px;
    text-align: center;

    .navbar-brand-container {  
      cursor: pointer;
      .hidden-xs();
      .navbar-brand {
        // Retina display
        .img-retina("@{images}/logoEpic11.png", "@{images}/logoEpic11-2x.png", 120px, 37px);      
        .size(120px, 37px);
        margin-top: 20px;
      }     

    }
    
    // Botones de login y join
    .button-wrapper {
      @media (min-width: @screen-sm-min) {
        .pull-right();
      }
      .button-join {
        .btn();
        .btn-default();
        padding: 5px 20px;
        margin: 18px 7px 0;
      }

      .button-login {
        .btn();
        .btn-primary();
        padding: 5px 20px;
        margin: 18px 0 0 7px;
      }
    }
  }

  // Boton de añadir fondos
  #addMoney {
    .btn-primary();
    .hidden-xs();                             // oculto en mobile
    .pull-right();
    .button-size(4px, 6px, 9pt, 1.5em, 4px);  // .button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius)
     margin: 20px 10px 0px 10px;
     //ajuste para versión MD
     @media (max-width: @screen-sm-max) {
       .button-size(4px, 4px, 8pt, 1.5em, 4px);  // .button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius)
     }
  }

  // Distancia de los botones de toggle a los lados (solo salen en mobile)
  .navbar-toggle {
    margin-left: 10px;
    margin-right: 10px;
  }

  // Quita el scroll horizontal al desplegar los menus
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: -1px;
  }

  // Links del menu de juego (Torneos, en espera, en directo...)
  #gameMenuCollapse {
    @media (min-width: @screen-sm-min) {
      .pull-left();
    }

    background-color: transparent;

    // Opcion del menu NO seleccionada
    .navbar-nav > li {
      > a { color: @blueMenu; }
      > a:hover { color: @white; }
    }

    // Opcion del menu seleccionada
    .navbar-nav > .active {
      > a, > a:focus, > a:hover { color: @white; }
    }    
  }

  // Dropdowns del menu de usuario
  #userMenuCollapse {
    @media (min-width: @screen-sm-min) {
      .pull-right();
    }

    .navbar-nav > li {
      > a { color: @white; }
      > a:hover { color: @blueMenu; }
    }
  }
}
