// Reserva de sitio
main-menu-f2p {
	display: block;
	height: 70px;
	width: 100%;
	font-size: 0pt;
}
main-menu-f2p when (@beta) {
	height: 87px;
	
	.beta-label {
		.exo_bold(8pt, @black);
		display: inline-block;
		width: 100%;
		background-color: @orange;
		text-align: center;
		height: 17px;
		.make-border(0 0 1px 0, solid, @white);
		z-index: 998;
	}
}
.global-logged-in main-menu-f2p .beta-label when (@beta) {
	position: fixed;
	display: block;
	top: 70px;
}

// Mixin para el logo
.brand-style() {
	.size(99px, 52px);
	.img-retina("@{images}/logoE11.png", "@{images}/logoE11.png", 99px, 52px);
	background-repeat: no-repeat;
	margin-top: 10px;
	cursor: pointer;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
#mainMenu {
	* {
		.user-select(none);
	}
	// Menu siempre arriba fijo cuando estamos logeados
	&.logged-in {		
		position: fixed;
		display: inline-block;
		top: 0px;
	}
	
	background-color: @blueUltraDark;
	.make-border(0 0 1px 0, solid, @orange);
	height: 70px;

	width: 100%;
	//background-color: fade(@blueUltraDark, 0%);
	z-index: 999;
	//border-style: none;	
	padding-left: 8px;
	//padding-right: 8px;
	.user-select(none);
	
	#menuLoggedIn, #menuNotLoggedIn {
		@media (max-width: @screen-sm-max) {
			.container-fluid();
		}
		@media (min-width: @screen-md-min) {
			.container();
		}
	}
	#menuLoggedIn {
		padding-right: 0px;
	}

	.navbar-brand {
 	 	.brand-style();
 	 	.hidden-xs();
	}

  // Version no XS (SM y Desktop)
	@media (min-width: @screen-sm-min) {

		//elemento nombre menu usuario
		.username-dropdown-toggle {
			width: 14em;
			margin-left: 0;
			margin-right: 20px;
		}
		.dropdown-toggle {
			white-space: nowrap;
		}
    	// elementos del sub-menu
		.dropdown-menu {
			position: relative;
			top: -4px;
			left: -105px;
			& {
				padding: 0px;
			}
			& > li > a {
				text-align: left;
				cursor:pointer;
				padding: 10px 40px 10px 20px;
				.make-border(1px, none solid solid solid, @greyUltraLight);
				position: relative;

				&:hover {
					background-color: @greyLight;
				}
			}
		}
		.menu-elements {
			.hidden();
		}
	}

	// Elementos del menu reducido:
	@media (max-width: @screen-xs-max) {

		@offcanvas-width: 250px;	// Cuanto ancho necesitamos para que quepan incluso los submenus
		@fixed-top: 70px;
		#menuLoggedIn a:hover {
			background-color: @greyLight;
		}
		
		.navbar-toggle {
			float: left;
		}
		// Icono que abre el menu
		#toggleSlideMenu {
			.make-border(0px, none none none none, @black);
			margin-top: 15px;
			margin-right: 0;
			&:hover, &:focus {
				background-color: transparent;
		 	}
			.icon-bar {
				background-color: @white;
				height: 3px;
			}
		}

		#backdrop {
			background-color: @black;
			opacity: 0;
			position: fixed;
			top: @fixed-top;
			left: 0px;
			right: 0px;
			height: 100%;
			
			.transition(.4s ease opacity);

			&.slide-in {
				opacity: 0.5;
			}
		}

		#menuSlide {
			background-color: @greyUltraDark;
			position: fixed;
			width: @offcanvas-width;
			top: @fixed-top;
			bottom: 0px;
			overflow-y: auto;

			// Estado inicial
			left: -@offcanvas-width;
			.translateX(6px);	// Para que llegue a irse la sombra
			box-shadow: -3px 0px 3px 0px @greyUltraDark;
			
			.transition(.4s ease all);

    		// Estado "dentro" (final)
			&.slide-in {
				.translateX(@offcanvas-width);
			}
			
	    	// Caja menu ppal.
			.navbar-nav {
				background-color: @white;
				margin: 0px;
				li {
					.make-border(1px, solid none none none, @greyLight);
					.opensans_normal(10pt, @greyDark);
					cursor: pointer;
					
					.count {
						color: @white;
						background-color: @red;
						padding: 0 3px;
						min-width: 20px;
						height: 20px;
						display: block;
						text-align: center;
						border-radius: 300px;
						float: right;
					}

					// Flechita cerrada/abierta del menu dropdown de usuario
					> .dropdown-toggle::after {
						.create-glyph("\E080", 10pt, @greyDark);
						position: absolute;
						top: 11px;
						right: 11px;
					}
					&.active {
						.opensans_bold(10pt, @black);
					}
					// Submenu de usuario
					&.right-menu.open {
						> a, > a:focus, > a:hover {
							color: @black;
							background-color: @greyLight;
						}
						// Cambiamos la flechita a abierto
						> a::after {
							.create-glyph("\E114", 10pt,  @greyDark) !important;
							position: absolute;
							top: 12px;
							right: 11px;
						}
					}
				}
			}

	  	ul.dropdown-menu {
				padding: 0px;
				> li {
					> a {
							cursor:pointer;
							padding: 10px 0px 10px 40px;
					}
					> a:focus {
						color:@black;
						background-color: @greyLight;
					}
				}
			}
		}
		.open > #desktopUserMenu.dropdown-menu {
			display: none;
		}
	}

	#desktopMenu {
		.user-select(none);
		cursor: default;
		.make-row(0);
		padding-left: 100px;
		@media (max-width: @screen-xs-max) {
			position: absolute;
			right: 0px;
			bottom: 0;
			left: 50px;
			padding: 0;
		}
		.links-options {
			.make-sm-column(6.5);
			.hidden-xs();
			//En sm no cabe... hay que hacer algunos ajustes.
			@media (max-width: @screen-sm-max) {
				padding: 0 0 0 10px;
			}
			.mainLink{					
				display: inline-block;
				vertical-align: middle;
				a {
					padding: 23px 5px;
					display: inline-block;
					cursor: pointer;
					text-decoration: none;
					//text-shadow: 0px 2px black;
					.opensans_normal(12pt, @blueLight);
					
					&:hover, .active {
						color: @white;
					}
					
					@media (max-width: @screen-sm-max) {
						padding: 25px 3px;
						margin: 0 0 0 5px;
						.opensans_normal(10pt, @blueLight);
						
						&:hover, .active {
							color: @white;
						}
					}
					
					&#menuLeaderboard,			
					&#menuNotifications,			
					&#menuHelp {
						margin: 0 0 0 10px;
						padding: 0;
						text-indent: 100%;
						white-space: nowrap;
						overflow:	hidden;
						position: relative;
						background-repeat: no-repeat;

						
						@media (max-width: @screen-sm-max) {
							margin: 0 0 0 4px;
						}
						
						.count {
							.opensans_bold(8pt, @white);
							text-shadow: 0px 0px 6px @black;
							background-color: @red;
							padding: 0 3px;
							min-width: 15px;
							height: 15px;
							display: block;
							position: absolute;
							top: 4px;
							right: 0px;
							text-indent: 0%;
							white-space: normal;
							overflow:	visible;
							text-align: center;
							vertical-align: middle;
							border-radius: 300px;
						}
					}
					
					&#menuLeaderboard {
						margin: 0 0 0 30px;
						@media (max-width: @screen-sm-max) {
							margin: 0 0 0 5px;
						}
						.addIcon("menuLeaderboard.png", 35px, 31px);
						
						&#menuLeaderboard:hover {
							.addIcon("menuLeaderboardLight.png", 35px, 31px);
						}
					}
					&#menuNotifications {
						.addIcon("menuNotifications.png", 35px, 32px);
						
						&#menuNotifications:hover {
							.addIcon("menuNotificationsLight.png", 35px, 32px);
						}
					}
					&#menuHelp {
						.addIcon("menuHelp.png", 35px, 32px);
						
						&#menuHelp:hover {
							.addIcon("menuHelpLight.png", 35px, 32px);
						}
					}
				}

				&.active a {
					&#menuLeaderboard {
						.addIcon("menuLeaderboardLight.png", 35px, 31px);
					}
					&#menuNotifications {
						.addIcon("menuNotificationsLight.png", 35px, 32px);
					}
					&#menuHelp {
						.addIcon("menuHelpLight.png", 35px, 32px);
					}
				}
			}
			.active {
				a {
					color: @white;
				}
			}
		}
		.stats-commons {
			text-align: center;
			display: inline-block;
			width: 65px;
			.user-select(none);
			cursor: default;
			border-left: 1px solid fade(@greyBlue, 50%);
			height: 50px;
			position: relative;
			@media (max-width: @screen-xs-max) {
				width: 63px;
			}
			
			img {
				.user-select(none);
			}
			.count {
				margin-top: 5px;
				font-size: 9pt;
				text-align: right;
				width: 100%;
				text-align: center;
				.amount {
					width: 30px;
				}
			}
			.progress {
				position: relative;
				display: inline-block;
				border-radius: 0px;
				height: 9px;
				margin-bottom: 0;
				background-image: url("@{images}/progress-bar-back.png");
				background-color: transparent;
				width: 30px;
				vertical-align: middle;
				.progress-bar {
					background-image: url("@{images}/progress-bar-front.png");
					background-color: transparent;
				}
			}
		}
		.additive {
			//text-align: left;
			//position: relative;
			.plus {
				border: 1px solid fade(@greyBlue, 50%);
				color: @greyBlue;
				border-radius: 100%;
				position: relative;
				//right: -10px;
				height: 18px;
				width: 18px;
				font-size: 13pt;
				line-height: 15px;
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
			}
		}
		
		.fixed-user-stats {
			
			font-size: 0;
			display: inline-block;			
			margin: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			//.make-sm-column(5.5);
			width: 260px;
			position: relative;
			.clean-paddings();
			
			.pull-right();
			@media (max-width: @screen-xs-max) {
				width: 66%;
				min-width: 380px;
				text-align: center;
				padding-right: 0;
				padding-left: 0;
			}
			@media (max-width: @screen-xs-min) {
				width: 100%;
				min-width: 220px;
				text-align: center;

			}
			
			.energy{
				.stats-commons();
				color: @green;
				padding-left: 5px;
				padding-right: 2px;
				cursor: pointer;
				img {
					margin-left: 3px;
				}
				.energyCount {
					.opensans_bold(9pt, @black);
					background-color: @green;
					border: 1px solid @blueUltraDark;
					border-radius: 10px;					
					width: 19px;
					height: 19px;
					position: absolute;
					top: 10px;
					left: 10px;
				}
				.time-left {
					.opensans_bold(9pt, @green);
					display: inline-block;
				}
				/*.count {
					padding-top: 0;
				}
				cursor: pointer;*/
			}
			.manager-points{
				.stats-commons();
				color: @greyMed;
				.managerLevel {
					.opensans_bold(9pt, @black);
					background-color: @blueManager;
					border: 1px solid @blueUltraDark;
					border-radius: 10px;					
					width: 19px;
					height: 19px;
					position: absolute;
					top: 10px;
					left: 12px;
				}
				.count {
					text-align: center;
				}
				.current-manager {
					color: @blueLight;
				}
				.max-manager {
					color: @blueMenu;
				}
				/*position: relative;
				.count {
					position: relative;
				}*/
			}
			.coins {
				.stats-commons();
				color: @orange;
				cursor: pointer;
				
				.count {
					text-align: right;
				}
				.plus {
					margin: 0 5px;
				}
			}
			.profile {
				.stats-commons();
				color: @white;
				img {
					width: 28px;
					height: 28px;
					border-radius: 10000px;
					cursor: pointer;
				}
				/*cursor: pointer;
				color: @white;
				float: right;
				position: relative;
				img {
					margin-left: 0px;
					cursor: pointer;
				}
				.count {
					border: none;
					cursor: pointer;
				}
				#desktopUserMenu {
					position: absolute;
					top: 57px;
					left: -180px;
					text-align: center;
					padding: 0px;
					width: 230px;					
				}*/
			}
		}
	}

	// Menu sin logear:
	#menuNotLoggedIn {   
		overflow: hidden;
		height: 68px;
		
		.navbar-brand {
	  		.brand-style();
	  		height: 60px;
	  		margin-top: 8px;
		}

		.links-options {
			.make-sm-column(3);
		}
		#desktopMenu {
			top: 0;
			.mainLink {
				font-size: 12pt;
			}
		}
		// Botones de login y join: ;
		.button-wrapper {
			.make-xs-column(12);
			padding: 0;
			.make-sm-column(9);
			text-align: right;
			line-height: 1.1;
			display: inline-block;
			position: relative;
			top: 15px;
			.pull-right();
			.button-base {
				&:active {
					margin-top: 10px !important; 
				}
			}
			.button-join {
				.button-base();
				.btn-default();
			}
			.button-flat(@textColor, @borderColor) {
				.opensans_normal(12pt, @textColor);
				background-color: transparent;
				border: 1px solid @borderColor;
				border-radius: 5px;
				padding: 10px 10px;
				width: 125px;
				text-align: center;
				margin-left: 5px;
				cursor: pointer;
				display: inline-block;
				&:hover, &:active {
					border: 1px solid @white;
					.opensans_normal(12pt, @white);
				}
				
				@media (max-width: @screen-xs-min) {
					.opensans_normal(12pt, @textColor);
					width: auto;
					padding: 10px 5px;
					&:hover, &:active {
						.opensans_normal(12pt, @white);
					}
				}
			}
			
			.button-login-flat {
				.button-flat(@green, @green);
			}
			.button-signup-flat {
				.button-flat(@blueMenu, @blueLight);
			}
			.button-help-flat {
				.button-flat(@blueLight, transparent);
				text-align: right;
				width: 75px;
				&:hover, &:active {
					border-color: transparent;
				}
				@media (max-width: @screen-xs-min) {
					width: 75px;
					padding: 10px 0px;
				}
			}
		}
	}
}
#userBalanceIn, #userBalanceOut-sm {
	.hidden-xs();
}
#userBalanceOut-xs {
	.visible-xs();
	.current-balance {
		.badge();
		.pull-right();
		background-color: @green;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}