// Funcion para pintar el fondo de la cabecera
.background-header {
  background-image: url("@{images}/headerBackground.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: @black;
  border-color: @orange;
  border-width: 0px 0px 2px 0px;
}

#mainMenu {
  	// Partimos de la navbar-inverse y vamos cambiando
  	.navbar-inverse();

	.inner-wrapper {
		.container-fluid();
  		@media (min-width: @screen-md-min) {
  			.container;
  		}
	}
	.background-header();

 	// Version no XS (SM y Desktop)
	@media (min-width: @screen-sm-min) {
		

		// Todos los enlaces: centrados vertical
		.nav > li > a {
		  padding: 20px;
		}
	}
}
.navbar-toggle {
	margin: 12px 0 0 15px;
}
#toggleSlideMenu {
	float: left;
  background-color: @blueDark;
  &:hover {
    background-color: @blueDark;
  }
}

.navbar {
    margin-bottom: 0px;
    @media (min-width: @screen-sm-min) {
    	padding-right: 15px;
    	.navbar > .container .navbar-brand {
  			margin-left: 0px;
  		}
  	}
}

.navbar-nav > a{
	cursor:pointer;
}

.brand {
	// Retina display
  	.img-retina("@{images}/logoEpic11.png", "@{images}/logoEpic11-2x.png", 120px, 37px);      
  	.size(120px, 37px);
  	margin-top: 10px;
  	cursor: pointer;
    margin-top: 15px;
}
.navbar-brand {
  .brand();
  margin-left: 0px;

  @media (max-width: @screen-xs-max) {
  	margin: 10px auto;
  	float: none;
  }
}



.navbar-header-unloggin {   
	.navbar-brand {
  		.brand();
  		@media (max-width: @screen-xs-max) {
		  	.hidden-xs();
		}
	}
    // Botones de login y join
    .button-wrapper {
      	margin: 5px auto;
      	.pull-right();
      	.button-join {
        	.btn();
        	.btn-default();
      	}
      	.button-login {
        	.btn();
        	.btn-primary();
      	}
    }
}