// Funcion para pintar el fondo de la cabecera  
.background-header {
    background-image: url("@{images}/headerBackground.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: @black;
    border-color: @orange;
    border-width: 0px 0px 2px 0px;
}

#mainMenu {
    // Partimos de la navbar-inverse y vamos cambiando: ;
    .navbar-inverse();
	.background-header();
  	.inner-wrapper { 
	  	.container-fluid();
		@media (min-width: @screen-md-min) {
			.container;
		}
  	}

   	// Version no XS (SM y Desktop)
  	@media (min-width: @screen-sm-min) {
	  	// elementos del menu
	  	.navbar-nav > .active > a {
  			background-color: fade( @black, 30%);
  			color: @white;
  			&:hover {
  				background-color: fade( @black, 30%);
  				color: @white;
  			}
  		}
  		.navbar-nav > .open > a {
  			background-color: transparent;
  			&:hover {
  				background-color: transparent;
  			}
  		}
	  	.navbar-nav > li > a {
	    	padding: 20px;
  			cursor:pointer;
	  	}
    	// elementos del sub-menu
        .dropdown-menu {
			& {
				padding: 0px;
			}
	        & > li > a {
	            cursor:pointer;
	            padding: 15px 25px 15px 20px;
	            .make-border(1px, none solid solid solid, @greyUltraLight);

	            &:hover {
	            	background-color: @greyUltraLight;
	            }
	        }
	    }
  	}
	// elementos del menu reducido:
    @media (max-width: @screen-xs-max) {        
        .navbar-offcanvas {
        	background-color: @greyUltraDark;
        	//caja menu ppal.
			& ul {
				background-color: @white;
				// li activo
				& > .active, li {
					background-color: transparent;
					//anchor del activo
					& > a {	
						background-color: transparent;
						.opensans_bold(10pt, @black);
					}
					// li del activo en hover
					&:hover {
						background-color: transparent;
						//anchor del activo en hover
						& > a {
							background-color: transparent;
							.opensans_bold(10pt, @black);
						}
					}
				}
				// Elementos li no activos
				& >li {
					.make-border(1px, solid none none none, @greyLight);
					//anchor de los elementos no activos
					& > a {
						.opensans_normal(10pt, @greyDark);
						cursor: pointer;
					}
					// Elementos li en no activos en hover
					&:hover {
						background-color: @greyLight;
						//anchor de los elementos li no activos en hover
						> a {
							.opensans_normal(10pt, @greyDark);
						}
					}
        		}
			}
			//submenu de usuario abierto
			.navbar-nav > .open {
				& > a, & > a:focus, & > a:hover {
					background-color: @greyLight;
					color: @black;
				}
				.dropdown-menu > li {
					& > a:hover, & > a:focus {
						color:@black;
						background-color: @greyUltraLight;
					}
				}
			}

	  		.dropdown-menu {
				padding: 0px;
		        & li > a {
		            cursor:pointer;
		            padding: 10px 0px 10px 40px;
		        }
		    }
        }

		// Icono que abre el menu
        .navbar-toggle {
			     &:hover, &:focus {
		    	 background-color: transparent;
			 }
		}
		#toggleSlideMenu {
		  	.make-border(0px, none none none none, @black);
			.icon-bar {
				height: 3px;
			}
			float: left;
		  	background-color: transparent;
		}
    }

}
.navbar {
    margin-bottom: 0px;
    @media (min-width: @screen-sm-min) {
    	padding-right: 15px;
    	.navbar > .container .navbar-brand {
  			margin-left: 0px;
  		}
  	}
}


.brand-style {
	// Retina display: ;
  	.img-retina("@{images}/logoEpic11.png", "@{images}/logoEpic11-2x.png", 120px, 37px);      
  	.size(120px, 37px);
  	margin-top: 10px;
  	cursor: pointer;
    margin-top: 15px;
}

.navbar-brand {
  	.brand-style();
  	margin-left: 0px;

  	@media (max-width: @screen-xs-max) {
  		margin: 10px auto;
  		float: none;
  	}
}


// Menu sin logear: ;
.navbar-header-unloggin {   
	.navbar-brand {
  		.brand-style();
  		@media (max-width: @screen-xs-max) {
		  	.hidden-xs();
		}
	}
    // Botones de login y join: ;
    .button-wrapper {
      	margin: 5px auto;
      	.pull-right();
      	.button-join {
        	.btn();
        	.btn-default();
      	}
      	.button-login {
        	.btn();
        	.btn-primary();
      	}
    }
}