#matchesFilterWrapper {
	.matches-filter {
		background-color: @tramaBlue;
		.make-row(0);
		padding: -1px 5px 5px 5px;
		
		.button-filtro-team {
			.hidden-xs();
			.make-sm-column(1);
			.opensans_bold(9pt, @white);
			min-width: 120px;		
			padding: 5px 0;
			margin: 10px 4px;
			text-align: center;
			line-height: 15px;
		}
		.button-filtro-team:active, .button-filtro-team:focus, .button-filtro-team:hover, .button-filtro-team:visited {
			outline: none;
		}
		.active {
			background-color: @white;
			color: @greyDark;
			box-shadow: none !important;
			outline: none !important;
		}
		.active:active, .active:hover, .active:focus, .active:visited {
			color: @greyDark;
		}
	}

	@media (max-width: @screen-xs-max) {
		padding: 10px 10px 0px 10px;
	}

	// Selector de opciones desplegable
	.matches-selector-filter {
		.form-control();
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
	}
}

