// Reserva de sitio
matches-filter {
	@media (min-width: @screen-md-min) {
		min-height: 60px;
		display: block;
	}
}

#matchesFilterWrapper {

	.clearfix();
	
	.matches-filter-buttons {
		background-color: @tramaBlue;
		padding: -1px 5px 5px 5px;
		float: left;
		width: 100%;
						
		// Animacion para cuando hay mas de una linea (solo en desktop)
		@media (min-width: @screen-md-min) {
			min-height: 60px;
			overflow: hidden;

			&.animate {
				#doKeyFrames(matchesfilter-height-keyframes, {
					 from { max-height: 60px; opacity: 0;}
					 30% { max-height: 60px; opacity: 1;}
					 to { max-height: 240px; opacity: 1;}
					});
				.animateWithKeyFrames(matchesfilter-height-keyframes, 1s);
			}
		}
		.button-filter-wrapper {
			.hidden-xs();
			.make-sm-column(2);
			height: 45px;
			float: left;
			display: inline-block;
			padding: 0 5px;
			margin: 0px 0 15px 0;
			position: relative;			
			top: 8px;
		}
		&:after { clear:both;}
		.button-filter-team {
			width: 100%;
			padding: 5px 0;			
			text-align: center;			
			line-height: 15px;
			.opensans_bold(9pt, @white);
		}
		.button-filter-team:active, .button-filter-team:focus, .button-filter-team:hover, .button-filter-team:visited {
			outline: none;
		}
		.active {
			background-color: @white;
			color: @greyDark;
			box-shadow: none !important;
			outline: none !important;
			margin-top: 4px;
		}
		.active:active, .active:hover, .active:focus, .active:visited {
			color: @greyDark;
		}
	}

	@media (max-width: @screen-xs-max) {
		padding: 10px 10px 0px 10px;
	}

	// Selector de opciones desplegable
	.matches-selector-filter {
		.form-control();
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
	}
}

