// Reserva de sitio
matches-filter {
	@media (min-width: @screen-md-min) {
		min-height: 60px;
		display: block;
	}
}

#matchesFilterWrapper {

	.clearfix();
	
	.matches-filter-buttons {
		background-color: @tramaBlue;
		padding: -1px 5px 5px 5px;
		float: left;
		width: 100%;
						
		// Animacion para cuando hay mas de una linea (solo en desktop)
		@media (min-width: @screen-md-min) {
			min-height: 60px;
			overflow: hidden;

			&.animate {
				#doKeyFrames(matchesfilter-height-keyframes, {
					 from { max-height: 60px; opacity: 0;}
					 30% { max-height: 60px; opacity: 1;}
					 to { max-height: 180px; opacity: 1;}
					});
				.animateWithKeyFrames(matchesfilter-height-keyframes, 1s);
			}

			/*
			max-height: 60px;
			overflow: hidden;
			transition: max-height 1s ease-in;

			.button-filtro-team:nth-child(n+2) {
				transition: opacity 200ms linear;
				opacity: 0;
			}

			&.animate {
				max-height: 300px;
				.button-filtro-team:nth-child(n+2) {
					opacity: 1;
				}
			}
			*/
		}
		
		.button-filtro-team {
			.hidden-xs();
			.opensans_bold(9pt, @white);
			min-width: 120px;		
			padding: 5px 0;
			margin: 10px 4px;
			text-align: center;
			line-height: 15px;
		}

		.button-filtro-team:active, .button-filtro-team:focus, .button-filtro-team:hover, .button-filtro-team:visited {
			outline: none;
		}
		.active {
			background-color: @white;
			color: @greyDark;
			box-shadow: none !important;
			outline: none !important;
		}
		.active:active, .active:hover, .active:focus, .active:visited {
			color: @greyDark;
		}
	}

	@media (max-width: @screen-xs-max) {
		padding: 10px 10px 0px 10px;
	}

	// Selector de opciones desplegable
	.matches-selector-filter {
		.form-control();
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
	}
}

