modal-window {
  .flex-container-row();
  position: absolute;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  
  &.hidden-window {
    display: none;
  }
  &.small .modal-window-frame {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-height: 95vh;
  }
}
.modal-window-frame {
  .flex-container-col();
  .flex-elem-fluid();
  .mainfont_light(10pt, @white);
  align-self: center;
  margin: 0 16px;
  background-color: @grey-dark;
  height: 90vh;
  .elevation(5);
}
.modal-window-header {
  .flex-elem-fixed(50px);
  .flex-container-row();
  .black-gradient();
  padding: 15px 15px;
}
.modal-window-title {
  .flex-elem-fluid(1);
  .mainfont_light(13pt, @white);
  text-transform: uppercase;
  padding: 2px 0;
}
.modal-window-close-btt {
  .flex-elem-fixed(24px);
  color: @white;
  cursor: pointer;
}
.modal-window-content {
  overflow-y: auto;
}
