modal-window {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.hidden-window {
    display: none;
  }
}
.modal-window-frame {
  .flex-container-col();
  .mainfont_light(10pt, @white);
  //background-color: @white;
  margin: 5vh 16px 0 16px;
  height: 90vh;
}
.modal-window-header {
  .flex-elem-fixed(50px);
  .flex-container-row();
  .black-gradient();
  padding: 15px 15px;
}
.modal-window-title {
  .flex-elem-fluid(1);
  .mainfont_light(13pt, @white);
  text-transform: uppercase;
  padding: 2px 0;
}
.modal-window-close-btt {
  .flex-elem-fixed(24px);
  color: @white;
  cursor: pointer;
}
.modal-window-content {
  padding: 15px 15px;
  background-color: @grey-dark;
  overflow-y: auto;
}
