#myContest{
	
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}
}

.my-contest-title-tab{
	.make-row(0);
	.exo_light(20pt, @blueDark);

	//padding-left: 15px;
	padding: 30px 15px 30px 15px;
	background-color: @white;
	text-align: center;
	@media (max-width: @screen-xs-max) {
		padding: 10px 5px 10px 5px;
	}
}

.resume-bar{
	.hidden-xs();
	.make-row(0);
	background-color: @blueDark;
	.info{
		.make-sm-column(6);
		.make-sm-column-push(3);
		
		.info-registers-count, .info-wins-count{
			.opensans_bold(10pt, @white);
			margin-right: 10px;
		}
		.info-available-money{
			.opensans_bold(10pt, @orange);	
		}
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}
	.information-no-contest{
			.make-xs-column(12);
			.opensans_bold(9pt, @white);
			padding-top: 10px;
			padding-bottom: 10px;	
			text-align: center;
			
	}	
}

#myContestMenuTabs{
	background-color: @blueDark;
	padding: 0;
	margin-bottom: 0px;
	height: 60px;
	> li {
		.make-xs-column(4);
		background-color: @blueLight;
		.make-border(4px, none none solid none, @blueDark);
		list-style-type: none;
		a {
			cursor: pointer;
			line-height: 50px;
			text-align: center;
			display: block;
			text-decoration: none;
			color: @white;
		}
	}
	.active {
		background-color: @blueDark;
	}

	.contest-count{
		background-color: @orange;
		.make-border(1px, solid, @white, 20px);
		padding: 1px 6px;
		margin-left: 5px;
	}
}

.no-contest{
	> img {
		.img-responsive();	
	}
	.my-no-contest-bottom-row {
		background-color: @white;
		.make-row(0);
		padding-top: 30px;
		padding-bottom: 30px;
		border-radius: 0 0 10px 10px; 
		
		.btn-go-to-contest{
			.btn();
			.btn-primary();
			
			margin: 0 auto;
			padding: 5px 60px;
			display: block;
		}
	}	
}

.no-contests-wrapper {
	.make-xs-column(12);
	background-color: @white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 200px;
	.no-contests-title {
		.exo_light(20pt, @blueMed);
		padding-bottom: 20px;

	}
	.no-contests-text {
		.opensans_bold(9pt, @greyDark);
	}
}

.list-container {
	min-height: 539px;
	background-color: @white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
