#myContest{
	
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}
}

.resume-bar{
	.make-row(0);
	background-color: @blueDark;

	.info{
		.make-sm-column(6);
		.make-sm-column-push(3);
		padding: 7px 10px 12px;
		.info-available-money{
			.opensans_bold(9pt, @orange);	
		}
		text-align: center;
	}
	.information-no-contest{
		.make-xs-column(12);
		.opensans_bold(9pt, @white);
		padding: 10px 10px 12px;
		text-align: center;
		min-height: 39px;
		@media (max-width: @screen-xs-max) {
			.opensans_bold(7pt, @white);
		}
	}
}

.contest-count{
	background-color: @orange;
	.make-border(1px, solid, @white, 20px);
	padding: 1px 6px;
	margin-left: 5px;
}

#myContestMenuTabs{
	.tabs-navigation(3);
}

.no-contests-wrapper{
	.make-row(0);
	.no-contests-content {
		.make-xs-column(12);
		background-color: @white;
		text-align: center;
		.no-contests-text {
			.opensans_bold(8pt, @greyMed);
			@media (max-width: @screen-xs-max) {
				.opensans_bold(7pt, @greyMed);
			}
			strong {
				color: @blueDark;
				cursor: pointer;
			}
		}
	}
	.no-contest-bottom-row {
		.make-xs-column(12);
		background-color: @white;
		padding-top: 30px;
		padding-bottom: 30px;
		border-radius: 0 0 10px 10px; 
		
		.btn-go-to-contest{
			.btn-primary();			
			margin: 0 auto;
			padding: 5px 60px;
			display: block;
		}
	}	
}

.list-container {
	background-color: @white;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	.text-refresh-history {
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
		.opensans_normal(9pt, @greyDark);
		line-height: 40px;
		background-color: @greyLight;
		padding-left: 10px;
	}
}

