notifications {
	.notification-wrapper  {
		.flex-container-col();
		padding: 15px 15px 0 15px;
		border-bottom: 1px solid @white;		
	}
	.notification-slot {
		.flex-elem-fixed(auto);
		.flex-container-row();
		border-bottom: 1px solid @black;
		align-items: baseline;

		.notification-icon-wrapper {
			.flex-elem-fixed(55px);
		}
		.notification-info-wrapper {
			.flex-elem-fluid();
			padding: 8px 0;
		}
		.notification-title {
			.flex-elem-fluid();
			.mainfont_light(14pt, @grey-bluish, left, uppercase);
		}
		.notification-description {
			.flex-elem-fluid();
			.mainfont_light(10pt, @grey-light, left, uppercase);
		}
		.enlighted {
			color: @orange;
		}
		.notification-actions-wrapper {
			.flex-container-row();
			justify-content: flex-end;
			align-items: center;
			//padding-top: 5px;
		}
		.notification-main-action {
			.flex-elem-fluid();
			.mainfont_light(11pt, @blue, left, uppercase);
			cursor: pointer;
		}
		.notification-dismiss-action {
			.flex-elem-fixed(24px);
			.mainfont_light(10pt, @blue, right, uppercase);
			cursor: pointer;
		}
	}
	.notification-clear-section {
		.flex-container-row();
		justify-content: flex-end;
		padding: 15px 15px;
		i {
			cursor: pointer;
		}
	}
	.notification-list-empty {
		.flex-elem-fluid();
		.flex-container-col();
		.mainfont_light(14pt, @grey-bluish, left, uppercase);
		padding-bottom: 15px;
    	align-items: center;
	}
}
