#notificationsComp {
	.container-fluid();
	padding: 0;

	.notification-list-wrapper {
		.container-fluid();
		padding: 15px;

		.notification {
			.make-row(0);
			margin: 10px 0;
			position: relative;

			achievement {
				position: relative;
				display: block;
			}

			.achievement {
				display: block;
				margin: 0 auto;
				max-with: 140px;

				.achievement-name, .achievement-description {
					.hidden();
				}
			}


			

			.main-info {
				.make-xs-column(4);
				background-color: @blueDark;
				text-align: center;

				.name {
					.exo_light(14pt, @white);
					display: block;					
					padding: 5px 0;
				}

				.date {
					.opensans_normal(10pt, @white);
					display: block;
					padding: 5px 0;
				}
			}

			.secondary-info {
				.make-xs-column(8);
				.description {

				}
			}
		}

		.close-button {
			position: absolute;
			top: 15px;
			right: 15px;
			cursor: pointer;
		}

		.uncommon {
			background-image: url("@{images}/achievementNotificationBg.jpg");
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
			border-radius: 5px;
			text-align: center;
			padding-bottom: 20px;
			.main-info { 
				.make-xs-column(12); 
				background-color: transparent;
				.date {	.opensans_normal(10pt, @greyUltraDark);	}
			}
			.additional-info { .hidden(); }
		}
	}
}