.paginator-wrapper {
	padding-bottom: 15px;
	.paginator-box {
		text-align: center;
		margin: 0 auto;
		
		ul li a {
			cursor: pointer;
			color: @blueLight;
			width: 45px; 
			.user-select(none);
			@media(max-width: @screen-xs-max) {
				font-size: 9pt;
				width: 35px;
				text-align: center;
				padding: 6px 5px;

			}
		}
		.ellipsis a{
			padding-left: 0;
			padding-right: 0; 
			width: 20px;
		}
		.active a{
			border-color: @blueLight;
			background-color: @blueLight;
			color: @white;
			font-weight: bold; 
		}
		.ellipsis a{
			cursor: default;
			&:hover{
				background-color: white;
			}
		}
	}	
}