#promosComponent{
	position: relative;
	background-color: @white;
	overflow: hidden;
	display: block;		// Para que funcione la reserva de espacio

	.make-row(0);

	// Tipo de contenedor que contendrá el contenido
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
		//min-height: 230px;		// Reservamos espacio
	}
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
		//min-height: 147px;
	}
	//a la version > XS le ponemos un fondo blanco
	@media (min-width: @screen-sm-min) {
		background-color: @white;
	}
	//función para centrar la imagen en las promos
	.centerImage(@widthImage) {
		position: relative;
		display: block;
		left: 50%;
		margin-left: -@widthImage/2px;
	}
	.promoDesktop {
		//.centerImage(970);
		.img-responsive();
	}
	.promoXs {
		.centerImage(768);
	}
	.beta-version-desktop {
		position: absolute;
		top: 0;
		left: 0;
		.beta-version-text {
			padding: 0 10px 0 5px;
			&::after {
				content: url("@{images}/betaBackgroundArrow.png");
				position: absolute;
				right: -6px;
				top: 0;
			}
		}	
	}
	.beta-version-xs {
		position: absolute;
		top: 0;
		width: 100%;
		.betaVersionXs {
			.centerImage(330);
		}
		.beta-version-text {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 5px;
		}
	}
	.beta-version-text {
		.exo_bold(10pt, @white);
		display: inline-block;
		background-color: @orange;
		line-height: 31px;
	}

	.hide-promos {
		.hidden();
	}

	.banner2 {
		display: inline-block;
		.make-sm-column(6);
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
	}
}