#promosComponent{
	position: relative;
	background-color: @white;
	overflow: hidden;

	.make-row();

	//Tipo de contenedor que contendrá el contenido
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	//a la version > XS le ponemos un fondo blanco
	@media (min-width: @screen-sm-min) {
		background-color: @white;
	}
	//la versión movil lleva el fondo azul y un padding
	@media (max-width: @screen-xs-max) {
		background-color: @blueMed;
		padding: 10px;
	}
	//Esto es la versión XS. En dart se muestra solo si es isScreenXs
	.promoDesktop{
		display: block;
		position: relative;
		left: 50%;
		margin-left: -485px;		
	}
	.promoXs {
		margin: 0 auto;
		.img-responsive();
	}
	.beta-version {
		position: absolute;
		top: 0;
		left: 0;
		.beta-version-text {
			.exo_bold(11pt, @white);
			display: inline-block;
			background-color: @orange;
			line-height: 31px;
			padding: 0 10px 0 5px;
			&::after {
				content: url("@{images}/BetaBackgroundArrow.png");
				position: absolute;
				right: -6px;
				top: 0;
			}
		}
	}
}