#promosComponent{
	position: relative;
	background-color: @white;
	overflow: hidden;

	.make-row();

	//Tipo de contenedor que contendrá el contenido
	@media (min-width: @screen-md-min) {
		.container();
		.clean-paddings();
	}
	@media (max-width: @screen-sm-max) {
		.container-fluid();
		.clean-paddings();
	}
	//a la version > XS le ponemos un fondo blanco
	@media (min-width: @screen-sm-min) {
		background-color: @white;
	}
	//función para centrar la imagen en las promos
	.centerImage(@widthImage) {
		position: relative;
		display: block;
		left: 50%;
		margin-left: -@widthImage/2px;
	}
	.promoDesktop{
		.centerImage(970);		
	}
	.promoXs {
		.centerImage(768);
	}
	.beta-version-desktop {
		position: absolute;
		top: 0;
		left: 0;
		.beta-version-text {
			padding: 0 10px 0 5px;
			&::after {
				content: url("@{images}/betaBackgroundArrow.png");
				position: absolute;
				right: -6px;
				top: 0;
			}
		}	
	}
	.beta-version-xs {
		position: absolute;
		top: 0;
		width: 100%;
		.betaVersionXs {
			.centerImage(330);
		}
		.beta-version-text {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 5px;
		}
	}
	.beta-version-text {
		.exo_bold(10pt, @white);
		display: inline-block;
		background-color: @orange;
		line-height: 31px;
	}
}