.panel-points {
	.make-xs-column(12);
	.make-sm-column(6);
	padding: 15px 15px 0 15px;

	.header {
		.exo_bold(10pt, @white);
		background-color: @greyUltraDark;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 2px 10px;  

	}
	
	.punctuation {
		.make-row(0);
		.make-border(1px, none solid solid solid, @blueUltraLight);
		background-color: @white;
		vertical-align: middle;
		padding: 4.5px 10px;
	}
	.negative {
		background-color: @greyLight;
	}
	.name {	
		.exo_light(10pt, @greyDark);
		.make-xs-column(10);
		text-align: left;
		padding: 0;
		//padding: 3px 0 3px 10px;
	}
	.points {
		.exo_light(10pt, @greyDark);
		.make-xs-column(2);
		text-align: right;
		padding: 0;
		//padding: 3px 10px 3px 0px;
	}
}
#scoringForForwards {
	padding-bottom: 15px;
}
