.panel-points {
	.make-xs-column(12);
	.make-sm-column(6);
	padding-top: 15px;
	padding-bottom: 15px;
	.header {
		.exo_bold(12pt, @white);
		background-color: @greyUltraDark;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 5px 10px;  

	}
	.body{
		
	}
	.punctuation {
		.make-sm-column(12);
		.make-border(1px, none solid solid solid, @blueUltraLight);
		min-height: 32px;
		background-color: white;
		padding: 5px 10px;
	}

	.shortName {
		.exo_bold(12pt, @greyDark);
		float: left;
	}

	.name {	
		.exo_light(12pt, @greyDark);
		float: left;
		padding-left: 5px;
	}
	.points {
		.exo_bold(12pt, @greyDark);
		float: right;
	}
}