.secondary-tab-bar-wrapper {
	.flex-elem-fixed(30px);
	.flex-container-row();
	padding: 0 15px;
	height: 40px;
	align-items: flex-end;
}

.secondary-tabbar-tab {
	.mainfont_bold(14pt, @grey-translucid, center, uppercase);
	.flex-elem-fluid();

	//background-color: @blueUltraDark;
	border: 0;
	cursor: pointer;
	text-align: center;
	
	&+.secondary-tabbar-tab {		
		//border-left: 1px solid @white;
	}

	&.active {
		border-bottom: 3px solid @white;
		color: @white;
	}
}