.secondary-tab-bar-wrapper {
	.flex-elem-fixed(30px);
	.flex-container-row();
  padding: 20px 15px 2px 15px;
	align-items: flex-end;
  border-bottom: 1px solid @grey-translucid;
}

.secondary-tabbar-tab {
	.mainfont_bold(12pt, @grey-translucid, center, uppercase);
	.flex-elem-fluid();

	//background-color: @blueUltraDark;
	border: 0;
	cursor: pointer;
	text-align: center;
  white-space: nowrap;
  overflow: hidden;
	
	&+.secondary-tabbar-tab {		
		//border-left: 1px solid @white;
	}

  border-bottom: 2px solid transparent;
	&.active {
		border-bottom: 2px solid @white;
		color: @white;
	}
}