shop-comp {
	.money-slot {
		.flex-container-row();
		position: relative;
		height: 120px;
		align-items: center;
		background-color: @grey-dark;
		margin-bottom: 10px;
		padding-right: 15px;
	}
	.gold-item-popular {
	    position: absolute;
    	top: 0;
    	left: 25px;
	}
	.gold-icon {
		//.flex-elem-fixed(100px);
		height: 100%;
	}
	.description {
		.flex-container-col();
		.flex-elem-fluid();
		align-items: center;
		.name {
			.mainfont_light(10pt, @white, center,uppercase);
			padding-top: 5px;
		}
		.coins-count {
			.mainfont_light(35pt, @orange, center,uppercase);
		}
	}
	.price {
		.flex-container-col();
		.flex-elem-fixed(80px);
		align-items: center;
		.free-increment {
			.flex-elem-fixed(auto);
			.mainfont_light(12pt, @white, center,uppercase);
			height: 35px;
			padding-top: 2px;
		}
		.buy-button {
			.flex-elem-fixed(auto);
			.default-button();
			.green-gradient();
			.bodyfont_bold(12pt, @white, center,uppercase);
			width: 80px;
    		margin-bottom: 15px;
		}
	}
}