#simplePromoViewerRoot{
	.make-row(0);
	.banner{
		.img-responsive();
	}
	.promo-text {
		.make-xs-column(10);
		.make-xs-column-push(1);
		.opensans_normal(10pt, @greyDark);
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.promo-text-centered {
		.promo-text();
		text-align: center;
	}
	.button-box {
		.make-xs-column(12);
		text-align: center;
		height: 34px;
		margin-bottom: 50px;

		.button-ok {
			.btn-primary();
			padding: 10px;
		}
	}

}