#playerEventsWindow {
	background-color: @white;
}
.statistic {
	.make-row(0);
	line-height: 30px;
	background-color: @greyUltraLight;
	.make-border(1px, none none solid none, @white, 0px);
	.stat-name{ .make-xs-column(6); .opensans_normal(10pt, @greyDark); }
	.stat-points{ .make-xs-column(6); .exo_bold(12pt, @greyDark); text-align: right; }
}
.modal-header {
	.modal-header();
	padding-bottom: 0;
}

.modal-statistic-header-top {
	.make-row();
	line-height: 60px;
	//padding-bottom: 20px;
	.title {
		.make-xs-column(11);
		.opensans_normal(20pt, @greyDark);
		text-align: left;
	}

	.close-button {
		.close();
		.make-xs-column(1);
		background-color: transparent;
		border:none;
	}

	.content-title {
		.opensans_normal(20pt, @greyDark);
		text-align: center;
		line-height: 90px;

	}


	.place-holder {
		.make-xs-column(12);
		padding: 20px;
		background-color: @greyUltraDark;
		.exo_light (26pt, @orange);
	}
}

