.soccer-players-filter {
	@media (max-width: @screen-xs-max) {
		padding: 0 10px;
	}
	// Por posicion
	.filter-by-position {
		height: 58px;
		background-color: @tramaBlue;
		padding: 20px 0 0 10px;
		.hidden-xs();
		span {
			.exo_bold(14pt, @greyDark);
			padding: 0 10px 0 0;
			.hidden-sm();
		}
		.button-filter-position {
			.btn-default();
			.transition(none);
			font-size: 9pt;
			margin: 0 2px;
			box-shadow: none;
			&.active {
				background-color: @white;
				color: @greyUltraDark;
				padding-bottom: 18px;
				box-shadow: none;
			}
		}
	}

	// Por nombre de jugador
	.name-player-input-filter {
		.form-control();
		@media (max-width: @screen-xs-max) {
			margin: 10px 0 15px;
			border: 1px solid @greyLight;
			border-radius: 4px;
		}
		border: none;
		border-radius: 0;
		padding-left: 30px;
		background: url('../images/searchIcon.png') no-repeat 10px center;	
	}
}