.soccer-players-list {
	@soccer-players-list-gutter: 0px;

	.soccer-players-list-slot {
		.make-row(0px);				// Para quitar los margenes negativos
		margin-top: 4px;
		padding-bottom: 4px;
		.make-border(1px, none none dotted none, #FF0000);
		height: 40px;

		.column-fieldpos {
			.make-xs-column(2, @soccer-players-list-gutter);
			.hidden-xs();
			.opensans_bold(10pt, @greyDark);
			text-align: center;
			padding-top: 12px;			
		}
		.column-primary-info {
			.make-xs-column(8, @soccer-players-list-gutter);
			.make-sm-column(5, @soccer-players-list-gutter);

			.soccer-player-name {
				.opensans_bold(10pt, @greyDark);
				display: block;
			}
			.match-event-name {
				.opensans_normal(9pt, @blueLight);
			}
		}
		.column-dfp {
			.hidden-xs();
			.make-sm-column(1, @soccer-players-list-gutter);
			.opensans_bold(10pt, @greyDark);
			padding-top: 10px;
		}
		.column-played {
			.hidden-xs();
			.make-sm-column(1, @soccer-players-list-gutter);
			.opensans_bold(10pt, @greyDark);
			padding-top: 10px;
		}
		.column-salary {
			.make-xs-column(2, @soccer-players-list-gutter);
			.make-sm-column(1, @soccer-players-list-gutter);
			.exo_light(10pt, @blueLight);
			padding-top: 10px;
		}
		.column-add {
			.make-xs-column(2, @soccer-players-list-gutter);
			text-align: center;
			.btn {
				.btn-default();
				margin-top: 1px;
				padding-left: 7px;
				padding-right: 7px;
			}
		}
		
		// En mobile tenemos que dejar un poco de margin para que funcione a 320x480
		@media (max-width: @screen-xs-max) {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}