.soccer-player-info-header {
	@media (max-width: @screen-xs-max) {
		.make-border(1px, solid none none none, @orangeHeaderLight);
		background-color: @greyUltraDark;
		color: @white;
		padding: 0 5px;
	}
	.container-fluid();
	.clean-paddings();
	.text-header {
		.hidden-xs();
		.opensans_normal(14pt, @greyDark);
		line-height: 66px;
		margin-left: 5px;
	}
	.close {
		.hidden-xs();
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.button-wrapper {
		.make-xs-column(6);
		.make-sm-column(12);
		@media (min-width: @screen-sm-min) {
			display: none;
		}
		padding: 15px 5px;
		.next-match {
			.hidden-xs();
			.opensans_bold(9pt, @blueLight);
			display: inline-block;
			margin-top: 10px;
			strong {
				color: @white;
			}
		}
	}
	@media (min-width: @screen-sm-min) {
		.button-wrapper + .button-wrapper {
			#gradient.vertical(@blueGradientLight, @blueGradientDark, 49%, 51%);
			display: block;
			position: absolute;
			top: 148px;
			z-index: 999;
			padding: 5px 5px 10px;
		}
	}
	.btn-cancel-soccer-player-info {
		.btn-cancel();
		.btn-block();
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
	}
	.btn-add-soccer-player-info {
		.btn();
		@media (max-width: @screen-xs-max) {
			.btn-primary();
			.btn-block();
		}
		@media (min-width: @screen-sm-min) {
			.btn-orange();
			.pull-right();
			padding-left: 40px;
			padding-right: 40px;
		}
	}
	.description-header {
		@media (min-width: @screen-sm-min) {
			background-color: @greyUltraDark;
			margin-bottom: 70px;
		}
		.make-xs-column(12);
		.clean-paddings();
		padding: 10px 0;
		.soccer-player-description {
			.make-xs-column(12, 10px);
			.make-sm-column(7, 10px);
			.make-md-column(8, 10px);
			.soccer-player-pos-team {
				.make-xs-column(12, 0px);			
				.opensans_bold(10pt, @greyMed);
				span + span {
					color: @white;
				}
			}
			.soccer-player-name {
				.make-xs-column(12, 0px);
				.exo_light(20pt, @orangeHeaderLight);
				margin-bottom: 5px;
			}
		}
		.soccer-player-info-stats {
			.make-xs-column(12);
			.make-sm-column(5, 10px);
			.make-md-column(4, 10px);
			.clean-paddings();
			.soccer-player-fantasy-points, .soccer-player-matches, .soccer-player-salary {
				.make-xs-column(4, 10px);
				text-align: center;
				@media (min-width: @screen-sm-min) {
					text-align: right;
				}
				span {
					display: block;
					.opensans_bold(9pt, @white);
					padding-top: 5px;
					@media (max-width: @screen-xs-max) {
						background-color: @greyDark;
						color: @greyLight;
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
					}
				}
				span + span {
					.exo_light(18pt, @greyLight);
					padding-top: 0;
					@media (max-width: @screen-xs-max) {
						color: @white;
						border-radius: 0;
						border-bottom-right-radius: 4px;
						border-bottom-left-radius: 4px;
					}
				}
			}
		}
	}
}

.soccer-player-info-content {
	// Tabs menu
	.soccer-player-info-tabs {
		@tabheight: 50px;
		.make-border(1px, solid none none none, @white);
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
		.reset-list();
		height: @tabheight;
		> li {
			.make-xs-column(6);
			background-color: @greyMed;
			.make-border(4px, none none solid none, @greyDark);
			a {
				cursor: pointer;
				line-height: @tabheight;
				text-align: center;
				color: @white;
				display: block;
				text-decoration: none;
			}
		}
		.active {
			background-color: @greyDark;
		}
	}

	.next-match, .date-season {
		.opensans_bold(10pt, @greyDark);
		strong {
			color: @blueMed;
		}
	}
	.next-match {
		margin: 25px 10px 0;
	}
	.date-season {
		margin: 0 10px 20px;
	}

	.season-stats {
		.make-border(1px, solid none solid none, @greyDark);
		background-color: @greyUltraLight;
		.make-xs-column(12, 0px);
			.season-stats-row {
				.make-xs-column(6, 0px);
				.make-border(1px, dotted none none none, @greyDark);
				line-height: 30px;

				.season-stats-header {
					.opensans_normal(10pt, @greyDark);
					.make-xs-column(2, 15px);
				}
				.season-stats-info {
					.exo_bold(14pt,  @greyDark);
					.make-xs-column(10, 15px);
					text-align: right;
				}
				.season-stats-info:last-child {
					border: none;
				}
			}
			.season-stats-row:first-child {
				border: none;
			}
			.season-stats-row:first-child + .season-stats-row {
				border: none;
			}
			.season-stats-row:nth-child(odd) {
				border-right: 1px dotted @greyDark;
			}
	}
	.match-stats {
		.make-xs-column(12, 0px);
		background-color: @white;
		.opensans_bold(10pt, @greyDark);
		.match-stats-header {
			.make-xs-column(1.5, 0px);
			display: inline-table;
			float: left;
			.make-border(1px, none none solid none, @greyDark);
			div {
				.make-border(1px, dotted solid none none, @greyDark);
				line-height: 30px;
				text-align: center;
			}
			div:nth-child(even) {
				background-color: @tramaBlue;
			}
			div:first-child {
				.make-border(1px, none none solid none, @greyDark);
				line-height: 40px;
			}
			div:first-child + div {
				border-top: none;
				color: @blueDark;
			}
			div:first-child + div + div {
				color: @blueMed;
			}
		}
		.match-stats-content {
			.make-xs-column(10.5, 0px);
			.opensans_normal(10pt, @greyDark);
			overflow-x: scroll;
			.match-stats-data {
				width: 99999px;
				.match-year {
					float: left;
					line-height: 40px;
					text-align: center;
					.opensans_bold(10pt, @blueDark);
				}
				.match-year + .data {
					margin-left: -33px;
					border-left: 1px solid @greyDark;
				}
				.data {
					margin: 40px 0 0 0;
					.make-border(1px, solid none solid none, @greyDark);
					display: inline-table;
					float: left;
					div {
						.make-border(1px, dotted solid none none, @greyDark);
						line-height: 30px;
						width: 50px;
						text-align: center;
					}
					div:nth-child(odd) {
						background-color: @tramaBlue;
					}
					div:first-child {
						.make-border(1px, none solid none none, @greyDark);
						.opensans_bold(10pt, @blueDark);
					}
					div:first-child + div {
						.opensans_bold(10pt, @blueMed);
					}
				}
			}
		}
	}
	/*.season-stats-no-xs {
		border: 1px solid #000;

		.season-stats-col {
			display: inline-block;
			border: 1px solid red;
			float: left;
		}
	}*/
	.action-buttons {
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
		.make-xs-column(12, 5px);
		padding-top: 5px;
		padding-bottom: 10px;
		background-color: @white;
		.button-wrapper {
			.make-xs-column(6);
			padding: 15px 5px;

			.btn-cancel-soccer-player-info {
				.btn-cancel();
				.btn-block();
			}
			.btn-add-soccer-player-info {
				.btn();
				.btn-primary();
				.btn-block();
			}
		}
	}
}