.soccer-players-filter {
	.make-row(0);
	@media (max-width: @screen-xs-max) {
		padding: 0 10px;
	}
	// Por posicion
	.filter-by-position {
		height: 58px;
		background-color: @tramaBlue;
		padding: 20px 0 0 10px;
		@media (max-width: @screen-xs-max) {
			margin: 0;
			padding: 0;
			height: 0;
			&.position-filters-enabled {
				padding: 20px 0 0 10px;
				height: 58px;
				margin: 0 -10px;
				.button-filter-favorites {
					margin: -10px 10px 0 15px;
				}
			}
		}
		//.hidden-xs();
		span {
			.exo_bold(14pt, @greyDark);
			padding: 0 10px 0 0;
			.hidden-sm();
			.hidden-xs();
		}
		.button-filter-position {
			.btn-default();
			.transition(none);
			font-size: 9pt;
			margin: 0 2px;
			box-shadow: none;
			&.active {
				background-color: @white;
				color: @greyUltraDark;
				padding-bottom: 18px;
				box-shadow: none;
				&:focus {
					background-color: @white;
					color: @greyUltraDark;
					padding-bottom: 18px;
					box-shadow: none;
				}
				&:hover {
					background-color: @white;
					color: @greyUltraDark;
				}
			}
			&.all {
				.hidden-xs();
			}
		}
		.button-filter-favorites {
			.btn-default();
			padding: 10px 15px;
			.transition(none);
			font-size: 9pt;
			margin: -10px 10px 0 15px;
			border: 1px solid transparent;
			&:hover {
				border: 1px solid transparent;
			}
			box-shadow: none;
			float: right;
			&:after {
				display: block;
				.addIcon("iconFavoritePos.png", 18px, 17px);
				background-repeat: no-repeat;
			}
			&.active {
				background-color: @white;
				border: 1px solid @greyUltraDark;
				color: @greyUltraDark;
				box-shadow: none;
				&:focus {
					background-color: @white;
					color: @greyUltraDark;
					box-shadow: none;
				}
				&:hover {
					background-color: @white;
					color: @greyUltraDark;
				}
				
				&:after {
					display: block;
					.addIcon("iconFavoriteNeg.png", 18px, 17px);
					background-repeat: no-repeat;
				}
			}
			
			@media (max-width: @screen-xs-max) {
				margin: 5px 0;
				.make-xs-column(2);
				float: right;
				padding-left: 0;
				padding-right: 0;
			}
		}
		
	}
	
	// Por nombre de jugador
	.name-player-input-filter {
		.form-control();
		.make-xs-column(9);
		.make-sm-column(12);
		@media (max-width: @screen-xs-max) {
			margin: 10px 0px 15px 0px;
			border: 1px solid @greyLight;
			border-radius: 4px;
		}
		border: none;
		border-radius: 0;
		padding-left: 30px;
		background: url('../images/searchIcon.png') no-repeat 10px center;	
	}

	&.position-filters-enabled {
		.name-player-input-filter {
			.make-xs-column(12);
			padding-left: 30px;
		}
	}
}