// Filtros para la version Desktop
.soccer-player-filter {
	@media (max-width: @screen-xs-max) {
		padding: 0 10px;
	}
	// Por posicion
	.filter-by-position {
		height: 58px;
		background-color: @tramaBlue;
		padding: 20px 0 0 10px;
		.hidden-xs();
		span {
			.exo_bold(14pt, @greyDark);
			padding: 0 10px 0 0;
			.hidden-sm();
		}
		.button-filtro-position {
			font-size: 9pt;
			margin: 0 2px;
			box-shadow: none;
		}
		.button-filtro-position:active, .button-filtro-position:focus {
			outline: none;
		}
		.active {
			background-color: @white;
			color: @greyUltraDark;
			padding-bottom: 18px;
			box-shadow: none;
		}
	}
	// Por equipo
	.match-selector-filter {
		.form-control();
		.hidden-sm();
		.hidden-md();
		.hidden-lg();
	}
	// Por nombre de jugador
	.name-player-input-filter {
		.form-control();
		@media (max-width: @screen-xs-max) {
			margin: 10px 0 15px;
			border: 1px solid @greyLight;
			border-radius: 4px;
		}
		border: none;
		border-radius: 0;
		padding-left: 30px;
		background: url('../images/searchIcon.png') no-repeat 10px center;	
	}
}

// Tabla de ordenacion en la cabecera del listado de jugadores
.soccer-player-list-header-table {
	.user-select(none);
	.make-row(0px);
	line-height: 30px;
	background-color: @blueMed;
	cursor: pointer;
	.filterOrderPos {
		.make-md-column(1, 0px);
		padding-left: 7px;
	}
	.filterOrderName {
		.make-md-column(5, 0px);
		padding-left: 7px;
	}
	.filterOrderDFP {
		.make-md-column(1, 0px);
	}
	.filterOrderPlayed {
		.make-md-column(1, 0px);
	}
	.filterOrderSalary {
		.make-md-column(2, 0px);
		text-align: right;
		padding-right: 15px;
	}
	a {
		text-decoration: underline;
		.opensans_bold(10pt, @white);
	}
}

// Lista de seleccion de jugadores
.soccer-players-list {
	overflow: auto; 
	@media (min-width: @screen-sm-min) {
		max-height: 465px;
	}
	@media (min-width: @screen-md-min) {
		max-height: 505px;
	}
	.make-border(1px, solid none none none, @greyDark);
	@soccer-players-list-gutter: 0px;
	min-height: 1px;	// Para que al quedarse sin futbolistas que mostrar por los filtros, siga ocupando su width

	.posPOR { background-color: @tramaPor; }
	.posDEF { background-color: @tramaDef; }
	.posMED { background-color: @tramaMed; }
	.posDEL { background-color: @tramaDel; }

	.soccer-players-list-slot {
		.make-row(0px);				// Para quitar los margenes negativos
		padding-bottom: 4px;
		.make-border(1px, none none dotted none, @greyDark);
		height: 42px;
		cursor: pointer;

		.column-fieldpos {
			.make-md-column(1, @soccer-players-list-gutter);
			.hidden-xs();
			.hidden-sm();
			.opensans_bold(9pt, @greyDark);
			text-align: center;
			padding-top: 12px;			
		}
		.column-primary-info {
			.make-xs-column(7, @soccer-players-list-gutter);
			.make-md-column(5, @soccer-players-list-gutter);
			line-height: 9pt;
			padding-left: 10px;

			.soccer-player-name {
				.opensans_bold(9pt, @greyDark);
				display: block;
				text-transform: uppercase;
				padding-top: 9px;
			}
			.match-event-name {
				.opensans_normal(9pt, @blueLight);
			}
		}
		.column-dfp {
			.hidden-xs();
			.hidden-sm();
			.make-md-column(1, @soccer-players-list-gutter);
			.opensans_bold(10pt, @greyDark);
			padding-top: 10px;
			text-align: center;
		}
		.column-played {
			.hidden-xs();
			.hidden-sm();
			.make-md-column(1, @soccer-players-list-gutter);
			.opensans_bold(9pt, @greyDark);
			padding-top: 10px;
			text-align: center;
		}
		.column-salary {
			.make-xs-column(2, @soccer-players-list-gutter);
			.make-md-column(2, @soccer-players-list-gutter);
			.opensans_bold(9pt, @greyDark);
			padding-top: 11px;
			padding-right: 10px;
			text-align: right;
		}
		.column-add {
			.make-xs-column(3, @soccer-players-list-gutter);
			.make-md-column(2, @soccer-players-list-gutter);
			text-align: right;
			padding-right: 3px;

			.btn {
				.btn-primary();
				margin-top: 4px;
				padding-left: 15px;
				padding-right: 15px;
				font-size: 9pt;
			}
		}
	}
	
}