#staticInfo {
	.block-dark {
		background-color: @tramaBlue;
		padding-bottom: 40px;
	}

	.block-dark-header {
		.block-dark();
		padding-bottom: 0;
	}

	.title {
		.exo_light(20pt, @blueDark);
		padding: 16px 10px 12px;
		text-align: center;
	}
	h1 {
		.opensans_bold(10pt, @blueDark);
	}
	p {
		.opensans_normal(10pt, @greyDark);
	}
}
.info-wrapper {
	.make-xs-column(12);
	background-color: @white;
}