#staticInfo {
	.block-dark {
		background-color: @tramaBlue;
		padding-bottom: 40px;
	}

	.block-dark-header {
		.block-dark();
		padding-bottom: 0;
	}

	.title {
		.exo_light(20pt, @blueDark);
		padding: 16px 10px 12px;
		text-align: center;
	}
}