@import "../bootstrap-3.1.1/less/bootstrap.less";
@import "../bootstrap-3.1.1/less/navbar.less";

@import "color_palette.less";
@import "main_menu_comp.less";
@import "modal_contest_comp.less";

@fontOpenSans: 'open_sansregular', sans-serif;
@fontExo: 'Exo', sans-serif;

// Color Definitions 
@color11: @black;
@color12: @white;
@color21: @blueDark;
@color22: @blueMed;
@color23: @blueLight;
@color24: @blueMenu;
@color31: @orange;
@color32: @orange50;
@color33: @green;
@color41: @greyUltraDark;
@color42: @greyDark;
@color43: @greyMed;
@color44: @greyLight;
@color45: @greyUltralight;
@color51: @tramaBlue;
@color61: @tramaPor;
@color62: @tramaDef;
@color63: @tramaMed;
@color64: @tramaDel;

// Font Definitions
@font-family-base: @fontOpenSans;

// Path Definitions
@images: "../images";
@icon-font-path: "../bootstrap-3.1.1/fonts/";


@brand-primary: rgb(250, 156, 25);

body > .container-fluid {
	height: 1100px;

	@media (min-width: @screen-sm-min) {
		background-color: #000000;
		background-image: url("@{images}/DesignBackgroundBIG.jpg");
		background-position: center top;
		background-repeat: no-repeat;
	}

	@media (max-width: @screen-sm-min) {
		background-color: #FFFFFF;
	}
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-login, .form-join {
  text-align: left;
}

[ng-cloak], [data-ng-cloak], .ng-cloak {
  display: none !important;
}