@import "../bootstrap-3.1.1/less/bootstrap.less";
@import "main_menu_comp.less";
 
@images: "../images";

@brand-primary: rgb(250, 156, 25);


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-login, .form-join {
  text-align: left;
}

[ng-cloak], [data-ng-cloak], .ng-cloak {
  display: none !important;
}