tab-bar {
  .flex-elem-fixed(100px);
	text-align: center;
  background-image: url(../images/tabBar/BottomBarBg.png);
}
.tab-bar-wrapper {
}
.tab-bar-item {
	position: relative;
	display: inline-block;
	width: 20%;
	cursor: pointer;
	&.active {
		background-image: url(../images/tabBar/BottomBarMenuElementActive.png);
    background-size: 100% 100%;
	}
}
.tab-bar-item-name {
	.mainfont_light(11pt, @grey-bluish, center, uppercase);
	display: block;
}
.tab-bar-item-badge {
	.opensans_bold(8pt, @white);
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: 10px;
	min-width: 17px;
	min-height: 17px;
	line-height: 13px;
	padding: 2px;
	border-radius: 50px;
	border-radius: 100%;
	background-color: @red;
	display: none;
	&.has-notifications {
		display: block;
	}
}
