//barra que muestra los partidos que intervienen en el concurso y los encales sociales
#teamsPanelComp {
	.container();
	display: block;
	.clean-paddings();
	top: -10px;
	position: relative;
	//display: inline-block;
	.teams-toggler-wrapper {
		display: block;
		text-align: right;
		background-color: @white;
		.teams-toggler {
			.opensans_bold(8pt, @greyDark);
			.user-select(none);
			padding-left: 0px;
			padding-right: 15px;
		}
		.toggleOff::after{
			.create-glyph("\E114", 6pt, @greyUltraDark);
			padding-left: 3px;
			//position: absolute;
			//right: 15px;
		}
		.toggleOn::after{
			.create-glyph("\E113", 6pt, @greyUltraDark);
			padding-left: 3px;

			//position: absolute;
			//right: 15px;
		}

	// Reserva de sitio
	@media (max-width: @screen-sm-max) {
		background-color: @white;
		//min-height: 45px;
	}
	@media (min-width: @screen-md-min) {
		background-color: @white;
		//min-height: 50px;
		overflow: hidden;

		// Animacion para cuando hay mas de una linea (solo en desktop)
		.animate {
			#doKeyFrames(teamspanel-height-keyframes, {
				 from { max-height: 50px; opacity: 0;}
				 to { max-height: 240px; opacity: 1;}
				});
			.animateWithKeyFrames(teamspanel-height-keyframes, 1s);
		}
	}
}

#teamsPanelRoot {
  display: block;
  .make-border(1px, solid none none none, #ccc);

	.teams-comp-bar{
		.make-row(0);
		background-color: @tramaBlue;
		.social{
			.make-xs-column(0);
			width: 150px;
			padding: 9px 20px;
		}
		}
		.teams-container {
			.make-row(0);
			//.make-border(1px, solid none none none, @greyDark);        
			
			padding: 8px 5px 0px 5px;
			@media (max-width: @screen-xs-max) {			
				background-color: @tramaBlue;
				padding: 0;
				.top-border {
					height: 10px;
				}
				.bottom-border {
					//.make-border(1px, none none solid none, @greyDark);
					height: 10px;
					clear: both;
				}
			}

			.teams-box{
				.make-xs-column(4);
				.make-sm-column(3);
				.make-md-column(2);
				.clean-paddings();
				.teams-info{
					.opensans_bold(9pt, @greyMed);
					min-width: 90px;
					background-color: @white;		
					border-radius: 10px;
					padding: 5px 0;
					margin: 0 4px 8px 4px;
					@media (max-width: @screen-xs-max) {
						margin: 4px;
					}
					text-align: center;
					line-height: 15px;
				}
				.match-date {
					margin-top: 5px;
				}
				.score-wrapper { display:inline-block;
					.team-score {
						padding: 0px 5px;
						border-radius: 3px;
						background-color: @greyMed;
						.opensans_bold(9pt, @white);
					}
				}
				.period {
					color: @blueMed;
					margin-top: 5px;
				}
			}
		}
	}
}