top-bar {
  .flex-elem-fixed(55px);
  height: 55px;
  
  .black-gradient();
  border-bottom: 1px solid @grey-translucid;
}

.three-columns, .one-column {
	text-align: center;
	.flex-container-row();
  align-items: center;
  
	.left-column {
    .flex-elem-fixed(50px);
	  height: 25px;
    cursor: pointer;
	}
	.main-column {
		.flex-elem-fluid();
		.user-currencies {
	    .flex-container-row();
			.currency {
				.flex-elem-fluid();
			}
		}
    .title-label {}
	}
	.right-column {
    .flex-elem-fixed(50px);
	  height: 25px;
	}
}

.three-columns {
	.left-column {
    cursor: pointer
  }
}


.columns-layout {
  .mainfont_light(14pt, @white);
	text-transform: uppercase;
	height: 55px;
}
.columns-layout.hidden-bar {
	display: none;
}