top-bar {
  .flex-elem-fixed(55px);
  .black-gradient();
  .elevation(3);
  height: 55px;
  border-bottom: 1px solid @grey-translucid;
  z-index: 1100;
}
.three-columns, .one-column {
	.flex-container-row();
	text-align: center;	
  	align-items: center;  
	.left-column {
    .flex-elem-fixed(auto);
		cursor: pointer;
    text-align: right;
    padding: 0 4px 0 8px;
    .material-icons {
      padding: 15px;
    }
	}
	.main-column {
		.flex-elem-fluid();
    	text-align: center;
		.user-currencies {
	    .flex-container-row();
			.currency {
				.flex-elem-fluid();
			}
		}
    .title-label {}
    
    
    &.search-mode {
	    .flex-container-col();
      .flex-elem-fluid();
    }
    .search-field {
      .text-input-field();
    }
    
	}
	.right-column {
	    .flex-elem-fixed(50px);
	    text-align: center;
	    padding-right: 8px;
	    .material-icons {
	      cursor: pointer;
	    }
	}
}
.three-columns {
	.left-column {
    cursor: pointer;
  }
}
.columns-layout {
  .mainfont_light(14pt, @white);
	text-transform: uppercase;
	height: 55px;
}
.columns-layout.hidden-bar {
	display: none;
}