#transactionHistoryRoot {

	.transaction-date-col{ .make-sm-column(2); }
	.transaction-id-col{ .make-sm-column(3); }
	.transaction-concept-col{ .make-sm-column(5); }
	.transaction-amount-col{ .make-sm-column(1); }
	.transaction-balance-col{ .make-sm-column(1); }

	.transaction-headers {
		.make-row(0);
		background-color: @white;
		.header-item {
			.opensans_bold(10pt, @blueDark);
			text-align: left;
			line-height: 2;
			padding: 10px;
		}
		.header-date {
			.transaction-date-col();
			.header-item();
		}
		.header-id {
			.transaction-id-col();			
			.header-item();
		}
		.header-concept {
			.transaction-concept-col();
			.header-item();
		}
		.header-amount {
			.transaction-amount-col();
			.header-item();
		}
		.header-balance {
			.transaction-balance-col();
			.header-item();
		}
	}

	.transaction-row{
		.make-row(0);
		background-color: @greyUltraLight;
		.make-border(1px, solid none none none, @white);
		.transacction-text {
			.opensans_bold(8pt, @greyDark);
			line-height: 2;
			padding: 10px;
			& .red-numbers {
				color: @red;
			}
		}
		.field-date{
			.transaction-date-col();
			.transacction-text();
		}
		.field-id{
			.transaction-id-col();
			.transacction-text();
		}
		.field-concept{
			.transaction-concept-col();
			.transacction-text();
		}
		.field-amount{
			.transaction-amount-col();
			.transacction-text();
		}
		.field-balance{
			.transaction-balance-col();
			.transacction-text();
		}
	}
}