.global-tutorial-list #mainWrapper {
	background: none;
}

#tutorialListRoot {
	
	.tutorial-tile-wrapper {
		.make-tile(6, 5);
	}
	
	#initiation .tile {
		background-color: fade(@white, 70%);
	}
	#oficialContests .tile {
		background-color: fade(@blueMed, 70%);
	}
	#creatingContests .tile {
		background-color: fade(@blueGradientDark, 70%);
	}
}