.skip-tutorial-button {
	.exo_bold(10pt, @white);
	background-color: @blueUltraDark;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid @white;
	border-bottom: 0px none;
	position: fixed;
	display: block;
	bottom: 0px;
	padding: 7px 15px 5px 15px;
	cursor: pointer;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	text-align: center;
}
/*
.tutorial-tip-wrapper {
	width: 300px;
	margin-left: 305px;
	right: 0px;
	position: relative;
	top: 0px;
}

.tutorial-tip-wrapper:before {
	content: "";
	width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid white;
	border-left: 0px none transparent;
}
*/

.tutorial-tip {
	position: absolute;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  border-radius: 2px;
  background-color: @white;
  color: @blueHyperDark;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
	
	&:after {
		content: "";
		border: 10px solid transparent;
		max-width: 0;
		max-height: 0;
		display: block;
		position: absolute;
	}
	
	&.top {
		top: -40px;
		left: 50%;
		&:after {
			border-top: 10px solid #ffffff;
			border-bottom: 0px none transparent;
			bottom: -10px;
			left: 50%;
			margin-left: -10px;
		}
	}
	&.bottom {
		bottom: -40px;
		left: 50%;
		&:after {
			border-top: 0px none transparent;
			border-bottom: 10px solid #ffffff;
			top: -10px;
			left: 50%;
			margin-left: -10px;
		}
	}
	
	&.left {
  	margin-top: -15px;
		top: 50%;
		left: -90px;
		&:after {
			border: 7px solid transparent;
			border-left: 7px solid #ffffff;
			border-right: 0px none transparent;
			right: -7px;
			top: 50%;
			margin-top: -7px;
		}
	}
	&.right {
  	margin-top: -15px;
		top: 50%;
		right: -90px;
		&:after {
			border: 7px solid transparent;
			border-left: 0px none transparent;
			border-right: 7px solid #ffffff;
			left: -7px;
			top: 50%;
			margin-top: -7px;
		}
	}
	
}

.tutorial-tipped-element {
	z-index: 1001;
}