.global-user-profile #mainWrapper.wrapper-content-container {
	background-color: @white;
}

.profile-content {
	.make-row(0);
	background-color: @white;
	.clean-paddings();
	
	.profile-section {
		position: relative;
		.data-header {
			.make-row(0);
			.clean-paddings();
			padding: 15px 0px 10px 0px;
			text-align: center;
			
			.data-header-title {
				.exo_bold(12pt, @blueDark);
				@media (min-width: @screen-sm-min) {
					.exo_bold(20pt, @blueDark);
				}
			}
			margin-bottom: 0px;
		}
		
		.data-content {
			.make-row(0);
			padding: 10px 15px 25px 15px;
			
			@media (min-width: @screen-sm-min) {
				min-height: 130px;
			}
			
			.wrapper-box {
				@media (min-width: @screen-sm-min) {
					border-radius: 5px;
					box-shadow: 1px 1px 7px rgba(0,0,0,0.5) inset;
					padding: 10px 20px;
					display: inline-block;
					margin: 0px auto;
				}
			}
		}
		
		.data-action {
			min-height: 80px;
			padding: 0px 0px 30px 0px;
			margin: 10px;
			border-bottom: 1px dotted @black;
			text-align: center;
			
			@media (min-width: @screen-sm-min) {
				border-bottom: 0px none @black;
				padding: 0px 0px 0px 0px;
				margin: 0px;
			}
			.action-button {
				.btn-default();
				.exo_bold(10pt, @white);
				padding: 12px 12px;
				width: 100%;
				max-width: 300px;
				margin: 0px auto;
			}
		}
		
		&.binding-actions {
			.data-content {
				.opensans_bold(10pt, @blueDark);
				text-align: center;
				margin: 10px;
				padding: 0px;
				
				@media (min-width: @screen-sm-min) {
					min-height: 0px;
				}

			}
			.data-action {
				.action-button {
					.opensans_bold(10pt, @white);
					margin: 0px 1%;
					width: 48%;
					&.facebook-button {
						background-color: @blueFB;
					}
					&.server-button {
						background-color: @redCuatro;
					}
				}
				&.single-buttons .action-button {
					width: 98%;
				}
				padding-bottom: 0px;
				border: 0px;
				min-height: 0;
			}
		}
		
		&.personal-data {
			.data-header{

				text-align: left;
				padding: 10px 12px;
				background-color: @blueDark;
				.data-header-title {
					color: @white;
				}
			}
			
			.data-content {
				.data-key {
					.opensans_bold(9pt, @blueDark);
					line-height: 25pt;
				}
				
				.data-value {
					.opensans_normal(9pt, @blueDark);
					line-height: 25pt;
					margin-left: 8px;
				}
			}
			@media (min-width: @screen-sm-min ) {
				border-bottom: 1px dotted @black;
				.data-action {
					position: absolute;
					top: 10px;
					right: 15px;
					.action-button {
						padding: 7px 20px;
						width: auto;
					}
				}
			}

		}

		
		&.pocket-data {
			.make-sm-column(6);
			padding: 0px;
			
			.data-content {
				text-align: center;
				.data-value-coins {
					.exo_light(25pt, @black);
				}
				.coin-icon {
					vertical-align: baseline;
					margin-left: 5px;
				}
				
				@media (min-width: @screen-sm-min) {
					.data-value-coins {
						.exo_light(35pt, @black);
					}
					.coin-icon {
						width: 32px;
						height: 32px;
					}
					.wrapper-box {
							padding: 22px 20px;
					}
					
				}
				
			}
			
			.data-action .action-button {
				.btn-primary();
				.exo_bold(10pt, @white);
				padding: 12px 12px;
			}
			@media (min-width: @screen-sm-min) {
				border-right: 1px dotted @black;
			}
		}
		
		&.ranking-data {
			.make-sm-column(6);
			padding: 0px;
			
			.data-content {
				padding-right: 50px;
				padding-left: 50px;
				
				@media (max-width: @screen-xs-min) {
					padding-right: 0px;
					padding-left: 0px;
				}
				
				.single-ranking-info {
					text-align: center;
					.make-xs-column(5.7);
					
					.ranking-badge {
						width: 32px;
						height: 32px;
					}
					.ranking-position {
						.exo_light(25pt, @blueDark);
						display: block;
						margin-bottom: -5px;
					}
					.ranking-score {
						.exo_bold(10pt, @orange);
						display: block;
					}
					
					&.ranking-by-money {
						//.make-xs-column-offset(@columns) correction
						margin-left: percentage((0.6 / @grid-columns));
					}
				}
			}
			
			.data-action {
				border-bottom: 0px none @black;
			}
		}

	}
	
}

.modal-bind-join-login#alertRoot .panel,
.modal-select-account#alertRoot .panel {
	background-color: @greyLighter;
	.panel-body {
		padding-bottom: 35px;
	}
	.form-description {
		.close-button {
			color: @blueDark;
			font-size: 20pt;
			float: right;
			width: 18pt;
			height: 14pt;
			cursor: pointer;
			line-height: 14pt;
		}
		.back-button {
			color: @blueDark;
			font-size: 20pt;
			float: left;
			width: 18pt;
			height: 14pt;
			cursor: pointer;
			line-height: 14pt;
		}
		h1 {
			.exo_bold(12pt, @blueDark);
			margin-top: 0;
		}
		
		.back-button + h1 {
			margin-right: 18pt;
		}
		.close-button + h1 {
			margin-left: 18pt;
		}
		p {
			.opensans_normal(12pt, @blueMed);
			margin: 15px 15px;
			padding-top: 25px;
		}
		button.bind-type-button {
			.btn-primary();
			.exo_bold(10pt, @white);
			width: 100%;
			padding: 10px;
		}
	}
}

.modal-select-account#alertRoot .panel {
	.account-resume-box {
		.make-row();
		margin: 0;
		
		.account-resume-username,
		.account-resume-gold,
		.account-resume-played,
		.account-resume-level,
		.account-resume-playing {
			background-color: @white;
			.opensans_normal(8pt, @greyMedDark);
			border: 1px solid @greyMed;
		}
		
		.account-resume-username {
			.make-xs-column(12);
			padding: 5px 5px;
			font-size: 12pt;
			border-bottom: none;
		}
		
		.account-resume-gold,
		.account-resume-played,
		.account-resume-level,
		.account-resume-playing {
			.make-xs-column(6);
			padding: 10px 5px;
			text-align: left;
		}
		
		.account-resume-gold,
		.account-resume-played {
			border-bottom: none;
		}
		.account-resume-gold,
		.account-resume-level {
			border-right: none;
		}
		
		.account-resume-gold:before {
			content: "";
			.addIcon("icon-coin-xs.png", 17px, 17px);
			background-size: 17px 17px;
			margin-right: 5px;
		}
		.account-resume-level:before {
			content: "";
			.addIcon("icon-star-xs.png", 17px, 17px);
			background-size: 17px 17px;
			margin-right: 5px;
		}
		.account-resume-played:before {
			content: "";
			.addIcon("VincularCuentaTrophy.png", 17px, 17px);
			background-size: 17px 17px;
			margin-right: 5px;
		}
		.account-resume-playing:before {
			content: "";
			.addIcon("VincularCuentaBall.png", 17px, 17px);
			background-size: 17px 17px;
			margin-right: 5px;
		}
	}
	button.cloud-button, 
	button.device-button {
		.btn-primary();
		.make-xs-column(12);
		.exo_bold(10pt, @white);
		border-radius: 2px;
		vertical-align: middle;
		i {
			margin-left: 10px;
			vertical-align: middle;
		}
	}
	button.cloud-button {
		margin-bottom: 20px;
	}
}