.global-user-profile #mainWrapper.wrapper-content-container {
	background-color: @white;
}

.profile-content {
	.make-row(0);
	background-color: @white;
	.clean-paddings();
	
	.profile-section {
		position: relative;
		.data-header {
			.make-row(0);
			.clean-paddings();
			padding: 15px 0px 10px 0px;
			text-align: center;
			
			.data-header-title {
				.exo_bold(12pt, @blueDark);
				@media (min-width: @screen-sm-min) {
					.exo_bold(20pt, @blueDark);
				}			
			}
			margin-bottom: 0px;
		}
		
		.data-content {
			.make-row(0);
			padding: 10px 15px 25px 15px;
			
			@media (min-width: @screen-sm-min) {
				min-height: 130px;
			}
			
			.wrapper-box {
				@media (min-width: @screen-sm-min) {
					border-radius: 5px;
					box-shadow: 1px 1px 7px rgba(0,0,0,0.5) inset;
					padding: 10px 20px;
					display: inline-block;
					margin: 0px auto;
				}
			}
		}
		
		.data-action {
			min-height: 80px;
			padding: 0px 0px 30px 0px;
			margin: 10px;
			border-bottom: 1px dotted @black;
			text-align: center;
			
			@media (min-width: @screen-sm-min) {
				border-bottom: 0px none @black;
				padding: 0px 0px 0px 0px;
				margin: 0px;
			}
			.action-button {
				.btn-default();
				.exo_bold(10pt, @white);
				padding: 12px 12px;
				width: 100%;
				max-width: 300px;
				margin: 0px auto;
			}
		}
	
		&.personal-data {
			.data-header{

				text-align: left;
				padding: 10px 12px;
				background-color: @blueDark;
				.data-header-title {
					color: @white;
				}
			}
			
			.data-content {
				.data-key {
					.opensans_bold(9pt, @blueDark);
					line-height: 25pt;
				}
				
				.data-value {
					.opensans_normal(9pt, @blueDark);
					line-height: 25pt;
					margin-left: 8px;
				}
			}
			@media (min-width: @screen-sm-min ) {
				border-bottom: 1px dotted @black;
				.data-action {
					position: absolute;
					top: 10px;
					right: 15px;
					.action-button {
						padding: 7px 20px;
						width: auto;
					}
				}
			}

		}

		
		&.pocket-data {
			.make-sm-column(6);
			padding: 0px;
			
			.data-content {
				text-align: center;
				.data-value-coins {
					.exo_light(25pt, @black);
				}
				.coin-icon {
					vertical-align: baseline;
					margin-left: 5px;
				}
				
				@media (min-width: @screen-sm-min) {
					.data-value-coins {
						.exo_light(35pt, @black);
					}
					.coin-icon {
						width: 32px;
						height: 32px;
					}
					.wrapper-box {
							padding: 22px 20px;
					}
					
				}
				
			}
			
			.data-action .action-button {
				.btn-primary();
				.exo_bold(10pt, @white);
				padding: 12px 12px;
			}
			@media (min-width: @screen-sm-min) {
				border-right: 1px dotted @black;
			}
		}
		
		&.ranking-data {
			.make-sm-column(6);
			padding: 0px;
			
			.data-content {
				padding-right: 50px;
				padding-left: 50px;
				
				@media (max-width: @screen-xs-min) {
					padding-right: 0px;
					padding-left: 0px;
				}
				
				.single-ranking-info {
					text-align: center;
					.make-xs-column(5.7);
					
					.ranking-badge {
						width: 32px;
						height: 32px;
					}
					.ranking-position {
						.exo_light(25pt, @blueDark);
						display: block;
						margin-bottom: -5px;
					}
					.ranking-score {
						.exo_bold(10pt, @orange);
						display: block;
					}
					
					&.ranking-by-money {
						//.make-xs-column-offset(@columns) correction
						margin-left: percentage((0.6 / @grid-columns));
					}
				}
			}
			
			.data-action {
				border-bottom: 0px none @black;
			}
		}

	}
	
}