#usersListRoot {
	.user-select(none);
	.user-row {
		.make-row(0px);
		.opensans_bold(10pt, @greyDark);
		.make-border(1px, none none solid none, @white);
		background-color: @tramaBlue;
		text-align: center;
		line-height: 45px;
		
		@grid-columns-gutter: 4px;
		
		.pos { .make-xs-column(1, @grid-columns-gutter); }
		.name {	.make-xs-column(4, @grid-columns-gutter); text-align: left;	}
		.name-view-contest-entry-mode {	.make-xs-column(9, @grid-columns-gutter); text-align: left;	}
		.remaining-time { .make-xs-column(3, @grid-columns-gutter); }
		.score {
			.make-xs-column(2, @grid-columns-gutter);
			.exo_bold(10pt, @blueDark);

			span {
				background-color: @white;
				padding: 12px 5px 12px 5px;
				border-radius: 5px;
			}
		}
		.prize { .make-xs-column(2, @grid-columns-gutter); }
	}

	.users-table-header {
		background-color: @blueDark;
		line-height: 40px;
		text-align: center;
		.opensans_bold(8pt, @white);

		@grid-table-header-gutter: 0px;
		.make-row(0px);
		.pos {.make-xs-column(1, @grid-table-header-gutter);}
		.name {.make-xs-column(4, @grid-table-header-gutter); text-align: left;}
		.name-view-contest-entry-mode {.make-xs-column(9, @grid-table-header-gutter); text-align: left;}
		.remaining-time {.make-xs-column(3, @grid-table-header-gutter);}
		.score {.make-xs-column(2, @grid-table-header-gutter);}
		.prize {.make-xs-column(2, @grid-table-header-gutter);}
	}
	
	.top-separator {
		.hidden-xs();
		.make-xs-column(12);
		height: 60px;
		background-color: @white;
	}

	// Desktop
	.users-header { .hidden-xs(); }
		
	.user-row {
		cursor: pointer;
	}
	.user-main {
		#gradient.vertical(@orangeHeaderLight, @orangeHeaderDark, 49%, 51%);
		color: @white;
	}
	@media (min-width: @screen-sm-min) {
		.make-border(1px, solid, @greyDark, @globalBoxesRadius);
		.make-percent-box(50%, 2%);
		height: 574px;		// Mismo tamaño que fantasy_team
		overflow: hidden;

		.users-header {
			padding: 10px 50px 0px 15px;
			height: 75px;				// +border del padre => 76
			h1 { .exo_light(14pt, @greyDark); margin: 0px;}
			h2 { .opensans_bold(9pt, @greyDark); margin: 6px 0px 0px 0px;}
		}

		.users-table-rows {
			height: 453px;
			overflow-y: scroll;
			overflow-x: hidden;
		}

		.users-table-header {
			// Para que la header quede centrada respecto a las rows, 
			// puesto que en desktop las rows tienen la scrollbar a la derecha
			padding-right: 15px;	
		}
	}
}