#loginRoot, #joinRoot, #rememberPasswordRoot {
	.make-row(0);
	@media (min-width: @screen-sm-min) {
			min-height: 750px;
	}	
}

.main-box {	
	.make-sm-column(8);
	.make-sm-column-push(2);
	.make-md-column(6);
	.make-md-column-push(3);
	.make-xs-column(12, 0px);

	@media (min-width: @screen-sm-min) {
		margin-top:50px;
		background-color: transparent;
	}
	.panel {	
		.slide-from-top-in();
		border-width: 0px;
		.panel-heading {	
			@media (max-width: @screen-xs-max) {
				border-top-right-radius: 0px;
				border-top-left-radius: 0px;
			}		
			background-color: @blueDark;
			.panel-title {
				.exo_light(20pt, @white);
			}
			button.close {
				.close();
				color: @white;
				opacity: 0.5;
				position: absolute;
				top: 15px;
				right: 15px;
				font-size: 20pt;
				&:hover {
					font-size: 20pt;
					color: @white;
					opacity: 1;
				}
			}
		}
		// estilo de textos
		.text-form {
			.opensans_bold(8pt, @greyDark);
			text-align: center;
		}
		.form-horizontal { 
			.make-row(0);
		}
		.panel-body {
			padding: 15px 15%;
			// Textos del form
			.form-description{
				.text-form();
				font-size: 9pt;
			}			
			label {
		 		.opensans_normal(8pt, @greyDark);
		 		.make-xs-column(3);
		 	}
			
			// Inputs
			.input-group {
			 	.make-xs-column(12, 0px);
			 	margin-top: 20px;
			 	input {
			 		line-height: 20px;
			 		&::-webkit-input-placeholder { .text-form(); }
					&::-moz-placeholder { .text-form(); } /* firefox 19+ */
					&::-ms-input-placeholder { .text-form(); } /* ie */
					&:-webkit-autofill { -webkit-box-shadow: 0px 0px 0px 1000px @white inset; }
			 	}
			}
			//Check y link para recordar password
			.remember-forgot-group {
				.make-xs-column(12, 0px);
				margin-top: 10px;
				.checkbox {
					.make-xs-column(6);
					padding-left: 20px;
				}
				.forget-pass {
					.make-xs-column(6, 0px);				
					text-align: right;
					padding-top: 7px;
					a {
						cursor: pointer;
						.opensans_normal(8pt, @blueLight);
					}				
				}
			}
			// botón entrar
			.new-row {
				.make-xs-column(12, 0);
				.enter-button {
   					.btn();
   					.btn-primary();
   					.btn-block();
   				}
				.enter-button-half {
   					.btn();
   					.btn-primary();
   					.make-xs-column(5.9);
   					.pull-pullright();

   				}
   				.cancel-button-half {
   					.btn();
   					.btn-cancel();
   					.make-xs-column(5.9);
   					.pull-left();
   				}
   				.separator-top {
   					.opensans_normal(8pt, @greyDark);
					border-top: 1px @black;
					padding-top:15px;
					text-align: left;
					a {
						cursor: pointer;
						.opensans_normal(8pt, @blueLight);
					}
   				}
   				.join-err-text {
   					.opensans_normal(10pt, @red);
   				}
   				 .login-err-text {
   					.opensans_normal(10pt, @red);
   					text-align: center;
   				}

			}
		}
	}
}

//animacion slide arriba
.slide-from-top-in() {
	0%   { top: 300px; opacity: 0;}
    100% { top: 0px; opacity: 1; }
}

@-webkit-keyframes 	window-come-in{ .slide-from-top-in() };
@-moz-keyframes 	window-come-in{ .slide-from-top-in() };
@-ms-keyframes 		window-come-in{ .slide-from-top-in() };
@-o-keyframes 		window-come-in{ .slide-from-top-in() };
@keyframes 			window-come-in{ .slide-from-top-in() };

.window-slide-in {
	position: relative;
	-webkit-animation: window-come-in  0.4s;
  	-moz-animation: window-come-in  0.4s;
  	-ms-keyframes: window-come-in 0.4s;
	-o-keyframes: window-come-in 0.4s;
	animation: window-come-in 0.4s;
}

// aparece creciendo a la vez que con opacidad
.unvanish-keyframes() {
	0%   { left: 100px; opacity: 0; }
    100% { left: 0px;   opacity: 1; }
}

@-webkit-keyframes 	errDetectionFrames{ .unvanish-keyframes() };
@-moz-keyframes 	errDetectionFrames{ .unvanish-keyframes() };
@-ms-keyframes 		errDetectionFrames{ .unvanish-keyframes() };
@-o-keyframes 		errDetectionFrames{ .unvanish-keyframes() };
@keyframes 			errDetectionFrames{ .unvanish-keyframes() };

.errorDetected {
	position: relative;
	-webkit-animation: errDetectionFrames  0.5s;
  	-moz-animation: errDetectionFrames  0.5s;
  	-ms-keyframes: errDetectionFrames 0.5s;
	-o-keyframes: errDetectionFrames 0.5s;
	animation: errDetectionFrames  0.5s;
}
