#loginRoot, #joinRoot, #rememberPasswordRoot {
	.make-row(0);
	&.air {
		@media (min-width: @screen-sm-min) {
				min-height: 750px;
		}
	}
}

// Estilos de los textos de estos formularios.
.small-text {
	.opensans_normal(8pt, @greyDark);
	border-top: 1px @black;
	text-align: left;
	span.link-aspect, a {
		cursor: pointer;
		.opensans_normal(8pt, @blueLight);
	}
}
.small-text-centered {
	.small-text();
	text-align: center;
}
.error-text {
	.opensans_normal(9pt, @red);
	text-align: left;
	margin-top: 5px;
}
.join-err-text {
	.error-text()
}
.login-err-text {
	.error-text()   					
}
.pass-err-text {
	.error-text();
}
.small-link-righted {
	.opensans_normal(8pt, @blueLight); 
	margin-bottom: 10px;
	text-align: right;
	cursor: pointer;
}
.email-detail {
	.exo_bold(10pt, @blueLight);
}

.main-box {
	.make-sm-column(8);
	.make-sm-column-push(2);
	.make-md-column(6);
	.make-md-column-push(3);
	.make-xs-column(12, 0px);
	
	&.air {
		@media (min-width: @screen-sm-min) {
			margin-top:100px;
			background-color: transparent;
		}
	}
}
// estilo de textos
.text-form {
	.opensans_bold(8pt, @greyDark);
	text-align: center;
}

.panel {
	.fadein-animation(0.5s);
	border-width: 0px;
	margin-bottom: 0;
	.panel-heading {	
		@media (max-width: @screen-xs-max) {
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
		}		
		background-color: @blueDark;
		.panel-title {
			.exo_light(20pt, @white);
		}
		button.close {
			.close();
			color: @white;
			opacity: 0.5;
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 20pt;
			.user-select(none);
			&:hover {
				font-size: 20pt;
				color: @white;
				opacity: 1;
			}
		}
	}

	.form-horizontal { 
		.make-row(0);
	}
	.panel-body {
		padding: 15px 12%;
		
		@media (max-width: @screen-xs-max) {
			padding: 15px 5%;
		}
		
		// Textos del form
		.form-description{
			.text-form();
			font-size: 8pt;
			padding: 0;
			margin-bottom: 10px;
		}
		label {
	 		.opensans_normal(8pt, @greyDark);
	 		.make-xs-column(3);
	 	}
		p {
	 		.opensans_normal(12pt, @greyUltraDark);
			text-align: center;
		}
		.user-form-field {
			.make-xs-column(12, 0px);
		 	margin-bottom: 20px;
		 	text-align: center;
		}
		.user-form-field-righted {
			.user-form-field();
			text-align: right;
		}
		// Inputs
		.input-group {
		 	input {
		 		line-height: 20px;
		 		&::-webkit-input-placeholder { .text-form(); }
				&::-moz-placeholder { .text-form(); } /* firefox 19+ */
				&::-ms-input-placeholder { .text-form(); } /* ie */
				&:-webkit-autofill { -webkit-box-shadow: 0px 0px 0px 1000px @white inset; }
		 	}
		}
		.no-margin {
			margin: 0;
		}
		//Check y link para recordar password
		.remember-forgot-group {
			.make-xs-column(12, 0px);
			.checkbox {
				.make-xs-column(6);
				padding-left: 20px;
			}
			.forget-pass {
				.make-xs-column(12, 0px);
				text-align: right;
				margin-top: -20px;
				margin-bottom: 20px;
				a {
					cursor: pointer;
					.opensans_normal(8pt, @blueLight);
				}				
			}
		}
		// botón entrar
		.top-separation-20 { margin-top: 20px; }
		.bottom-separation-10 { margin-bottom: 10px; }
		.new-row {
			.make-xs-column(12, 0);
			.buttons-wrapper { height: 36px; text-align: center; }
			.fb-button-wrapper { height: 15px; text-align: center; margin-top: 20px; }
			.enter-button {
					.btn-block();
					.btn-primary();
				}
			.enter-button-half {
					.btn-primary();
					.make-xs-column(5.9);
					.pull-right();

				}
				.cancel-button-half {
					.btn-cancel();
					.make-xs-column(5.9);
					.pull-left();
				}
		}
	}
}



#modalRoot .main-box {
	.main-box();
	.make-sm-column(12);
	.make-sm-column-push(0);
	.make-md-column(12);
	.make-md-column-push(0);
	.make-xs-column(12, 0px);
}

.autocentered-buttons-wrapper {
	display:block;
	text-align: center;
	.button-box{
		display:inline-block;
		height: 30px;
		min-width: 33%;
		padding-left: 5px;
		padding-right: 5px;
	}
	.button-properties {
		margin: 0 5px 0 5px;
		.make-xs-column(12);
	}
	.ok-button {
		.btn-primary();
		.button-properties();
	}
	.cancel-button {
		.btn-cancel();
		.button-properties();
	}
}

.input-validation(@glyphCode, @size, @color) {
	.create-glyph(@glyphCode, @size, @color);
	.fadein-animation(0.5s);
	position: relative;
	//top: 5px;
	//margin-left: 5px;
	//opacity: 1px;
}
#signupbox .form-horizontal .user-form-field .form-group.valid:after,
.valid:after {
	.input-validation("\e013", 12pt, @green);
}

#signupbox .form-horizontal .user-form-field .form-group.not-valid:after, 
.not-valid:after {
	.input-validation("\e014", 12pt, @red);
}

.error-visible {
	display: none;
}

.errorDetected {
	.appear-from-right-animation();
}

.invisible {
	display: none;
}
//Ventana Alerta
#alertRoot {
	.panel {
		border: 1px solid white;
		background-color: @greyLight;
		border-radius: 10px;
	}
	.close {
		position: absolute;
		right: 15px;
		top: 15px;
		> * {
			.user-select(none);
		}
	}
	.content-wrapper {
		text-align: center;
	}
	.main-image {
		display: block;
		margin: 0 auto;
	}
	&.noGold {
		.panel {
			background-image: url("@{images}/BgModalesEspeciales.jpg");
			background-size: cover;
			background-repeat: no-repeat;
		}
		
		.alert-content-title {
			.exo_bold(18pt, @blueDark);
			
			@media (max-width: @screen-xs-max) {
				.exo_bold(13pt, @blueDark);
			}
		}
		.gold-needed-icon-wrapper {
			display: block;
			position: relative;
			.gold-image {
				display: block;
				position: relative;
				margin: 0px auto -80px auto;
			}
			.not-enough-resources-count {
				.exo_bold(16pt, @blueDark);
				display: block;
				margin: 0px auto;
				width: 70px;
				height: 70px;
				position: relative;
				border-radius: 100%;
				background-color: @greyLight;
				border: 2px solid @white;
				box-shadow: 0 0 5px 3px fade(@greyUltraDark, 50%);
				padding-top: 18px;
				text-align: center;
				padding-left: 2px;
			}
		}
		.gold-icon-tiny {
			.addIcon("icon-coin-lg.png", 27px, 27px);
			vertical-align: text-bottom;
			margin-left: 5px;
		}
		.energy-icon-tiny {
			.addIcon("icon-lightning-lg.png", 27px, 27px);
			vertical-align: text-bottom;
			margin-left: 5px;
		}
		.alert-content-subtitle {
			vertical-align: middle;
			.exo_light(14pt, @blueDark);
			
			@media (max-width: @screen-xs-max) {
				.exo_light(12pt, @blueDark);
			}
			margin-bottom: 20px;
		}
	}
	
	&.cannotEnter {
		.panel .panel-body {
			padding: 15px 20px;
		}
		.alert-content-title {
			.exo_light(24pt, @blueDark);
		}
		
		.alert-content-subtitle {
			vertical-align: middle;
			.opensans_normal(14pt, @greyDark);
			margin-bottom: 20px;
		}
	}
	
	.content-text {
		margin-top: 20px;
		.opensans_normal(9pt, @greyDark);
	}
	.energy-bar-wrapper {
		margin: 0 auto;
		max-width: 85px;
		border: 3px solid @greyBlue;
		border-radius: 10px;
		background-color: @blueUltraDark;
		padding: 4px 2px 0px 2px;
		.progress {
			position: relative;
			display: inline-block;
			border-radius: 0px;
			margin-bottom: 0;
			background-image: url("@{images}/progress-bar-back-big.png");		
			background-color: transparent;
			max-width: 70px;
			width: 100%;
			.progress-bar {
				background-image: url("@{images}/progress-bar-front-big.png");
				background-color: transparent;
			}
		}
	}
}

//Tutoriales de bienvenida
#welcomeRoot {
	.make-row(0);

	.panel-title {
		.exo_light(20pt, @white);
		@media (min-width: @screen-sm-min) {
			text-align: center;
		}
	}
	//.modal-content {background-color: @greyLight;}
	.panel {
		.panel-body {
			padding: 15px;
			.panel-description {
				.make-row(0);
			}
		}
	}

	.tut-title {
		.make-xs-column(12, 30px);
		.opensans_normal(10pt, @blueDark);
		@media (min-width: @screen-sm-min) {
			.opensans_normal(12pt, @blueDark);
		}
		@media (min-width: @screen-md-min) {
			.opensans_normal(14pt, @blueDark);
		}
		margin: 10px 0;
		text-align: center;		
		.subtitle{
			.opensans_normal(8pt, @greyDark);
			@media (min-width: @screen-sm-min) {
				.opensans_normal(9pt, @blueDark);
			}
			@media (min-width: @screen-md-min) {
				.opensans_normal(10pt, @blueDark);
			}
		}
	}

	.tut-image-common {
		.make-xs-column(12);
		.img-responsive();
		margin: 30px 0;
		@media(min-width: @screen-sm-min){
			min-height: 250px;
			.clean-paddings();
			//min-width: 600px;
		}
	}
	.tut-image-xs {
		.tut-image-common();
		.visible-xs();
	}
	.tut-image {
		.tut-image-common();
		.hidden-xs();
	}
}

#modalRoot {
	.modal-90percent {		
		width: auto;
		@media (min-width: @screen-sm-min) {
			width: 90%;
			margin: 30px auto;
			max-width: 900px;
		}
	}
}
#welcomeRoot {
		display: none;
}
.modal-open {
	#modalRoot {
		#welcomeRoot {
			display: block;
		}
	}
}

#alertRoot.facebook-rerequest-modal {
	.panel {
		//background-color: @greyUltraLight;
		border: 3px solid @white;
	}
	
	h1 {
		.exo_light(21pt, @blueDark);
	}
	
	p {
		.opensans_normal(12pt, @greyUltraDark);
		padding: 10px 0 20px 0;
	}
	.autocentered-buttons-wrapper .button-box{
		width: 50%;
		
		.cancel-button,
		.ok-button {
			text-transform: uppercase;
			font-size: 12pt;
		}
	}
}

#loginBox, #joinRoot {
	text-align: left;
	#signupbox {
		margin-top: 40px;
	}
	.form-description {
		text-align: left;
		.opensans_normal(11pt, @blueDark);
	}
	.form-group {
		text-align: left;
		margin-left: 0px;
		margin-right: 0px;
		.make-row(0);
		
		input.form-control {
			.make-xs-column(11);
			float: none;
			display: inline-block;
		}
		
		&.not-valid:after,
		&.valid:after,
		&:after {
			.make-xs-column(1);
			float: none;
			display: inline-block;
			padding-left: 8px;
		}
	}
	#passAndRepassFieldsWrapper,
	#mailAndNameFieldsWrapper,
	#mailAndPassFieldsWrapper {
		margin-bottom: 0;
	}
	.fb-button-wrapper {
		.make-xs-column(12, 0);
		text-align: left;
		min-height: 60px;
		float: none;
	}
	.user-form-field.facebook-form-wrapper:after {
		content: "";
		width: 40px;
		border-bottom: 2px solid @greyDark;
		display: block;
		clear: both;
		margin-top: 20px;
		margin-left: 2px;
	}
	#nickNameInputGroup {
		margin-bottom: 10px;
	}
	.acceptTermsAndConditionsWrapper {
		.make-row(0);
		padding-bottom: 10px;
		#acceptTermsAndConditions {
			display: inline-block;
			.make-xs-column(1);  
			text-align: left;
			.opensans_normal(12pt, @greyDark);
			margin-top: 0;
		}
		.termsAndConditionsText {
			.make-xs-column(11);
			text-align: left;
			.opensans_normal(9pt, @greyDark);
			padding-left: 0;
		}
	}
}