view-contest {
  .flex-container-col();
}
.view-contest-section {
  .flex-elem-fluid();
  .flex-container-col();
  lineup-field-selector {
    .flex-elem-fluid();
  }
  .make-change-btn {
    .default-button();
    .flex-elem-fixed(40px);
    .material-icons {
      vertical-align: middle;
    }
  }
  .salary-info-wrapper {
    .dark-green-bluish-gradient();
    .mainfont_light(10pt, @white);
    .flex-container-row();
    .flex-elem-fixed(36px);
    padding: 9px;

    text-align: center;

    .current-salary {
      .flex-elem-fluid();
    }
    .limit-salary {
      .flex-elem-fluid();
    }
    .current-salary-label,
    .limit-salary-label {
      color: @grey-bluish;
    }
    .current-salary-amount,
    .limit-salary-amount {
      color: @orange;
    }
  }
}


/*
#viewContestRoot {
	@media (min-width: @screen-sm-min) {
		//padding-top: 20px;	// Quitar cuando haya mas componentes, usar un espaciador vertical
		//padding-bottom: 20px;
		padding: 10px;
		background-color: @white;
	}
	// Tabs menu
	.view-contest-tabs {
		.hidden-md();
		.hidden-lg();
		.tabs-navigation(3);
	}
	
	@media (max-width: @screen-xs-max) {
		&.making-change-state {
			#userFantasyTeam .fantasy-team-header {
				padding-top: 10px;
				height: 50px;
				background-image: none;
				
				.change-ordinal, 
				.total-salary-text, 
				.user-picture {
					display: none;
				}
				.total-salary-box {
					width: 96%;
					min-height: 0px;
					margin: 0 auto;
					float: none;
					background-color: @orange;
					color: @white;
					font-weight: normal;
					font-size: 18pt;
					line-height: 36px;
				}
			}
			.changes-box, .total-remaining-matches-time { 
				display: none;
			}
		}
	}
}
 // barra supeior que muestra el id del partido
.contest-id-bar{
	.make-row(0);
	.contest-id{
		.make-xs-column(12);
		.opensans_bold(10pt, @blueDark);
		text-align: right;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
.clear-fix-bottom {
	clear: both;
	width: 100%;
	height: 15px;
}
.soccer-player-changes-list {
	.make-sm-column(6);
	border: 1px solid @greyUltraDark;
	border-radius: 10px;
	padding: 0px;
	overflow: hidden;
	min-height: 533px;
	.soccer-players-list {
		max-height: 401px;
	}
}
#alertRoot.change-player-modal {
	.modal-dialog {
		margin-top: 20vh;
		margin-bottom: 0;
		.modal-content {
			box-shadow: 0px;
			border: 0px solid #FFFFFF;
			background-color: transparent;
			
			.panel p {
				.opensans_normal(14pt, @blueDark);
			}
		}
	}
	.ok-button .coin:after {
		content: '';
		margin-left: 5px;
		.addIcon("icon-coin-xs.png", 17px, 17px);
		background-repeat: no-repeat;
	}
}

@media (max-width: @screen-xs-max) {
	
	.btn-cancel-player-selection {
		.btn-cancel();
		width: 96%;
		text-transform: uppercase;
		margin: 5px auto;
		display: block;
	}
	
	.soccer-player-changes-list {
		clear: both;
		border: 0px solid @greyUltraDark;
		min-height: 0;
		border-radius: 0px;
		.soccer-players-list {
			max-height: none;
		}
	}
}
*/