view-contest {
  .flex-container-col();
  overflow: hidden;
}
.soccer-player-list-section,
.view-comparative-section,
.view-contest-section {
  .flex-elem-fluid();
  .flex-container-col();
  lineup-field-selector {
    .flex-elem-fluid();
  }
  .make-change-btn {
    .default-button();
    .flex-elem-fixed(40px);
    .material-icons {
      vertical-align: middle;
    }
  }
  .salary-info-wrapper {
    .dark-green-bluish-gradient();
    .mainfont_light(10pt, @white);
    .flex-container-row();
    .flex-elem-fixed(36px);
    padding: 9px;

    text-align: center;

    .current-salary {
      .flex-elem-fluid();
    }
    .limit-salary {
      .flex-elem-fluid();
    }
    .current-salary-label,
    .limit-salary-label {
      color: @grey-bluish;
    }
    .current-salary-amount,
    .limit-salary-amount {
      color: @orange;
    }
  }
}

.rivals-list-section {
  .flex-elem-fluid();
  .flex-container-col();
  overflow: hidden;
}
.rivals-list-column-position,
.rivals-list-column-name,
.rivals-list-column-timeleft,
.rivals-list-column-points {
  .mainfont_light(12pt, @grey-bluish, left, uppercase);
  margin: 8px;
}
.rivals-list-table-header {
  .flex-elem-fixed(40px);
  .flex-container-row();
  background-color: @grey-dark;
  padding: 0 8px;
  overflow-y: scroll;
  border-bottom: 1px solid @grey-translucid;
  .rivals-list-column-position,
  .rivals-list-column-name,
  .rivals-list-column-timeleft,
  .rivals-list-column-points {
    color: @white;
  }
}
.rivals-list-table-body {
  .flex-elem-fluid();
  .flex-container-col();
  overflow-y: scroll;
}
.rivals-list-table-row {
  .flex-elem-fixed(auto);
  .flex-container-row();
  padding: 0 8px;
  &.current-user-row {
    .rivals-list-column-position,
    .rivals-list-column-name,
    .rivals-list-column-timeleft,
    .rivals-list-column-points {
      color: @blueLight;
    }
  }
}
.rivals-list-column-position {
  .flex-elem-fixed(45px);
}
.rivals-list-column-name {
  .flex-elem-fluid();
  white-space: nowrap;
  overflow: hidden;
}
.rivals-list-column-timeleft {
  .flex-elem-fixed(40px);
}
.rivals-list-column-points {
  .flex-elem-fixed(55px);
}


.change-soccer-player-confirm-modal .modal-window-content {
  padding: 16px 12px 8px 12px;
  .flex-container-col();
  .flex-elem-fluid();
}
.change-soccer-player-confirm-content {
  .flex-container-col();
  .flex-elem-fluid();
  color: @grey-bluish;
  text-align: center;
  padding-bottom: 30px;
}
.change-soccer-player-confirm-question {
  .flex-elem-fixed(auto);
  .mainfont_light(14pt, @grey-light, center);
  padding: 5px 0 10px 0;
}
.change-soccer-player-changing-players {
  .flex-container-row();
  .flex-elem-fluid();
  padding-left: 35px;
}
.change-soccer-player-changing-labels {
  .flex-container-col();
  .flex-elem-fixed(auto);
  padding-right: 5px;
  border-right: 1px solid @grey-translucid;
  
  .change-soccer-player {
    &.player-old {
      padding-bottom: 24px;
      text-align: right;
    }
    &.player-new {
      .mainfont_light(12pt, @white, center, uppercase);
      text-align: right;
    }
  }
}
.change-soccer-player-changing-data {
  .flex-container-col();
  .flex-elem-fluid();
}
.change-soccer-player {
  &.player-old {
    .mainfont_light(10pt, @grey-translucid, center, uppercase);
  }
  &.player-new {
    .mainfont_bold(12pt, @white, center, uppercase);
  }
}
.change-soccer-player-actions-wrapper {
  .flex-elem-fixed(30px);
  .flex-container-row();
  justify-content: flex-end;
  button {
    .flat-button();
    padding: 5px 5px;
    
    &.change-soccer-player-cancel {
      padding-right: 20px;
    }
  }
}

/*
.change-soccer-player-confirm {
  .flat-button();
}*/

/*
#viewContestRoot {
	@media (min-width: @screen-sm-min) {
		//padding-top: 20px;	// Quitar cuando haya mas componentes, usar un espaciador vertical
		//padding-bottom: 20px;
		padding: 10px;
		background-color: @white;
	}
	// Tabs menu
	.view-contest-tabs {
		.hidden-md();
		.hidden-lg();
		.tabs-navigation(3);
	}
	
	@media (max-width: @screen-xs-max) {
		&.making-change-state {
			#userFantasyTeam .fantasy-team-header {
				padding-top: 10px;
				height: 50px;
				background-image: none;
				
				.change-ordinal, 
				.total-salary-text, 
				.user-picture {
					display: none;
				}
				.total-salary-box {
					width: 96%;
					min-height: 0px;
					margin: 0 auto;
					float: none;
					background-color: @orange;
					color: @white;
					font-weight: normal;
					font-size: 18pt;
					line-height: 36px;
				}
			}
			.changes-box, .total-remaining-matches-time { 
				display: none;
			}
		}
	}
}
 // barra supeior que muestra el id del partido
.contest-id-bar{
	.make-row(0);
	.contest-id{
		.make-xs-column(12);
		.opensans_bold(10pt, @blueDark);
		text-align: right;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
.clear-fix-bottom {
	clear: both;
	width: 100%;
	height: 15px;
}
.soccer-player-changes-list {
	.make-sm-column(6);
	border: 1px solid @greyUltraDark;
	border-radius: 10px;
	padding: 0px;
	overflow: hidden;
	min-height: 533px;
	.soccer-players-list {
		max-height: 401px;
	}
}
#alertRoot.change-player-modal {
	.modal-dialog {
		margin-top: 20vh;
		margin-bottom: 0;
		.modal-content {
			box-shadow: 0px;
			border: 0px solid #FFFFFF;
			background-color: transparent;
			
			.panel p {
				.opensans_normal(14pt, @blueDark);
			}
		}
	}
	.ok-button .coin:after {
		content: '';
		margin-left: 5px;
		.addIcon("icon-coin-xs.png", 17px, 17px);
		background-repeat: no-repeat;
	}
}

@media (max-width: @screen-xs-max) {
	
	.btn-cancel-player-selection {
		.btn-cancel();
		width: 96%;
		text-transform: uppercase;
		margin: 5px auto;
		display: block;
	}
	
	.soccer-player-changes-list {
		clear: both;
		border: 0px solid @greyUltraDark;
		min-height: 0;
		border-radius: 0px;
		.soccer-players-list {
			max-height: none;
		}
	}
}
*/