// Barra separadora del header
.separator-bar {
	#gradient.vertical(@blueGradientLight, @blueGradientDark, 49%, 51%);
	height: 40px;
	.hidden-xs();
}
// Barra que muestra el mensaje de enhorabuena al crear el concurso
.info-complete-bar {
	.make-row(0);
	background-color: @white;
	text-align: center;
	padding: 20px 5px 10px;
	@media (min-width: @screen-sm-min) {
		background-color: @tramaBlue;
		padding: 30px 5px 15px;
	}
	p {
		.exo_light(20pt, @blueMed);
	}
	p + p {
		.opensans_normal(10pt, @greyDark);
	}
}
// Botones de cancelar concurso y volver
.view-contest-entry-actions-wrapper {
	clear: both;
	.make-row(15);
	.button-wrapper {
		padding: 40px 0 20px;
		@media (max-width: @screen-xs-max) {
			padding: 10px;
		}
		text-align: right;
		.make-xs-column(12);
		.make-sm-column(6);
	}
	.button-wrapper + .button-wrapper {
		text-align: left;
	}

	.btn-cancel-contest {
		.btn();
		@media (max-width: @screen-xs-max) {
			.btn-block();
		}
		.btn-cancel();
		width: 70%;
	}
	.btn-back-contest {
		.btn();
		.btn-primary();
		@media (max-width: @screen-xs-max) {
			.btn-block();
		}
		width: 70%;
	}
}
#viewContestEntry {
	@media (min-width: @screen-sm-min) {
		padding-top: 20px;	// Quitar cuando haya mas componentes, usar un espaciador vertical
		padding-bottom: 20px;
		background-color: @white;
		//.border-bottom-radius(@globalBoxesRadius);
	}
	// Tabs menu
	.view-contest-entry-tabs {
		.hidden-md();
		.hidden-lg();
		.tabs-navigation(2);
	}
}