// Barra separadora del header
.separator-bar {
	#gradient.vertical(@blueGradientLight, @blueGradientDark, 49%, 51%);
	height: 40px;
	.hidden-xs();
}
// Barra que muestra el mensaje de enhorabuena al crear el concurso
.info-complete-bar {
	.make-row(0);
	background-color: @white;
	text-align: center;
	padding: 20px 5px 10px;
	@media (min-width: @screen-sm-min) {
		background-color: @tramaBlue;
		padding: 30px 5px 15px;
	}
	p {
		.exo_light(20pt, @blueMed);
	}
	p + p {
		.opensans_normal(10pt, @greyDark);
	}
}
// Botones de cancelar concurso y volver
.view-contest-entry-actions-wrapper {
	.make-row(0);
	clear: both;	
	padding: 0 15px;

	.button-wrapper {
		.make-xs-column(6);
		padding: 0 10px;
		height: 32px;
		margin-top: 10px;		
	}

	.btn-cancel-contest {
		.btn();
		.btn-block();
		.btn-cancel();
	}
	.btn-back-contest {
		.btn();
		.btn-block();
		.btn-primary();
	}
}
#viewContestEntry {
	@media (min-width: @screen-sm-min) {
		padding-top: 20px;	// Quitar cuando haya mas componentes, usar un espaciador vertical
		padding-bottom: 20px;
		background-color: @white;
		//.border-bottom-radius(@globalBoxesRadius);
	}
	// Tabs menu
	.view-contest-entry-tabs {
		.hidden-md();
		.hidden-lg();
		.tabs-navigation(2);
		height: 54px;
	}
}