view-contest-entry {
  .flex-container-col();
  lineup-field-selector {
    .flex-elem-fluid();
  }
  .contest-entry-section {
    .flex-container-col();
    .flex-elem-fluid();
  }
  .contest-info-section {
    .flex-container-col();
    .flex-elem-fluid();
  }

  .confirm-btn {
    .default-button();
    .flex-elem-fixed(40px);
  }

  .salary-info-wrapper {
    .dark-green-bluish-gradient();
    .mainfont_light(10pt, @white);
    .flex-container-row();
    .flex-elem-fixed(36px);
    padding: 9px;

    text-align: center;

    .current-salary {
      .flex-elem-fluid();
    }
    .limit-salary {
      .flex-elem-fluid();
    }
    .current-salary-label,
    .limit-salary-label {
      color: @grey-bluish;
    }
    .current-salary-amount,
    .limit-salary-amount {
      color: @orange;
    }
  }
  
  .edit-contest-entry-tip {
    .mainfont_light(12pt, @white);
    .flex-elem-fixed(auto);
    text-align: center;
    padding: 8px 16px;
    border-bottom: 1px solid @grey-translucid;
  }
  
}
/*.global-history-contest #mainWrapper.wrapper-content-container,
.global-view-contest-entry #mainWrapper.wrapper-content-container,
.global-live-contest #mainWrapper.wrapper-content-container {
	background-color: @white;
	max-width: 970px;
}

// Barra separadora del header
.separator-bar {
	#gradient.vertical(@blueGradientLight, @blueGradientDark, 49%, 51%);
	height: 40px;
	.hidden-xs();
}
// Barra que muestra el mensaje de enhorabuena al crear el concurso
.info-complete-bar {
	.make-row(0);
	background-color: @white;
	text-align: center;
	padding: 20px 5px 10px;
	@media (min-width: @screen-sm-min) {
		background-color: @white;
		padding: 30px 5px 15px;
		.make-border(1px, solid none solid none, @greyMed);
	}
	p {
		.exo_light(20pt, @blueMed);
		margin-bottom: 5px;
	}
	p.complementary-info {
		.exo_light(12pt, @greyDark);
		text-transform: uppercase;
	}
	.invite-friends {
		margin: 0;
		text-align: center;
		cursor: pointer;
		.btn-default();
		line-height: 25px;
		margin-bottom: 8px;
	}
}

// Botones de cancelar concurso y volver
.view-contest-entry-actions-wrapper {
	.make-row(0);
	clear: both;	
	padding: 0 15px;	
	padding-top: 15px;
	@media (max-width: @screen-xs-max) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.button-box {
		display:inline-block;
		height: 30px;
		min-width: 33%;
		padding-left: 5px;
		padding-right: 5px;

		@media (max-width: @screen-xs-max) {
			display: block;
			margin: 10px 0 ;
		}
		button {			
			.btn-block();
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

#viewContestEntry {
	@media (min-width: @screen-sm-min) {
		//padding-top: 20px;	// Quitar cuando haya mas componentes, usar un espaciador vertical
		//padding-bottom: 20px;
		padding: 10px;
		background-color: @white;
		//.border-bottom-radius(@globalBoxesRadius);
	}
	// Tabs menu
	.view-contest-entry-tabs {
		.hidden-md();
		.hidden-lg();
		.tabs-navigation(2);
	}
}

#welcomeRoot.invite-friends-popup .panel .panel-body {
	padding: 0;
	.share-methods-modal-content {
		display: block;
		.opensans_normal(10pt, @greyDark);
		.share-method {
			background-color: @tramaMed;
			border-top: 1px solid @white;
			padding: 20px 20px 0 20px;
			social-share[inline-xs] {
				@media (max-width: @screen-xs-max) {
					margin: 0 -20px;
				}
			}
		}
		p {
			.opensans_normal(10pt, @greyDark);
		}
		p.important {
			.opensans_bold(12pt, @blueDark);
		}
		.share-url {
			background-color: @blueMenu;
			border-radius: 5px;
			.opensans_bold(9pt, @blueDark);
			.make-xs-column(12);
			padding: 10px 10px;
			margin: 10px 0 20px 0;
			text-align: center;
		}
	}
}

#shareMethodsContent.share-methods-modal-content { display: none; }
*/