@white: #FFFFFF;

@black: #000000;

@red: #FF0000;

@red-dark: #8d0000;

@green-dark: #799b19;

@blue: #0d75a6;
@blueLight: #59ADD5;

@orange: #FA9C19;

/* **************** *
 *    NEW COLORS    *
 * **************** */
@black-translucid: rgba(0, 0, 0, 0.7);
@black-translucid-40: rgba(0, 0, 0, 0.4);
@soft-black:  #181818;
@grey-dark:   #242529;
@grey-bluish: #757993;
@grey-light:  #CACDCF;
@grey-translucid: rgba(210, 210, 210, 0.3);

@coin-color: rgb(248,193,50);

//gradient
@blue-gradient-light: @blue;
@blue-gradient-dark: #0c4c6a;

@grey-gradient-light: #686868;
@grey-gradient-dark: #2f2e2e;

/* **************** *
 *    OLD COLORS    *
 * **************** */
@yellow: #ffff00;
@yellowLight: #fdfbe6;

@blueHyperDark: #08161b;
@blueUltraDark: #0a2938;
@blueDark: #214A5F;
@blueMed: #0D75A6;
@blueLight: #59ADD5;
@blueUltraLight:#f3f3f3;
@blueMenu: #AFD3E4;
@blueFB: #4a65a0;
@blueTwitter: #55acee;
@blueGradientLight: #1a3949;
@blueGradientDark: #0f2630;
@blueVirtual: #3d5c6c;

@orange50: #F4C788;
@orangeHeaderLight: #fba61a;
@orangeHeaderDark: #ec990e;
@orangeGold: #f7ad03;

@greyUltraDark: #434343;
@greyDark: #777777;
@greyMedDark: #818181;
@greyMed: #AfAfAf;
@greyLight: #DCDCDC;
@greyLighter: #e7e7e7;
@greyUltraLight: #F8F8F8;
@greyHeaderLight: #606060;
@greyHeaderDark: #555555;

@greyBlue: #6a8597;
@blueManager: #55c0ff;

@green: #A1C931;
@greenLight: #8eb819;


@redDark: #8d0000;
@redCuatro: #fe4110;

@tramaBlue: #ECF0F1;
@tramaRed: #f8f0f0;

@tramaPor: #FFF6E5;
@tramaDef: #E5F3E7;
@tramaMed: #E8EFF6;
@tramaDel: #FCEAEA;