.default-button {
  #gradient.vertical(@blue-gradient-light, @blue-gradient-dark);
  .mainfont_bold(10pt, @white);
  padding: 10px;
  border: none;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  .elevation(2);
  border: 0;
  outline-offset: 0px;
  outline: none;
  
  &:hover, &:active, &:focus {
    border: 0;
    outline-offset: 0px;
    outline: none;
  }
}