.default-button {
  #gradient.vertical(@blue-gradient-light, @blue-gradient-dark);
  .mainfont_light(10pt, @white, center, uppercase);
  .elevation(2);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  border: 0;
  outline-offset: 0px;
  outline: none;
  
  &:hover, &:active, &:focus {
    border: 0;
    outline-offset: 0px;
    outline: none;
  }
  
  &:disabled {
    color: @grey-bluish;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.flat-button(@color: @blue) {
  .mainfont_bold(11pt, @color, center, uppercase);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
  outline-offset: 0px;
  outline: none;
  
  &:hover, &:active, &:focus {
    border: none;
    outline-offset: 0px;
    outline: none;
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.fit-icon-size {
  width: 17px;
  height: 17px;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  top: 1px;
  /*@media (min-width: @screen-sm-min) {
    float: right;
    width: 27px;
    height: 27px;
    margin-left: 0px;
    top: 0px;
  }*/
}
.entry-fee-energy::after {
  content: " ";
  background-image: url("@{images}/icon-lightning-xs.png");
  /*@media (min-width: @screen-sm-min) {
    background-image: url("@{images}/icon-lightning-lg.png");
  }*/
  .fit-icon-size();
  top: 2px;
}   
.entry-fee-coin::after, .prize-coin::after {
  content: " ";
  background-image: url("@{images}/icon-coin-xs.png");
  /*@media (min-width: @screen-sm-min) {
    background-image: url("@{images}/icon-coin-lg.png");
  }*/
  .fit-icon-size();
}
.prize-managerpoints::after {
  content: " ";
  background-image: url("@{images}/icon-star-xs.png");
  /*@media (min-width: @screen-sm-min) {
    background-image: url("@{images}/icon-star-lg.png");
  }*/
  .fit-icon-size();
}

// TOP USER-BAR
.user-bar.three-columns {
  .left-column {
    .flex-elem-fixed(auto);
  }
  .right-column {
    .flex-elem-fixed(75px);
  }
}
.lobby-topbar-left {
  .mainfont_light(12pt, @blueLight, center, uppercase);
  border-right: 1px solid @grey-translucid;
  cursor:pointer;
  padding: 0 10px;
}
.lobby-topbar-center {
  .mainfont_light(12pt, @orange, center, uppercase);
  cursor:pointer;
  &.nickname {
    color: @blueLight;
    cursor: default;
  }
}
.lobby-topbar-right {
  .mainfont_light(12pt, @white, center, uppercase);
  border-left: 1px solid @grey-translucid;
  cursor:pointer;
  position: relative;
  .tab-bar-item-badge {
    left: 0;
    top: 3px;
    min-width: 22px;
      min-height: 20px;
      line-height: 12px;
      padding: 5px;
      font-size: 9pt;
      text-shadow: 0 0 0;
  }
}

.contest-topbar-info {
  .flex-container-row();
  
  .time-section {
    .flex-elem-fixed(50px);
    .flex-container-col();
    .flex-container-content-centered();
    text-align: center;
    margin-right: 8px;
  }
  .contest-flag {
    .flex-elem-fixed(20px);
    margin-bottom: 3px;
  }
  .column-start-hour {
    .flex-elem-fluid();
    .mainfont_bold(10pt, @grey-bluish);
  }
  .contest-name-section {
    .flex-elem-fluid();
    .flex-container-col();
    white-space: nowrap;
  }
  .contest-name {
    .flex-elem-fluid();
    .mainfont_bold(12pt, @white, left);
    overflow: hidden;
    margin-right: 5px;
  }
  .contest-description {
    .flex-elem-fluid();
    .mainfont_bold(10pt, @grey-bluish, left, none);
    overflow: hidden;
    margin-right: 5px;
  }
}
