@mainFont: 'Fjalla One', sans-serif;
@bodyFont: 'Open Sans', sans-serif;
@fontFacebook: helvetica, arial, sans-serif;

@font-family-base: @fontOpenSans;

.text_shadowing(@theColor) when (iscolor(@theColor)) {
	text-shadow: 1px 1px 1px rgba(red(@theColor), green(@theColor), blue(@theColor), 0.004);
}
.setFontProperties (@theFontSize, @theFontColor:inherit, @align:inherit, @transform: inherit) {
	font-size: @theFontSize;
	color: @theFontColor;
	text-transform: @transform;
	text-align: @align;
	.text_shadowing(@theFontColor);
  .user-select(none);
}
/*.mainfont_bold(@theFontSize, @theFontColor:inherit, @align:inherit, @transform: inherit) {
	.setFontProperties(@theFontSize, @theFontColor, @align, @transform);
	font-family: @mainFont;
	font-weight: 700;	
}*/
.mainfont_light(@theFontSize, @theFontColor:inherit, @align:inherit, @transform: inherit) {
	.setFontProperties(@theFontSize, @theFontColor, @align, @transform);
	font-family: @mainFont;
	font-weight: 500;	
}
.bodyfont_bold(@theFontSize, @theFontColor:inherit, @align:inherit, @transform: inherit) {
	.setFontProperties(@theFontSize, @theFontColor, @align, @transform);
	font-family: @bodyFont;
	font-weight: 700;
}
.bodyfont_light(@theFontSize, @theFontColor:inherit, @align:inherit, @transform: inherit) {
	.setFontProperties(@theFontSize, @theFontColor, @align, @transform);
	font-family: @bodyFont;
	font-weight: 500;
}
/*
OLD FONTS
*/
@fontOpenSans: 'Open Sans', sans-serif;
@fontExo: 'Fjalla One', sans-serif;

.exo_bold(@theFontSize, @theFontColor:inherit) {
	font-family: @fontExo;
	font-weight: 700;
	font-size: @theFontSize;
	color: @theFontColor;
	text-transform: uppercase;
	
	.text_shadowing(@theFontColor);
}
.exo_light(@theFontSize, @theFontColor:inherit) {
	font-family: @fontExo;
	font-weight: 500;	
	font-size: @theFontSize;
	color: @theFontColor;
	text-transform: uppercase;
	
	.text_shadowing(@theFontColor);
}
.opensans_normal(@theFontSize, @theFontColor:inherit) {
	font-family: @fontOpenSans;
	font-weight: 400;
	font-size: @theFontSize;
	color: @theFontColor;
	
	.text_shadowing(@theFontColor);
}
.opensans_bold(@theFontSize, @theFontColor:inherit) {
	font-family: @fontOpenSans;
	font-weight: 700;
	font-size: @theFontSize;
	color: @theFontColor;
	
	.text_shadowing(@theFontColor);
}
.facebook_font(@theFontSize, @theFontColor:inherit) {
	font-family: @fontFacebook;
	font-weight: bold;
	font-size: @theFontSize;
	color: @theFontColor;
	text-shadow: 0 -1px 0 #354c8c;
	-webkit-font-smoothing: antialiased;
}

