.table {
    width: 100%;
    margin-bottom: 20px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
th {
    text-align: left;
}
/*
.match-stats-table-wrapper .table-striped > tbody > tr:nth-child(odd) > td, .match-stats-table-wrapper .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #242529;
}
*/