body {
}


#main-menu-header {
  background: url(../images/HeaderBackground.jpg) no-repeat center top;
}

.navbar {
  height: 70px;
}

.navbar .nav > li > a {
  padding: 25px 25px 10px 10px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-login, .form-join {
  text-align: left;
}

[ng-cloak], [data-ng-cloak], .ng-cloak {
  display: none !important;
}
