body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-login, .form-join {
  text-align: left;
}

[ng-cloak], [data-ng-cloak], .ng-cloak {
  display: none !important;
}
