/*************************************************
Si hay que añadir nuevas banderas, ir a la siguiente url
url: http://flag-sprites.com/es_ES/;

Para evitar carga seleccionar todas las banderas que usemos.

Banderas usadas hasta la fecha: 
  - Alemania
  - España
  - Europa
  - Francia
  - UK
  - Italia
*************************************************/


.flag {
	width: 16px;
	height: 11px;
	background:url(../flags/flags.png) no-repeat
}

.flag.flag-de {background-position: -16px 0}
.flag.flag-es {background-position: -32px 0}
.flag.flag-eu {background-position: 0 -11px}
.flag.flag-fr {background-position: -16px -11px}
.flag.flag-gb {background-position: -32px -11px}
.flag.flag-it {background-position: 0 -22px}